[2019-04-12 18:10] muchcharles opened #1 "Crashes when SteamVR shuts down during editor use"
This crash happened after closing SteamVR manually, and then reopening it, while the editor was running but not in VR Preview (didn't crash until reopened, but I'm not sure if reopening is what really triggered it):

![image](https://user-images.githubusercontent.com/7025369/56057044-ddf04a00-5d2b-11e9-8c3f-650ae9598d62.png)

It didn't crash until steamvr reopened, but this was the last thing in t

[2019-04-13 07:42] brendanwalker opened #2 "FSteamVRInputDevice::GetControllerOrientationAndPosition doesn't take into account XRSystem's BaseOrientation/BasePosition"
Apologies if I should have posted about this in the Discord channel first. Since this is a bit long winded I figured posting an issue made more sense:

If you use the XRSystem's ResetOrientationAndPosition call the BaseOrientation and BasePosition state are set. This call is used in "Moss" every time we transition to a new room and want to recenter on the room's camera. The FSteamVRHMD::PoseToOrie

[2019-04-15 04:45] mikeyboybs opened #3 "Unable to init SteamVR runtime when connected to Oculus Rift"
When using the HTC Vive with Knuckles or Vive controllers all works as expected,

When using Oculus Rift with SteamVR (SteamVR shows oculus connected), the following displays and none of the options from the "SteamVR Input" tool bar respond in the output log.

**LogSteamVRInputDevice: Error: Unable to init SteamVR runtime 1.2.10: Not Initialized (109)**
LogSteamVRInputDevice: Display: Action Manif

[2019-04-15 18:36] keithbradner commented on #3
Looks like you also have the Oculus plugins enabled. I believe those take precedence on the engine side. You'll need to disable the oculus plugins if you want to use the SteamVR Input Plugin.

[2019-04-15 22:08] 1runeberg commented on #2
Thanks @brendanwalker, have reviewed, and this was overlooked during the re-implementation of the Motion Controller features - are you happy for me to integrate these to the code base similar to a  Pull Request?

[2019-04-16 01:33] mikeyboybs commented on #3
![2yolob](https://user-images.githubusercontent.com/20828914/56175628-34bc8480-5fb5-11e9-9106-a19717e40154.gif)

Thank you for the help @keithbradner! it goes to show I still have a ways to go. Such a simple thing. :)

[2019-04-16 01:33] #3 closed, assigned to nobody

[2019-04-16 01:56] brendanwalker commented on #2
Yeah totally happy! Thanks for taking a look.

[2019-04-16 23:53] 1runeberg commented on #2
Thanks Brendan! I've published **develop-4.21** with your revisions included, comment link to this GitHub issue at Tick().

Can you check from your end please before I start propagating to other branches (min ver for this is 4.18 as far as I can tell)

[2019-04-17 03:31] CrimsonZen opened #4 "PlaySteamVRHapticFeedback StartSecondsFromNow parameter ignored"
UE4: 4.22.0, source built
SteamVR: 1.4.1 beta
Plugin branch: develop-4.22 (`37097bca`)
Hardware: Vive, EV3 Knuckles

Tested by calling the blueprint node `Play Steam VR Haptic Feedback`. All calls appear to treat the `StartSecondsFromNow` parameter as `0.0f`, as haptic playback starts immediately regardless of value.

[2019-04-17 05:51] 1runeberg commented on #4
Thanks @CrimsonZen. Currently investigating.

[2019-04-17 05:54] 1runeberg commented on #1
Adding Discord thread on this so far for posterity...

**muchcharles | Into Arcade™Last Saturday at 4:12 AM**
@Rune Berg https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/1
GitHub
Crashes when SteamVR shuts down during editor use · Issue #1 · V...
This crash happened after closing SteamVR manually, and then reopening it, while the editor was running but not in VR Preview (didn't crash

[2019-04-18 04:40] 1runeberg commented on #1
**Update**
Solution now ready for this with backwards compatibility up to UE4.15
Cleaning up code in progress before publishing.

[2019-04-18 20:19] martinsweitzer opened #5 "When cooking for the PC we get a number of SteamVRInput warnings"
Using this command line:

call Engine\Build\Batchfiles\RunUAT BuildCookRun -project="MyProj\MyProj.uproject" -platform=win64 -build -package -cook -stage -pak -clientconfig=Development -archive

we get:

LogClass: Warning: FAnimNode_SteamVRInputAnimPose::MotionRange is not initialized properly
  LogInit: Display: LogClass: Warning: FAnimNode_SteamVRInputAnimPose::Hand is not initialized properly

[2019-04-18 21:30] 1runeberg commented on #1
temp branch: develop-internal holds a fix for 4.15, doing internal investigation for Packaged builds failing at VRInput() calls

[2019-04-18 21:31] 1runeberg commented on #2
@brendanwalker - quick nudge :) If you can do a finally verification please on your end before I propagate PR to main branches.

Cheers

[2019-04-18 22:01] 1runeberg commented on #4
Confirmed behaviour for release and beta channels of SteamVR. Investigation ongoing.

[2019-04-18 22:07] 1runeberg opened #6 "Ensure plugin builds in mono & non-monolithic builds"

[2019-04-18 22:09] 1runeberg opened #7 "Expose BP Nodes & CPP API for GetOriginLocalizedName and ShowActionOrigins"

[2019-04-18 22:10] 1runeberg opened #8 "Throw an error in UELOG when we don’t see pose / skeleton actions for the controllers"

[2019-04-19 00:59] martinsweitzer opened #9 "When cooking a pc build with the existence of restricted folder names having the the steamvr plugin will cause a staging error"
In SteamVRInput.Build.cs

this line should not exist

      RuntimeDependencies.Add(new RuntimeDependency("$(ProjectDir)/Config/..."));

it forces ALL of the various .ini(s) from say PS4 to be wanted to be staged.  But the PS4 is a restricted directory for win64 and the stage will fail.

[2019-04-19 01:24] zite commented on #4
Looks like this is an underlying issue in OpenVR. The OpenVR API TriggerHapticVibrationAction ignores the fStartSecondsFromNow param.

@kisak-valve Can you move this to the OpenVR repo?

[2019-04-19 12:23] mikeyboybs opened #10 "Best practice for replication?"
Hello,

I was wondering what the best practice for replication would be.

Currently I am using event tick and the get finger curls and splays node to get a float value of the finger curls. Then using switch has authority(authority) I set a replicated variable and on Remote I fire a custom event that executes on the server and sets the replicated variable.

When I run this code without using the fi

[2019-04-19 19:46] mikeyboybs commented on #10
Update:
Ok. I've gotten finger positions replicating except that the client seems to definitely be trading variable values from both server and client. When I close my fist on the client, it only represents the intended behavior every other frame (flickering between server and client finger positions). When I close my fist on both the server and client at the same time (by holding the controllers

[2019-04-19 19:51] 1runeberg commented on #9
This is fixed in develop – was there for a patch fix with packaged builds crashing/losing input with some headsets. The change to pure function calls in the current develop branch helps fix stability issues.

Let us know however if the SteamVRBindings subfolder also causes issues with PS4 builds, although ideally the plugin shouldnt be enabled or packaged for any PS4 builds.

[2019-04-19 19:51] #9 closed, assigned to 1runeberg

[2019-04-20 00:36] 1runeberg commented on #7
Initial implementation now in development-internal branch
Undergoing internal testing

[2019-04-21 20:50] 1runeberg commented on #10
@mikeyboybs - what's driving your animations?

[2019-04-23 18:40] smapty opened #11 "Vive Trackpad Touch Bindings (UE4 Side) become Press/Click bindings (SteamVR Input Side)"
There's an issue right now that if you select a touch input binding (in the input preferences within the UE4 editor), that binding will become a click in the SteamVR Input binding when you generate the controller bindings.

A quick change to SteamVRInputDevice.cpp:1435...
From
`InputState.bIsCapSense = CurrentInputKeyName.Contains(TEXT("CapSense"), ESearchCase::CaseSensitive, ESearchDir::FromEnd)`

[2019-04-23 22:07] 1runeberg commented on #1
Fixed in internal branches. Will be in 0.6 release.

[2019-04-23 22:07] #1 closed, assigned to 1runeberg

[2019-04-23 22:07] 1runeberg commented on #2
Added in internal branches. Will be in 0.6 release.

[2019-04-23 22:07] #2 closed, assigned to 1runeberg

[2019-04-23 22:10] 1runeberg commented on #6
Added in internal branches. Will be in 0.6 release.

@martinsweitzer

[2019-04-23 22:10] #6 closed, assigned to 1runeberg

[2019-04-24 05:02] 1runeberg commented on #5
Addressed in internal branches, included in upcoming 0.6a release

[2019-04-24 05:02] #5 closed, assigned to 1runeberg

[2019-04-24 22:22] smapty opened #12 "Buttons that are mapped to an axis action are set to "force" instead of "scalar_constant""
Hi!
So, I noticed that inputs that are buttons (in this case the Vive Controller Grips) that are mapped to axis values get set to force inputs instead of scalar_constants.

Until I found it, I thought the inputs weren't working. Once I remapped them, I was able to figure out what was happening. I have a fix for the grip issue only, but it'd be nice to have a better fix that would work with any but

[2019-04-24 22:23] martinsweitzer opened #13 "SteamVREditor.Build.cs has warnings when GenerateProjectFiles.bat is run"
Adding       ModuleDirectory +  allows the plugin directory to be placed where ever it needs to go

        PublicIncludePaths.AddRange(
            new string[] {
                "Public"
            }
            );

        PrivateIncludePaths.AddRange(
            new string[] {
                "Private",
            }
            );

should be:

        PublicIncludePaths.AddRange(

[2019-04-24 22:28] 1runeberg commented on #7
Added as an experimental feature in 0.6a - will keep this open until fully vetted.

[2019-04-24 22:30] 1runeberg commented on #13
Hi @martinsweitzer - is this because you have addtl subdirectories for the plugin tree?

[2019-04-24 22:33] martinsweitzer commented on #13
\depot_squanch\EZBake\Engine\Plugins\ThirdParty\SteamVRInput\Source\SteamVREditor\SteamVREditor.Build.cs: warning: Referenced directory 'C:\depot_squanch\EZBake\Engine\Source\Public' does not exist.
C:\depot_squanch\EZBake\Engine\Plugins\ThirdParty\SteamVRInput\Source\SteamVREditor\SteamVREditor.Build.cs: warning: Referenced directory 'C:\depot_squanch\EZBake\Engine\Plugins\ThirdParty\SteamVRInput

[2019-04-24 22:37] 1runeberg commented on #13
ah gotcha. thanks for the clarification.

The editor module was done initially in 4.15 where the other modules were downgraded from 4.21, module base was generated from the UE Editor iirc - need to make them consistent then. Thanks!

[2019-04-24 22:42] 1runeberg commented on #12
Thanks for reporting @smapty ! Will have a look.

[2019-04-25 19:37] 1runeberg opened #14 "Fix sample content warnings in higher versions of the engine (1M Cube, Deprecation warnings in Template)"

[2019-04-25 20:13] 1runeberg opened #15 "Fix error in sample content when using the Bow and Arrow"
PIE:Error: Error Blueprint Runtime Error: Accessed None trying to read property CallFunc_GetAttachParent_ReturnValue from function: 'ReleaseActor' from node: Branch in graph: ReleaseActor in object: BP_MotionController with description: Accessed None trying to read property CallFunc_GetAttachParent_ReturnValue

[2019-04-25 20:52] 1runeberg commented on #11
This is now fixed in develop branch.

Included your change and added extra processing to ensure Oculus keys get processed correctly as well. Thanks for reporting!

This will be included in the next release. I'm including you to the credits list, let me know if this is an issue for you or if you want a specific name to be listed other than @smapty :)

[2019-04-25 20:52] #11 closed, assigned to 1runeberg

[2019-04-25 23:18] 1runeberg commented on #12
This is now addressed (all buttons) in develop branch.

In the process of testing the solution, also uncovered that X, Y buttons specific to Oculus touch controllers aren't handled at all by the plugin. This functionality was added as well in the last commit.

develop is in 4.15, but you should be able to cherry-pick the last two commits to a copy of your version branch or repo fork.

Any issues o

[2019-04-25 23:18] #12 closed, assigned to 1runeberg

[2019-04-26 00:23] 1runeberg commented on #13
This is now addressed in develop.

any further issues on this, please just let me know. Cheers.

[2019-04-26 00:23] #13 closed, assigned to 1runeberg

[2019-04-26 01:22] 1runeberg commented on #15
Resolved in develop

[2019-04-26 01:22] #15 closed, assigned to 1runeberg

[2019-04-27 14:05] mikeyboybs commented on #10
Hi 1runeberg. Sorry for the late reply. Here is my resolution, but I would love to know if there is a better way. This works with two players, but needs more testing for multiple players.

I think the problem is that the authority's finger inputs are somehow translated to all the other pawns in a scene. I don't think this is a replication issue. The finger curl and splay inputs are somehow globall

[2019-04-28 23:00] 1runeberg commented on #10
Hi @mikeyboybs - The "Get Curls and Splays" is always local so you have to ensure your anims are run from values from the correct Player State.

Have you had a chance to read through Cedric's (@exifrexi) Network Compendium, might be helpful to have a look at the PlayerState section there if you haven't already :)

http://cedric-neukirchen.net/2017/02/14/multiplayer-network-compendium/

[2019-04-28 23:58] 1runeberg commented on #8
Added this in develop (needs confirmation before close):

https://github.com/ValveSoftware/steamvr_unreal_plugin/commit/492205a5b8c61e8d82f40f4aae7f1010532b486f

[2019-04-29 04:41] mikeyboybs commented on #10
Thanks! I'll give it a read.

[2019-04-30 03:09] 1runeberg opened #16 "Actions fire multiple times"

[2019-04-30 04:16] 1runeberg commented on #16
hotfix commits in:

develop (4.15): https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/c5271b5b140005a963d09412a4a0e8a9127bf3a0

develop-4.21:
https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/cdaf1424d2311c4641f4274b015827e4aa71c326

develop-4.22:
https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/0e4fa01cbfc3f9e282a590e7e4efea85ec319160

Still require full regression

[2019-04-30 14:20] mikeyboybs commented on #10
Hi @1runeberg,

Ok, after taking a look. Here's what I "think" I know.

According to the compendium, the player state is a great place to keep finger curl values because each client has a player state and each player state is replicated to all other clients. Sounds reasonable, so I whip up a player state blueprint and script the following:

![SOplayerstate](https://user-images.githubusercontent.co

[2019-04-30 23:45] smapty commented on #11
Karl Johnson would be awesome for credits! :)

[2019-05-01 21:24] #16 closed, assigned to 1runeberg

[2019-05-01 21:25] 1runeberg opened #17 "Node: Experimental node "Get Get SteamVR Action Array" is broken in 0.65a"

[2019-05-01 21:27] 1runeberg opened #18 "Temporary keys are stored in the DefaultInput.ini when remappings are done via the UI. This is normally fin, but in cases of major refactors in the mapping scheme, it can lead to input breakage."

[2019-05-01 21:34] 1runeberg commented on #10
Hi @mikeyboybs - make sure your PlayerState is being updated in the Server and not on the Client side so it gets replicated properly :)

[2019-05-01 22:32] 1runeberg commented on #17
Addressed in develop - pegged for 0.7 release.

[2019-05-01 22:32] #17 closed, assigned to 1runeberg

[2019-05-01 23:58] 1runeberg opened #19 "Expose GetOriginTrackedDeviceInfo in BP"

[2019-05-02 20:49] 1runeberg commented on #18
Addressed in develop - pegged for 0.7 release

[2019-05-02 20:49] #18 closed, assigned to 1runeberg

[2019-05-04 12:38] TarasDev opened #20 "Using SteamVR Skeletal Anim Pose in packaged app cause crash"
LogWindows: Error: begin: stack for UAT
LogWindows: Error: === Critical error: ===
LogWindows: Error:
LogWindows: Error: Fatal error!
LogWindows: Error:
LogWindows: Error: Unhandled Exception: EXCEPTION_ACCESS_VIOLATION writing address 0x00000001
LogWindows: Error: HandleError re-entered.
LogWindows: Error:
LogWindows: Error: [Callstack] 0x00007ffdbcfba0da vrclient_x64.dll!UnknownFunction []
LogWi

[2019-05-05 22:30] 1runeberg commented on #20
HI @TarasDev - I've tested various scenarios using:

4.22.1 - Source Build - no edits made
0.65a in 4.22 release branch
SteamVR 1.4.7 (latest beta) & SteamVR 1.3.23 (latest public)

in a packaged win x64 build using the provided sample content as the default game maps and unable to replicate the issue.

can you provide us with some repro steps please. Also, if you can share your full game log and

[2019-05-06 02:36] TarasDev commented on #20
Thats me being dumb. Crash is my fault not plugin

[2019-05-06 02:36] #20 closed, assigned to 1runeberg

[2019-05-06 20:18] #19 closed, assigned to 1runeberg

[2019-05-06 20:19] #8 closed, assigned to 1runeberg

[2019-05-06 20:22] 1runeberg commented on #7
Using 0 for actionset as param with the action handle returns success, but doesnt output anything to the compositor for UE, including 4.22.1 and upgrading the Engine's OpenVR.

Investigatin ongoing, other nodes are ok.

[2019-05-07 20:20] 1runeberg commented on #10
Hi @mikeyboybs - any luck?

[2019-05-08 01:00] mikeyboybs commented on #10
Hi @1runeberg,

Yes. I was able to make the code a bit more streamlined but I think it follows the same philosophy I was using before. I'll share my blueprint when I get home.

[2019-05-08 03:29] 1runeberg commented on #14
Addressed in develop-4.22, pegged for 0.7 release

[2019-05-08 03:29] #14 closed, assigned to 1runeberg

[2019-05-08 03:31] 1runeberg commented on #7
After internal discussions, we'll use a different OpenVRCall and/or supplement with existing nodes

[2019-05-09 03:16] mikeyboybs commented on #10
hi again @1runeberg, sorry for the delay.

Here is my "final" solution until I can iterate something better. hopefully others find it useful.

Character Blueprint (running a timer here because tracking gets wonky if it's tracked every tick)
![FingerPositionSolution](https://user-images.githubusercontent.com/20828914/57424837-4d941080-71d6-11e9-9795-191c18d1ad3c.PNG)
Animation Blueprint Event Graph

[2019-05-09 05:59] 1runeberg commented on #10
Thanks @mikeyboybs ! Glad you got it all sorted :)

Will refer others to this issue thread until we can get some sample content with multiplayer capabilities in the plugin.

[2019-05-09 05:59] #10 closed, assigned to 1runeberg

[2019-05-12 22:01] 1runeberg opened #21 "Vector2 actions arent being generated for MotionControllers when setup on its own"

[2019-05-14 20:09] 1runeberg opened #22 "Motion Source for "Special" categories in higher versions of the engine, need to be updated; Check possible new revisions as well in 4.22"

[2019-05-16 20:55] TarasDev opened #24 "Error: Couldn't find file for package /Script/SteamVRInputDevice requested by async loading code. NameToLoad: /Script/SteamVRInputDevice"
Steps to reproduce:

- Create new empty project
- Add any SteamVR Input BP node to Level BP
- Cook content for Linux
- Build Development Server for Linux
- Try to start executable

[Log.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/3189427/4zrS6GF9.1.txt)

[2019-05-17 00:20] 1runeberg commented on #24
Hi - At the moment, the plugin was designed for Winx64 builds only.

Will keep this open however, so we can inform Linux users as we start adding support for it.

Sorry for the inconvenience.

[2019-05-19 21:59] 1runeberg opened #25 "Ensure support for seated position"
- Override/Expose Reset Seated Position function in SteamVR
- For each pose, change the universeOrigin sent to GetPoseActionDataForNextFrame.
- Change pose update functions to use GetPoseActionDataForNextFrame

[2019-05-21 01:00] 1runeberg commented on #22
Addressed in develop-4.21 & develop-4.22

[2019-05-21 01:00] #22 closed, assigned to 1runeberg

[2019-05-21 01:00] 1runeberg commented on #21
Addressed in develop, develop-4.21 & develop-4.22

[2019-05-21 01:00] #21 closed, assigned to 1runeberg

[2019-05-21 01:01] 1runeberg opened #26 "Stray Y-Axis actions when applying fix for Issue #21"

[2019-05-21 04:33] 1runeberg commented on #7
Addressed in ver 0.7a

[2019-05-21 04:33] #7 closed, assigned to 1runeberg

[2019-05-21 04:40] 1runeberg commented on #25
New node "Reset Seated Position" added to Plugin's Function Library in develop, develop-4.21, develop-4.22

TrackingUniverse/Origin for all pose data fed to OpenVR are taken directly from current TrackingOrigin setting. TrackingOrigin can be changed in BP or CPP using "Set Tracking Origin" (Floor/Standing, Eye/Seated).

[2019-05-21 04:40] #25 closed, assigned to 1runeberg

[2019-05-21 07:07] 1runeberg commented on #26
Addressed in develop, develop-4.21 & develop-4.22

[2019-05-21 07:07] #26 closed, assigned to 1runeberg

[2019-05-21 21:08] 1runeberg opened #27 "Integrated Haptics"

[2019-05-21 21:10] 1runeberg opened #28 "Perf optims for Custom Animation Nodes"
- Perf otims
- Remove internal comments

[2019-05-24 05:07] 1runeberg commented on #27
Addressed in develop, develop-4.20, develop-4.21 & develop-4.22

[2019-05-24 05:07] #27 closed, assigned to 1runeberg

[2019-05-26 20:52] 1runeberg opened #29 "Improve ShowActionOrigin using ShowBindingsForActionSet call"
This shows a nice UI for troubleshooting input.

[2019-05-26 21:18] 1runeberg opened #30 "Add ShowAllSteamVR_ActionOrigins()"
Shows in user's headset all active bindings for the current controller

[2019-05-26 21:39] 1runeberg commented on #29
addressed in develop, develop-4.20, develop-4.21, develop-4.22

[2019-05-26 21:39] #29 closed, assigned to 1runeberg

[2019-05-26 21:39] 1runeberg commented on #30
addressed in develop, develop-4.20, develop-4.21, develop-4.22

[2019-05-26 21:39] #30 closed, assigned to 1runeberg

[2019-05-26 22:01] 1runeberg opened #31 "Upgrade OpenVR to 1.4.18"

[2019-05-26 22:43] 1runeberg commented on #31
Addressed in develop, develop-4.20, develop-4.21, develop-4.22

[2019-05-26 22:43] #31 closed, assigned to nobody

[2019-05-26 22:54] 1runeberg opened #32 "Add SummaryType to GetFingerCurlsAndSplays (FromAnimation, FromDevice)"

[2019-05-26 23:46] #32 closed, assigned to 1runeberg

[2019-05-26 23:46] 1runeberg commented on #32
Addressed in develop, develop-4.20, develop-4.21, develop-4.22

[2019-05-27 01:33] 1runeberg opened #33 "New in 1.4.18 is GetPoseActionRelativeToNow, expose a special BP/ Node & Function to allow devs to use this. Also, provide a way to toggle live controller pose updates to this call vs the default GetPoseActionDataForNextFrame"

[2019-05-27 01:45] 1runeberg commented on #33
Addressed in develop, develop-4.20, develop-4.21 & develop-4.22

[2019-05-27 01:45] #33 closed, assigned to nobody

[2019-05-27 05:33] 1runeberg opened #34 "Add new Actor Component to show tracking references - SteamVR Tracking Reference"

[2019-05-28 05:50] 1runeberg commented on #34
Addressed in develop, develop, develop-4.20, develop-4.21 and develop-4.22

[2019-05-28 05:50] #34 closed, assigned to nobody

[2019-06-02 23:36] ericranstrom commented on #24
Seeing this same error when executing on android (Oculus Quest).

[2019-06-02 23:49] 1runeberg commented on #24
Hi @ericranstrom, as it requires SteamVR Input, this plugin is not compatible (nor useable) for Quest executables :)

[2019-06-03 19:41] 1runeberg opened #35 "Get user IPD (Prop_UserIpdMeters_Float)"

[2019-06-03 22:32] 1runeberg opened #36 "Remove openvr dll in packaging"

[2019-06-04 20:03] 1runeberg opened #37 "SteamVR isnt loading the Action Manifest during VR Preview"

[2019-06-04 23:45] 1runeberg commented on #37
Confirmed this is a SteamVR runtime issue. Working on a resolution....

[2019-06-04 23:45] 1runeberg commented on #35
This is done. awaiting 1.0 release before publishing in develop. anyone who needs the code temporarily, let me know!

[2019-06-08 20:10] Eyesaac opened #38 "Maps missing from content folder in Sample File download"
There are no maps in the content folder for the sample map download.

Edit: It worked when I opened it in Unreal version 4.19 but not in 4.22.

[2019-06-08 21:30] eugenestrickbag opened #39 "No input from Knuckles EV3 on Unreal Engine 4.22.2 on Windows 64 bit."
I have been having issues with the unreal market place steam vr input plugin. When enabled on unreal engine 4.22.2 there is no input from any motion controller. There is no tracking of the controllers or any input from buttons, trackpads or thumbsticks. I tested this with both the knuckles EV3 controllers and the vive wands with the same result.

My steamvr version is the beta 1.5.6. This was test

[2019-06-09 21:51] 1runeberg commented on #38
Hi @stearnsi1 -- is this the Marketplace version or the source version from github?

The sample project just links to the sample maps from the plugin. So the plugin needs to be installed in the correct Engine for the sample project to work.

[2019-06-09 21:53] #38 closed, assigned to 1runeberg

[2019-06-09 21:56] 1runeberg commented on #39
Hi @eugenestrickbag !

Did you add input mappings in your project?

The SteamVR input system requires Action and Axis key mappings defined so that it can properly generate the correct action and controller manifests.

We've made a quick start here to try out the sample maps:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Quickstart

Also, we've made a fully working sample project her

[2019-06-09 21:58] Eyesaac commented on #38
That's exactly what it was. Turns out I hadn't installed to that version, my mistake. Feel free to delete this thread.

[2019-06-09 22:00] 1runeberg commented on #37
This was resolved in SteamVR 1.5.6

[2019-06-09 22:00] #37 closed, assigned to 1runeberg

[2019-06-09 23:18] 1runeberg commented on #35
Added in develop branches.

[2019-06-10 00:18] 1runeberg commented on #36
addressed in develop branches.

[2019-06-10 06:31] eugenestrickbag commented on #39
Yeah I had input bindings setup. With bindings setup and all those things generated there is no input from the controllers and they are locked to the tracking origin. Part of the problem is without the plugin enabled the tracking is fine for the controllers but when I enable the plugin it breaks all input and tracking for all motion controllers.

[2019-06-10 19:34] 1runeberg opened #40 "v2 Core Features"
- Action Sets Groupings of actions can be helpful to ease user rebinding and to only enable actions that are relevant to your current game context. In SteamVR Input we call those action sets. Currently we put all your actions into an action set called main that is active all the time. This means haptics that are configured in the binding layer on boolean actions will always fire, so it's best to d

[2019-06-10 19:38] 1runeberg commented on #39
Hi @eugenestrickbag - can you try the sample project and let me know if that's working from your end?

It sounds like the bindings aren't being loaded in for some reason. Typical causes are:

- Other plugins that uses SteamVR Input conflicts with the plugin
- Engine modifications that has tangential effect to the engine input system/pathways

[2019-06-10 22:11] 1runeberg commented on #35
HW Tests passed. Will be released in minor update.

[2019-06-10 22:11] #35 closed, assigned to 1runeberg

[2019-06-10 22:12] 1runeberg commented on #36
Version testing & packaging tests passed. Will be released in minor update.

[2019-06-10 22:12] #36 closed, assigned to 1runeberg

[2019-06-10 22:14] 1runeberg commented on #28
Refactoring ongoing...

[2019-06-11 04:08] eugenestrickbag commented on #39
The sample project works as intended.

[2019-06-11 06:24] 1runeberg commented on #39
Must've been a missed setup step then as the sample project was made from the Blank Blueprint project.

Can you try double-checking the steps on the quickstart here please:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Quickstart

Check the steps on adding sample inputs to your project and test them using the sample maps included in the plugin.

let me know how you go!

Cheers,
Rune

[2019-06-11 23:38] 1runeberg commented on #28
manual engine tests complete. code in develop branches.

[2019-06-11 23:38] #28 closed, assigned to 1runeberg

[2019-06-13 01:29] 1runeberg opened #41 "Ensure AnimInterface casts in Sample Content provide a graceful error when it fails"

[2019-06-13 03:42] eugenestrickbag commented on #39
Followed all the steps and tested the sample maps and still the same.

[2019-06-13 03:53] 1runeberg commented on #39
Can you try adding a Project Name in your Project Settings if there's none there?

Failing that, are you able to do a diff on files from our Sample project with the files on your Blank project? Have a look at what's different as they are based from the same template so should function the same. Unless we missed an obvious step in our documentation which I'm curious about.

Otherwise, if you can po

[2019-06-13 04:35] 1runeberg opened #42 "Incorrect Tooltips for bp structs"

[2019-06-13 12:59] TarasDev opened #43 "Crash when trying to add virtual bone to UE4HandSkeleton"
Assertion failed: Pose.GetNumBones() == UE4HandSkeleton::GetBoneCount() [File:D:\Build\++Portal+Dev-Marketplace+Full\Sync\LocalBuilds\PluginTemp\HostProject\Plugins\SteamVRInput\Source\SteamVRInputDevice\Private\AnimNode_SteamVRInputAnimPose.cpp] [Line: 150]

[2019-06-13 19:48] 1runeberg commented on #43
Hi @TarasDev - Yes, this is right. The assert is there as we do not support other skeletons for the animation retargetting other than the stock UE4 one (unmodified).

[2019-06-13 21:47] sbsce opened #44 "Not possible to define a new action and edit it in the steamvr binding dashboard without giving it some key"
It's not possible to define a new action and edit it in the steamvr binding dashboard without giving it some "Motion Controller ..." key, even when no such key should be used.

[2019-06-13 22:00] sbsce opened #45 "Add an event that fires when controllers are registered"
Currently, there is no good way to know when the controllers are turned on. Functions like FindSteamVR_OriginTrackedDeviceInfo only work when controllers are turned on, it would be good if there would be some way to know when it's fine to start calling functions like that.

[2019-06-14 02:13] #40 closed, assigned to 1runeberg

[2019-06-14 19:25] #43 closed, assigned to 1runeberg

[2019-06-14 23:02] 1runeberg commented on #41
in develop branches - manually tested changes against all supported versions

[2019-06-14 23:02] #41 closed, assigned to 1runeberg

[2019-06-15 03:04] sbsce opened #46 "Add "Both Hands" option to Haptics Node"
Sometimes, it's required that both hands play the same haptics. Would be easy to have a "Both" option additionally to "Right" and "Left" in the PlaySteamVRHapticFeedback function.

[2019-06-16 15:27] Eyesaac opened #47 "Vive Shoulder button input not functioning"
After installing the plugin and following the input remapping process, I can't seem to get the motion controller shoulder button input to work for the Vive controllers.  No issues with the Index.

As a side note, there is also a "SteamVR HTC Vive ..."  input binding missing for the shoulder buttons, maybe this is related, maybe I'm missing something.

The "Motion Controller (R)/(L) Shoulder" does

[2019-06-16 23:42] 1runeberg commented on #47
Hi @stearnsi1 - Can you:

1. Backup your Project's Config folder
2.  Add in "Steam VR Vive Controller Application Press Left/Right" in the Engine > Input settigns
3. Regenerate both the Action manifest and Controller Bindings using the Toolbar
4. Restart the Editor

Let me know how it goes!

[2019-06-17 00:38] Eyesaac commented on #47
Thanks again for the help. I tried this and realized in the process that the "shoulder" buttons are actually called "application" buttons which work perfectly fine.  I had mistaken the terminology.

[2019-06-17 20:54] 1runeberg commented on #42
addressed in develop branches

[2019-06-17 20:54] #42 closed, assigned to 1runeberg

[2019-06-17 20:54] 1runeberg commented on #39
Hi @eugenestrickbag - any luck?

[2019-06-17 23:40] 1runeberg commented on #44
Addressed in develop branches.

[2019-06-17 23:40] #44 closed, assigned to 1runeberg

[2019-06-18 01:22] 1runeberg commented on #46
Had a look at this, we won't be implementing any enhancements on this node as it has potential carry-on effects on other nodes and/or we may need to implment by having an additional "both" enum.

You can however create a fork for this or simply add an additional node for both left & right

We also support standard Haptic Curves, Play Haptic node from the engine is implemented similarly, so we woul

[2019-06-18 01:22] #46 closed, assigned to 1runeberg

[2019-06-18 01:56] Eyesaac commented on #47
It seems that the inputs work fine in the editor, however there are issues after shipping the build.  This time it is the "a" and "b", and trigger click not functioning on the index controller.  For the Vive controllers, the grip & shoulder aren't functioning after shipping the game.  I am not sure if this has anything to do with tweaking the input settings but I have already tried restoring the b

[2019-06-18 01:57] 1runeberg commented on #47
HI.... did you modify the bindings at all in the SteamVR Input dashboard?

[2019-06-18 02:08] Eyesaac commented on #47
I created these bindings in: Project Settings --> Input
Then ran the plugin buttons: "Add Sample Inputs"-->"regenerate Action Manifest"-->"Regenerate Controller Bindings"-->"Reload Action Manifest"
I do see the correct bindings when I open the input dashboard.

[2019-06-18 02:12] 1runeberg commented on #47
Can you provide me with a screenshot of the bindings if possible?

if you are in the Knuckles Discord server, might be also faster.

[2019-06-18 02:18] Eyesaac commented on #47
![InputScreenshot1](https://user-images.githubusercontent.com/51517910/59648616-ae0b5b80-914d-11e9-90b7-b7a355150fd6.JPG)
![InputScreenshot2](https://user-images.githubusercontent.com/51517910/59648617-aea3f200-914d-11e9-875b-912ce644d428.JPG)

[2019-06-18 02:22] 1runeberg commented on #47
sorry i meant the SteamVR Input Dashboard.

[2019-06-18 02:22] 1runeberg commented on #47
or hit me up in discord runeberg#9344

[2019-06-18 09:27] Eyesaac commented on #47
I think this is what you're looking for? Thanks
![InputScreenshot3](https://user-images.githubusercontent.com/51517910/59670282-b1243d00-9189-11e9-95b5-4b0deb87029f.JPG)
![InputScreenshot4](https://user-images.githubusercontent.com/51517910/59670283-b1bcd380-9189-11e9-92cd-6890f88d40c7.JPG)
![InputScreenshot5](https://user-images.githubusercontent.com/51517910/59670395-df098180-9189-11e9-9b23-8ecf

[2019-06-18 19:58] 1runeberg commented on #47
I was actually hoping to see how the Game/Project Title is written on top.

At any rate, when you make changes to the dashboard, ensure that you are using the "Replace Default Binding" button. This ensures that your changes are saved to your UE project and not to your local steamVR user  profile

Cheers,
Rune

[2019-06-18 22:21] Eyesaac commented on #47
Strangely, I cannot find the "Replace Default Binding" button.
This one has the title in it:
![InputScreenshot6](https://user-images.githubusercontent.com/51517910/59723871-d8b0ef00-91f5-11e9-9e07-66f87fe026ba.JPG)
Should it match the title of the actual Unreal project?
Thanks

[2019-06-18 23:21] mckress5433 commented on #39
I'm having the same problem. My motion controllers are not tracking. I've followed the quick start guide verbatim and the suggestions you listed above. Here is a screenshot of the Input Dashboard. My project name is MyProject2.

![image](https://user-images.githubusercontent.com/8797486/59726079-23366980-91fe-11e9-81d6-5616e4bc47bf.png)

[2019-06-18 23:23] 1runeberg commented on #47
You need to be editing the binding to see it. It could be an explanation for the input mismatch you are having in packaged projects.

This issue can be quite complicated though from here, so I suggest if we can move it to a chat platform. Might be faster to resolve. (Discord: runeberg#9344)

[2019-06-19 09:02] 1runeberg commented on #39
Hi @mckress5433, sorry didn't see this comment earlier. not sure this is the same issue though. can you send me your logs (in Saved directory) of your project please and I'll have a look.

If you can open a different issue as well for this that'll help for tracking and ensure I don't mix it up. Thanks.

[2019-06-19 15:46] mckress5433 commented on #39
I created a new project so that I could list out the steps to my approach in a new issue I was going to open, but the project works. So I figured I'd just post here that everything is working now.

[2019-06-19 21:09] 1runeberg commented on #39
@mckress5433 - thanks! glad you got it sorted.

@eugenestrickbag - how's your project going?

[2019-06-20 00:42] Eyesaac commented on #47
Ok thanks, added (Isaac#0051)

[2019-06-20 20:30] smapty opened #48 "HMD Proximity seems to not be able to be bound"
I'm not exactly sure where this issue resides, but I think the plugin should allow for proximity sensor support. Our game previously used this in order to have the game more responsive to the user wearing the HMD. I tried adding it manually by creating an action in the action manifest and binding to the VIVE's /user/head/proximity path, but it wasn't working and I wasn't sure how to get it working

[2019-06-22 00:08] 1runeberg commented on #45
Addressed in develop branches

[2019-06-22 00:08] #45 closed, assigned to 1runeberg

[2019-06-23 22:37] 1runeberg commented on #48
Hi @smapty - are you needing it so user's are able to rebind? The plugin shouldn't interfere with the "Get HMD Worn State" BP function, and should return accurate results depending on headset capability.

[2019-06-24 02:37] 1runeberg commented on #39
No response - closing for now. Please reopen if you're still having issues :)

[2019-06-24 02:37] #39 closed, assigned to 1runeberg

[2019-06-25 06:06] 1runeberg commented on #48
Anyways, addressed this in develop branches.

To use, add the new key "SteamVR HMD Proximity" to an Action Mapping and regenerate Action Manifest (warning: overwrite) and controller bindings (warning: overwrite)

[2019-06-25 06:06] #48 closed, assigned to 1runeberg

[2019-06-25 22:15] smapty opened #49 "4.21: Checking Controller status in packaged build results in "VRInputError_WrongType" input errors"
In our game, we check to see the number of motion controllers that are tracked to see how we should adjust player input. When we run FSteamVRInputDevice::GetControllerTrackingStatus, the VRInput()->GetPoseActionDataForNextFrame functions return a VRInputError_WrongType error.
I originally thought that the editor wasn't experiencing this issue, but it did when I first ran it. Eventually it was work

[2019-06-26 03:03] 1runeberg commented on #49
Hi @smapty - does that mean, you're not getting tracking on your packaged builds? or you are just seeing log entries on a dev/debug build?

[2019-06-26 04:41] dddubbb commented on #39
@1runeberg I am having exactly the issue described. Everything works fine in editor. After building in 4.22 win64 the motion controller components stay at the tracking origin.
Disabling steamVR input for Unreal plugin fixes the issue. Running Beta Version 1.0-sdk 1.4.18 from the marketplace.
Also using Mordentrals VR expansion plugin. First tried to remove his OpenVRPlugin to try and remove confli

[2019-06-26 04:54] 1runeberg commented on #39
@dddubbb - Can you open a different issue for this please, as it's getting mixed up with other issues. thanks.

There is a known issue with VRE, I believe mordentral recommends to remove the OpenInput module to ensure shipping builds work.

I'm not sure if mordentral has already moved out his OpenInput module as a separate plugin, you need to disable this specific plugin if you have it.

[2019-06-26 05:12] dddubbb commented on #39
@1runeberg I'll open a new issue after trying this current fix. I have removed his open input module but still experience the issue. I chatted to him briefly and tried a few similar things and he looked over my binding files.

[2019-06-26 05:42] dddubbb opened #50 "Motion controllers stop tracking on built project when plugin is enabled"
Using 4.22.3 Everything works correctly in editor.
In a packaged build the controllers still receive button input(teleport button still draws line, other buttons cycle movement as mapped) but are locked to the tracking origin. Making no other changes except disabling the SteamVR Input plugin fixes the issue.

Have mordentral's VR expansion plugin installed. Previously had his open vr input plugin

[2019-06-26 05:50] dddubbb commented on #50
Downloaded and built the sample project, works perfectly.

[2019-06-26 05:53] 1runeberg commented on #50
Hi @dddubbb , can you send me the following info & files please:

1. Plugin version you are using (as quoted in the .uplugin file or Editor)
2. Whether you are using the Marketplace or GitHub version
3. Is your UE4.22.3 a binary version from the launcher or a custom Engine compile?
4. How are you packaging your project? Please provide me with any command line or if you are simply using the packagi

[2019-06-26 06:01] 1runeberg commented on #50
@dddubbb

10. Your build logs for your broken shipping build.

[2019-06-26 06:41] dddubbb commented on #50
Sure thing!
1. Beta 1.0-sdk1.4.18
2. Marketplace (downloaded first day of release if that matters)
3. Binary version from launcher
4. File -> package project -> Windows -> 64 bit (Set to map only in project settings, including the one basic map with a mirror and the pawn)
5. Dev build: https://drive.google.com/open?id=16sR0Qtuu108so415xr59Xrgnksv3K-jM
6. Logs
[PIElog.log](https://github.com/ValveS

[2019-06-26 06:46] 1runeberg commented on #50
Hi... @dddubbb Thanks for the files!

I'm downloading them now and deleted your comment as it is public.

Sorry, I neglected to add where to send them : runeb@valvesoftware.com

For my reference, can you resend the links over to this email address please?

For 10, if the logs you have sent in 6 didnt include the earlier build process (for the broken shipping build), send me a copy of this as well.

[2019-06-26 07:12] dddubbb commented on #50
You've probably already seen them but sent that through, thanks again for the help!

[2019-06-26 22:14] 1runeberg opened #51 "Ensure steamvr input descriptions fit in the UI"

[2019-06-27 04:43] 1runeberg commented on #51
This works in conjunction with UE4 PR-5990
https://github.com/EpicGames/UnrealEngine/pull/5990

[2019-06-27 17:36] smapty commented on #49
Hey @1runeberg,

I did some more investigation and found the following. Hopefully, this gets to what you were wondering.

I was having issues using the GetPoseActionDataForNextFrame call and decided to use the GetPoseActionDataRelativeToNow instead. When I initially did that, the status came back correctly as EVRInputError::VRInputError_None. The problem was that the motion controller poses weren'

[2019-06-27 21:46] 1runeberg commented on #49
Hi @smapty - am a bit confused, the current published version of the plugin already does this? are you perhaps using an older version?

[2019-06-28 16:55] OptimisticMonkey opened #52 "Having issues getting Rift controllers to work"
Sample project doesn't seem to recognize rift controllers

[2019-06-28 20:07] smapty commented on #49
This is a published version with the filename...
```steamvr_unreal_plugin-1.0b_4.21.zip```
Let me know if there's a newer version we should be using.

I saw that the module would switch between NextFrame and RelativeToNow for FSteamVRInputDevice::GetControllerOrientationAndPosition based on GlobalPredictedSecondsFromNow but, FSteamVRInputDevice::GetControllerTrackingStatus didn't. I added the same

[2019-06-28 22:03] 1runeberg commented on #49
ah.. gotcha. have to look at more closely why thats happening, as NextFrame & RelativeToNow with a zero input should be the same call in the steamvr runtime.

what value are you putting in GlobalPredictedSecondsFromNow?

[2019-06-29 00:13] 1runeberg commented on #52
Hi @OptimisticMonkey - I'm unable to replicate this issue. Can you send me please your UE4 Project logs?

runeb@valvesoftware.com

[2019-06-29 00:15] 1runeberg commented on #50
Working offline with @dddubbb . Appears to be an issue for builds with the OpenVRExpansion plugin (not the VRExpansion plugin)

[2019-06-29 01:06] xXWhirlybirdXx commented on #52
I'm Possibly having the same issue. Using Oculus Rift S and Unreal 4.22.3. Hands move, but fingers can't close or grab anything. I tried my own new project and the SteamVR sample project.

[2019-06-30 13:57] OptimisticMonkey commented on #52
Thanks @1runeberg - I just received a Valve Index :-)….  so poor Rift is temporarily disconnected -  I will try again and post info

BTW - SteamVRInput seems to work fine with Index.

[2019-07-02 00:23] 1runeberg commented on #50
Issue appears to be an unstable project due to a couple of engine & third-party plugin upgrades.

Removing OpenVRExpansion in a simplified version of the project fixes the issue, although this cant be replicated in any other project. Motion sources in the simplified version are also missing.

Main project also exhibits an odd behavior of motion sources disappearing if the input plugin is removed.

[2019-07-02 00:23] #50 closed, assigned to 1runeberg

[2019-07-03 22:37] DanielOrchard opened #53 "Forward slashes in mapping names breaks manifest"
This is more of a bug/note than a issue. I was getting all sorts of problems both in Unreal and in the manifest, threw non-descript errors about action bindings errors. Anyway, I for some reason had some mappings that were MoveForwards/Backwards, and it turns out it was the slash that broke it.

I don't think you need to support such bad naming, but perhaps a better error for bad characters would

[2019-07-05 03:37] SimplyClueless opened #54 "Oculus Rift Having Issues"
Just saw this plugin and wanted to test out how the gripping worked as I was struggling with it myself. When playing in VR my head is stuck in the ground and my controllers don't want to give any input, nor do they match up with their actual position in the world. Oculus is always open by default as I can't use my Rift without that open but I have to manually open Steam VR. Could the clash between

[2019-07-05 03:40] SimplyClueless commented on #54
After some experimenting I found that I needed to disable the Oculus plugin from the plugins menu, now it works like a dream!

[2019-07-05 14:25] xXWhirlybirdXx commented on #54
Thank you! this solved my problem

[2019-07-05 19:46] #47 closed, assigned to 1runeberg

[2019-07-05 22:23] 1runeberg commented on #54
yes, we do advise disabling the engine's Oculus plugin when using SteamVR Input so it wouldn't override input controls.

Glad you got it all sorted.

[2019-07-05 22:23] #54 closed, assigned to 1runeberg

[2019-07-05 22:26] 1runeberg commented on #53
Thanks for the feedback. Will have a look.

[2019-07-07 03:08] OffLEashEnt commented on #52
Also having trouble getting Rift inputs to work.

Edit - they work if I disable SteamVR plugin.

Edit 2 - Enabling SteamVR plugin and disabling Oculus plugin and now the SteamVR inputs for Oculus work.

[2019-07-11 20:45] 1runeberg commented on #51
With PR-5990, will be addressed in a holistic way in: https://issues.unrealengine.com/issue/UE-77164

[2019-07-12 20:16] 1runeberg commented on #51
Target fix 4.24:
https://github.com/EpicGames/UnrealEngine/commit/8f0f7ba21a2b7de9b642c95648cb811bec01139b

[2019-07-13 11:40] mimattr opened #55 "SteamVRInput Linux build failure"
# Compatibility Report
- Name of the plugin with compatibility issues: **SteamVR Input Plugin**
- Version of the plugin: [0.7 Alpha](https://github.com/ValveSoftware/steamvr_unreal_plugin/archive/v1.0b_4.22.tar.gz)

## System Information
- GPU: **RTX 2060**
- Driver/LLVM version: **NVIDIA 430.26**
- OS: **Ubuntu 18.04.2 LTS (x64)**
- Kernel version: **4.15.0-54-generic**
- [Link to full system inf

[2019-07-13 14:13] SimplyClueless opened #56 "Converting To C++"
I just tried converting the sample project into c++ to test some classes and it gave me an error in the editor saying that the actor class was created but I couldn't access it until i rebuild the code from the source. I closed the project and tried to generate project source file yet I keep getting this error and I have absolutely no idea why!

Running C:/Program Files/Epic Games/UE_4.22/Engine/Bi

[2019-07-14 20:07] 1runeberg commented on #55
Hi @mimattr - thanks for the detailed report, appreciate it :)

At the moment the plugin doesn't have Linux support. We're working towards this. I'll keep this ticket open and ping you as soon as we have a linux compatible version.

[2019-07-14 20:19] 1runeberg commented on #52
@xXWhirlybirdXx , @OptimisticMonkey - Are you still having issues when the the Oculus plugin is turned off? At the moment, as the engine loads the Oculus plugin first prior to SteamVR, having it enabled breaksparts of SteamVR Input, so we suggest disabling the Oculus plugin for SteamVR builds/editing of your project.

[2019-07-14 22:39] 1runeberg commented on #56
Hi - A hot recompile should have been possible if you're adding it within the project code.

If you're adding classes to the plugin and/or have the same class names as those that already exist in the plugin, then you might get this error.

Try deleting the following folders (both plugin & project):

- Binaries
- Intermediate
- Saved
- Build (if it exists)
- .vs (if it exists)
- SteamVRInputPlugin.

[2019-07-15 03:38] SimplyClueless commented on #56
It happened to be an issue caused by the existing .Build.cs and .Target.cs. I tried deleting them and then building the source and it managed to work!

[2019-07-15 03:38] #56 closed, assigned to 1runeberg

[2019-07-15 18:56] CarstenZarbock opened #57 "cannot access private member declared in class 'UInputSettings' & 'FSteamVRInputDevice': cannot instantiate abstract class"
Can't compile due to

[code]

[2019-07-15 19:05] CarstenZarbock commented on #57
Is it a proper fix to override GetHandJointPosition(...) in FSteamVRInputDevice and use the Getter for ActionMappings (GetActionMappings()) & AxisMappings (GetAxisMappings()) or am i missing something?

Thank you for the formatting edit.

[2019-07-15 19:25] 1runeberg commented on #57
Hi @carstenzarbock - if you are using UE4. 23 Preview, please use the plugin in branch develop-4.23:

https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/develop-4.23

[2019-07-15 19:42] CarstenZarbock commented on #57
I am indeed on 4.23 prev, wasn't aware. Thanks, works!

[2019-07-15 19:42] #57 closed, assigned to 1runeberg

[2019-07-16 06:10] 1runeberg commented on #52
Closing this now. Please feel free to re-open if you are still facing issues with your Rift S. Cheers.

[2019-07-16 06:10] #52 closed, assigned to 1runeberg

[2019-07-17 04:33] 1runeberg opened #58 "Expose new OpenVR 1.5.17 VRInput call GetActionBindingInfo to Blueprint"

[2019-07-18 05:54] 1runeberg commented on #58
addressed in develop branches. 2 nodes/functions (Get & Find)

[2019-07-18 05:54] #58 closed, assigned to 1runeberg

[2019-07-22 22:51] 1runeberg opened #59 "MotionSources disappearing if a custom input device silently breaks in editor."

[2019-07-24 01:39] StevenWaltherMedia opened #60 "New input nodes like "grip strength" always returning 0, only A button and thumbstick work, which return '[STEAMVR INTERNAL] Temporary' bindings"
There are a whole bunch of new valve knuckle bindings that showed up after putting in this plugin but none of them work, and instead only a few buttons return what appears to be internal testing bindings (I used an 'any key' event and had it display the key name). It feels like I have an old version of the plugin but I downloaded the most recent zip on the github page (4.22)

[2019-07-24 02:06] 1runeberg commented on #60
Hi @StevenWaltherMedia. There's some required setup to use the new input System properly. A good place to start if you haven't already is our Quick Start Guide:

https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Quickstart

There is also a sample project you can check out which might be good to try first:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlug

[2019-07-24 19:29] StevenWaltherMedia commented on #60
Hey there, thanks for the fast reply!

I went through the quick start guide and got it all up and running!

However there are still a few missing functions in the bindings, specifically capacitive touch information for the touch pad (both trackpadpress and trackpadtouch return 1 when force is applied to the trackpad, but 0 when your thumb is resting on the pad with no force)  and the grip 'paddle'

[2019-07-24 23:11] 1runeberg commented on #60
Hi @StevenWaltherMedia  - I'm guessing you're using Index Controllers then. For what you're describing, you'll need axis bindings.

Have a look at the Sample Inputs:
TeleportDirectionLeft_X
TeleportDirectionLeft_Y

For Index controllers, they return the X & Y axis values of the the thumb. Unreal doesn't have native support for Vector2 in the input mappings, so you need to define the X & Y values i

[2019-07-24 23:56] StevenWaltherMedia commented on #60
Yes, I was able to set up the trackpad no problem, just find the correct axis from the list, apply it to a new binding, and use the steam vr input regenerate functions.

My problem is on the grip paddle. I want to be able to recreate the ability to move individual fingers based on where pressure is on the grip paddle to make functionality based on finger positions, but I can't find any axis bindin

[2019-07-25 00:03] 1runeberg commented on #60
Individual finger curl values for the Index Controllers aren't exposed directly as axis inputs. You'll need to use the node "Get Finger Curls and Splays".

We provided a sample on how to use these values in BP_JoeJeffCharacter, in the EventGraph when detecting custom gesture recognition.

[2019-07-25 00:16] StevenWaltherMedia commented on #60
That's the magic bullet I was looking for! I'm sorry I missed it in the example blueprint!

Thanks so much!

[2019-07-25 00:16] #60 closed, assigned to 1runeberg

[2019-07-28 20:26] 1runeberg commented on #59
addressed in develop branches, 4.19 and above.

[2019-07-28 20:26] #59 closed, assigned to 1runeberg

[2019-07-30 15:36] samuelthomson opened #61 "Moving Steam VR assets to my own project"
Hello, I have the recent VR sample project working for HTC Vive/Unreal v4.21: https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Quickstart

However, I haven't been able to get the MotionControllerPawn working in my own project. Here's what I've tried to do:

Install the SteamVRPlugin
click SteamVRInput in the toolbar, and then click Add Sample Inputs, Regenerate Action Manifest, Regenera

[2019-07-30 15:51] samuelthomson commented on #61
Hello, I have the recent VR sample project working for HTC Vive/Unreal v4.21: https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Quickstart

However, I haven't been able to get the MotionControllerPawn working in my own project.  Here's what I've tried to do:

- Install the SteamVRPlugin
- click SteamVRInput in the toolbar, and then click Add Sample Inputs, Regenerate Action Manifest, Reg

[2019-07-30 18:41] samuelthomson commented on #61
For anyone else struggling, I've done the following and it seems to have fixed it:

- refresh the steam VR input
- assign hand meshes and animations in the MotionControllerPawn settings
- changed the construction script on BP_MotionController to use a "Switch on EcontrollerHand" node.

[2019-07-31 14:33] imaekgames opened #62 "Nodes "require refresh" upon reopening project"
When I close and reopen my project all of the SteamVR Input nodes are broken and require a "refresh" and then they are just fine.

Extra: What's odd is that we tried making clones of projects and migrating to other projects and it's extremely isolated with this specific project(possibly specific Blueprints) which was a C++ project that was originally migrated from a 4.21 project.

[2019-07-31 19:23] 1runeberg commented on #61
Ideally, the sample assets shouldn't be used as we may be updating them and can affect your game, if you make modifications.

You can use them as a starter though either by copying assets you need or creating child BP classes based on the sample ones we provided.

Glad however you got things sorted on your end for now. Any other questions on this, let me know!

[2019-07-31 19:23] #61 closed, assigned to 1runeberg

[2019-07-31 19:24] 1runeberg commented on #62
Hi @imaekgames - can you let us know which nodes in particular that need refreshing?

[2019-07-31 19:27] 1runeberg opened #63 "Provide support for HTC Cosmos"

[2019-07-31 19:28] 1runeberg commented on #62
or is it just Get Curls and Splays?

[2019-07-31 20:02] imaekgames commented on #62
It's all of them says @parthnaik92

[2019-07-31 20:04] imaekgames commented on #62
Here's two supporting images that might help
https://i.gyazo.com/1f1550d30512c684e68ac9e7449e2397.png
https://i.gyazo.com/08eca560bcb411fc9ad31c656007af4c.png

[2019-07-31 20:25] 1runeberg commented on #62
Thanks @imaekgames @parthnaik92 - can you send me please the UE Project Logs to runeb@valvesoftware.com

[2019-07-31 20:44] imaekgames commented on #62
Sent you an email from michael@vectre.xyz (sometimes email servers block our .xyz address so lemme know if u received)

[2019-07-31 21:49] 1runeberg commented on #62
Hi.. Got it, thanks!

From the logs, it seems like another plugin, Dialogue System (?), is doing some BP compiles or you've modified content for that plugin and added our nodes in them.

This plugin also loads in the same loading phase as ours - which is pretty much the last loading phase (PostEngineInit).

Unfortunately, there's no guarantee which plugin would be loaded last in this scenario, it

[2019-07-31 22:09] 1runeberg commented on #62
@imaekgames @parthnaik92 - can you migrate some parts with the issue (guessign its with the dialogue system) on a new project and send it over to me? Epic wants to have a stab at it.

[2019-08-01 13:16] parthnaik92 commented on #62
@1runeberg thanks for all the help! We will send you a project with the dialogue system plugin by the end of the day. You were correct when you said this "Dialogue System (?), is doing some BP compiles or you've modified content for that plugin and added our nodes in them." We were using "Get Finger Curls and Splays" node in our VR hand animation BP, which was referenced in the VR Pawn BP, which i

[2019-08-01 13:56] parthnaik92 commented on #62
I changed the loading phase of the dialogue plugin to "PostEngineInit" from "PreDefault" and everything is working fine now. This could be a temporary fix.

[2019-08-01 16:44] parthnaik92 commented on #62
@1runeberg sent you the project

[2019-08-02 23:00] 1runeberg commented on #62
Hi @parthnaik92 - forwarded that to Epic, but I think there's not really any action to do since moving the loading phase worked. Epic just wanted to have a closer look at a migrated project in case it was just a project config issue that we could be missing from the logs.

[2019-08-02 23:43] 1runeberg commented on #62
Closing for now :)

[2019-08-02 23:43] #62 closed, assigned to 1runeberg

[2019-09-04 03:40] 1runeberg opened #65 "Regression in develop branches - Incorrect bindings path for axis mappings"

[2019-09-04 03:57] 1runeberg commented on #65
Addressed in develop branches.

[2019-09-04 03:57] #65 closed, assigned to 1runeberg

[2019-09-04 03:57] 1runeberg commented on #63
Addressed in develop branches.

[2019-09-04 03:57] #63 closed, assigned to 1runeberg

[2019-09-04 03:57] 1runeberg commented on #49
Addressed in develop branches.

[2019-09-04 03:57] #49 closed, assigned to 1runeberg

[2019-09-10 11:59] finn-wa opened #66 "Is it possible to use this plugin to get input from more than 2 Vive controllers?"
Hi, I'm doing a research project which involves two people interacting in VR on the same system. Currently I have two Vive Controllers connected through the headset and another two connected through Vive Tracker dongles (they are recognised by SteamVR as controllers). I can get their position and rotations by using the native UE4 functions GetValidTrackedDeviceIDs and GetTrackedDevicePositionAndOr

[2019-09-10 23:36] 1runeberg commented on #66
Hi - No, we only support two controllers - one for the left hand and the other for the right with the new input system.

Vive Trackers are supported via the new input system however via the SteamVR Input interface but they dont have the same level of button support.

[2019-09-10 23:49] finn-wa commented on #66
Is there any way I can make the extra controllers use the Tracker input system? Can I flash the firmware or something?

[2019-09-10 23:55] 1runeberg commented on #66
there's no support for it in the runtime. there are only two paths - /input/left & /input/right which corresponds to inputs for the left & right controllers respectively.

is the research reliant on having hte players in a single physical system/PC rather than a single VR environment?

[2019-09-11 00:11] finn-wa commented on #66
Yes, it's an interactive spectator system so ideally it would be running on one PC. Two PCs would make things a lot easier but unfortunately I've run out of time to make the switch. I think I'll be going with my backup option which is taping Vive Trackers to Wii remotes and getting the input from them. Obviously using the pogo pins on the trackers would be a more elegant solution but I don't have

[2019-09-11 00:23] 1runeberg commented on #66
one sec.. are you actually using TRACKERS and not two extra Vive Controllers?

if you are, is it the blue logo ones or the grey logo ones?

[2019-09-11 00:35] finn-wa commented on #66
I have access to 4 Vive Trackers (2018 blue logo ones) and 4 Vive Controllers. The original plan was to have the primary VR user using their Vive controllers as normal, and then I'd tape Vive Trackers to some kind of one-handed controller (like a Wii remote) to act as the second player's controllers. Last night I discovered that the Tracker dongles can be used to connect extra controllers to Steam

[2019-09-11 00:37] 1runeberg commented on #66
not 4 Vive Controllers no.

tracker buttons can be mapped though to actions (blue logo ones)

[2019-09-11 06:02] CrimsonZen opened #67 "Some actions fail to work under Shipping build configuration"
I have a project based on a couple-weeks old 4.22 GitHub version of the plugin, where all actions were working fine in Shipping packaged builds and in editor. I ran into issues today after a couple days of developing in-editor with some newly added actions:

* Added about 10 actions to the project's inputs, such as `UINavEnterRight` (to correspond to pressing "A" on the Right controller.) Each act

[2019-09-11 21:00] 1runeberg commented on #67
When running the shipping build, are you running the Editor as well in the background?

Also, have you tried checking the action mappings from the Input Debugger (SteamVR Dashboard)?

[2019-09-11 21:01] 1runeberg commented on #66
closign htis for now.

[2019-09-11 21:01] #66 closed, assigned to 1runeberg

[2019-09-11 22:29] CrimsonZen commented on #67
* Am not running editor in background.
* Input debugger lights up the correct actions but I get no behavior in-game.

Additional discovery: it works fine in the `DebugGame` packaging configuration.

[2019-09-11 22:36] 1runeberg commented on #67
are you able to try the build in a different machine? One that hasn't run this app or the editor build before?

[2019-09-11 22:41] CrimsonZen commented on #67
Not at the moment, unfortunately.

[2019-09-11 22:43] 1runeberg commented on #67
can you post screenshots of the SteamVRInput dashboard (full window) with the mappings and also the Input debugger. (Shipping build)

[2019-09-11 23:03] CrimsonZen commented on #67
Bindings for shipping build:
![image](https://user-images.githubusercontent.com/2038173/64741385-2499ca00-d4ad-11e9-95ea-3700fb376cb3.png)
![image](https://user-images.githubusercontent.com/2038173/64741389-2c596e80-d4ad-11e9-9fa4-cdac9524fa96.png)
![image](https://user-images.githubusercontent.com/2038173/64741394-34191300-d4ad-11e9-9df3-b1c3f59987f8.png)

Part of the Input Debugger with relevant

[2019-09-11 23:07] 1runeberg commented on #67
Arethe SideGripped Pressed the new actions?

[2019-09-11 23:10] CrimsonZen commented on #67
Everything beginning with "UINav" are new. I actually missed the new ones in that screenshot; here's a better one:

![image](https://user-images.githubusercontent.com/2038173/64741786-a9d1ae80-d4ae-11e9-8f67-40844ce2d174.png)

[2019-09-11 23:18] 1runeberg commented on #67
Id suggest testing those actions to a simpler mechanic. try rebinding the action to one of hte old actions that actually gets triggered in the game

[2019-09-11 23:21] 1runeberg commented on #67
based on your feedback on using just the Enter key, could be something to do with what the functions the action is triggering thats not running properly in a shipping build as keyboard inputs should not fail.

[2019-09-11 23:24] CrimsonZen commented on #67
Yeah, something's super fishy. It's particularly strange that the new InputActions in the shipping build work if I copy the build to another machine.

Seems like it's not _likely_ to be SteamVR Input related, unless there's some weird glitch in the action generation pipeline that created a wonky action?

[2019-09-11 23:29] 1runeberg commented on #67
that'll be quite unlikely with those results from the Input Debugger.

Dpad actions as generated by the plugin are also used in a major published title, that wouldve broken as well (for a lot of users) if thats the case.

[2019-09-11 23:38] CrimsonZen commented on #67
Might be related to this issue: https://answers.unrealengine.com/questions/909490/view.html

[2019-09-12 06:47] dillyframe commented on #67
I can confirm that I had the same problem - new input didn't work in packaged build.
After deleting Input.ini in Local/MyProjectName/Saved/Config/WindowsNoEditor and launching game again everything worked as intended as Input.ini was autogenerated again with new input. But it was long before v1 plugin.

I thought it was something project related as the game was already in steam before integrating

[2019-09-12 07:11] CrimsonZen commented on #67
Yep, I managed to confirm that fix earlier today as well, @dillyframe

Probably safe to close this issue as not being related to SteamVR Input.

[2019-09-12 09:22] #67 closed, assigned to 1runeberg

[2019-09-23 22:44] jrlvr opened #68 "Root bone of VR glove has a scale of 100?"
Just wondering why the root bone of the glove has a scale of 100? It is making it rather difficult to re-target the animation to a new glove due to this, and I was wondering if there is a specific reason why it has that scale?

[2019-09-24 22:07] 1runeberg commented on #68
Hi @jrlvr - the reason for the scale is that data that comes from SteamVR is in metres and unreal's units are in cm, so we have to apply a conversion to the scale.

Hope that info helps!

Cheers,
Rune

[2019-09-25 03:53] MisterGenius0 opened #69 "Input doesn't work when you export the project with the plugin"
I don't know if im missing something but the input works in the editor but when I export the project the input stops working. This issue started with unreal 4.23

[2019-09-25 16:05] 1runeberg commented on #69
HI @MisterGenius0  - do you mean in a packaged project?

If you're using Oculus, make sure that the engine's Oculus plugin is disabled and also, try clearing config/input files in  %APPDATA%

[2019-09-25 16:37] MisterGenius0 commented on #69
Yes, I did mean Package Project.

I deleted folder located C:\Users\...\AppData\Local\UnrealEngine\4.23\Saved\Config
and It didn't fix it. Also, the Oculus plugin is disabled. (I'm Using Vive)

[2019-09-25 16:45] 1runeberg commented on #69
There should be a folder with your app name on appdata as well.

[2019-09-25 16:51] MisterGenius0 commented on #69
Ok, Strange, it's not there in AppData\Local no folder with the project name (I did see an older project there though)

[2019-09-25 16:53] 1runeberg commented on #69
Do you have the plugin and steamvr bindings folder in your packaged project?

[2019-09-25 16:58] MisterGenius0 commented on #69
Yes, Located at D:\WindowsNoEditor\TestProject\Config\SteamVRBindings

[2019-09-25 16:59] 1runeberg commented on #69
Can you post a screenshot of the steamvrbindings dashboard? Also, make sure you don't have the editor on when running the build.

[2019-09-25 17:03] MisterGenius0 commented on #69
Ok Here is One Event Out of many that are not executing
![Annotation 2019-09-25 093926](https://user-images.githubusercontent.com/39445650/65622976-a7298b80-df7b-11e9-8e2b-52c0fd01c1eb.png)
![Annotation 2019-09-25 100124](https://user-images.githubusercontent.com/39445650/65622982-aa247c00-df7b-11e9-8afd-4b551ddbb6ba.png)
![Annotation 2019-09-25 100113](https://user-images.githubusercontent.com/39

[2019-09-25 17:06] 1runeberg commented on #69
Can you post one from the dashboard when running the packaged build?

[2019-09-25 17:35] MisterGenius0 commented on #69
Ok Found out it might not be a plugin issue. One of the maps it working, So I have to look why the other maps are not working

Thanks for your help :)

[2019-09-25 17:35] 1runeberg commented on #69
No prob!

[2019-09-25 18:04] mcablePM commented on #69
Is it the first loaded map that has an issue? I've found on 4.23 that I get no events on the first map, but if I load another after that all the buttons and events work as expected.

[2019-09-25 18:05] MisterGenius0 commented on #69
YES! that's it I was just about to type that lol 👍

[2019-09-25 18:06] #69 closed, assigned to 1runeberg

[2019-09-26 19:39] ANixon opened #70 "Migration from 4.22 to 4.23 and Input Events are no longer firing anymore on Packaged Shipping Build"
This may be related to https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/69

Everything was working perfectly before upgrading. Not it seems I can only get the events to fire in the editor. Several users have reported the same issue on my project so I assume it isn't anything to do with my local binds.

Steps I've taken to try and resolve the issue:
- Ensured Oculus Plugin isn't enable

[2019-09-28 21:31] 1runeberg commented on #70
Hi @ANixon Thanks for the info and @MisterGenius0 for reporting.

I've completed a number of tests on this and can confirm an issue with the input handover for Oculus Rift S at least in packaged builds. Currently doing more tests and investigating further, will post here any updates/hotfixes.

Thanks again for reporting.

[2019-09-30 15:47] 1runeberg commented on #70
It seems that in 4.23 packaged builds, the engine doesn't appear to be referring to the Input.ini that's generated by the project during runtime, only the bindings in the DefaultInput.ini

So any custom key bindings aren't getting properly processed as temporary keys are generated by the plugin to trigger actions regardless of controller input source as needed by SteamVR (and also OpenXR).

Not se

[2019-09-30 15:50] #68 closed, assigned to 1runeberg

[2019-09-30 20:48] tedconry opened #71 "Switch out vr gloves for custom mesh and rig"
Hey, I need to switch the default vr gloves for my custom mesh. I'm having trouble getting the animation to re target. I've taken the default steam vr gloves into Maya and lined them up with my mesh and duplicated the rig from the steam vr ( to get the same orientation) and applied it to my mesh. Now, in Unreal real engine 4, I tried to re target the animation and I'm getting bad results. I tried

[2019-09-30 23:33] 1runeberg commented on #71
If you just want to reuse the sample content, you can do a re-import of the mesh after your changes in Maya (may not work properly if mesh is substantially different or not based on the original steamvr fbx):

![2019-09-30 16_21_36-Window](https://user-images.githubusercontent.com/17371351/65924097-0f270a00-e3a0-11e9-9b92-eda9a639a23c.png)

However, it is best to re-implement the code (for live an

[2019-10-01 14:26] tedconry commented on #71
ok, How do I get my rig and my mesh into to use in your plugin?

[2019-10-01 14:38] tedconry commented on #71
Also, all the rig information has to be the same in order for the plugin to work?The root bone  is scaled at 100 (meter to cm conversion) and the fingers have different orientation than the rest of bones. I want to make sure that the rig  is built right in order to to use your plugin.

[2019-10-01 18:16] 1runeberg commented on #71
Hi @tedconry - you need to rig your mesh based on the SteamVR skeleton, original sample fbx can be found in your system at:
C:\Program Files (x86)\Steam\steamapps\common\SteamVR\resources\skeletons

or you can also use the UE4 hand skeleton that comes with the Unreal Engine VR Template (if you look at the node in my previous post, there's a dropdown where you can select the skeleton type).

the pl

[2019-10-01 20:59] tedconry commented on #71
Yeah,that worked. Thanks for the quick reply and all the information. You're a life saver.

[2019-10-03 14:08] iamisandisnt opened #72 "Lost MotionController tracking and finger splays/curls with latest update"
Hiya, thanks for the awesome plugin. I was able to get finger curls and all sorts of great tracking working with the last version.

I noticed in the earlier version, in the UE4 VR Template, that the 'Hand' variable on MotionController was being deprecated and that the engine suggests using 'Motion Source' instead. On previous versions of the SteamVR Input Plugin, when I used Motion Source, everyth

[2019-10-03 14:13] iamisandisnt commented on #72
PS that Hand variable can be found on the Construction Script of the MotionController BP.

In the UE4 Template, it is being called only on Construction. In the Steam VR Input Template, the Motion Source variable is used instead, and it is also called on Begin Play.

The Steam VR Input Template works fine out of the box, but the UE4 VR Template is broken out of the box with the Steam VR Input Plugi

[2019-10-03 17:36] iamisandisnt commented on #72
WOW I fixed it.... after trying to update to 4.23, trying different plugin versions... I finally fixed it by doing the 1, 2, 3, 4 steps once more. 😕

Anyway, much relief. I have finger tracking and motion tracking back in the plugin. I just need to figure out inputs again :D

[2019-10-03 17:41] iamisandisnt commented on #72
And I've got input now. All good!

[2019-10-03 17:41] #72 closed, assigned to nobody

[2019-10-03 19:21] getnamo commented on #24
We ideally need a way to disable the incompatible code paths for linux/android so the plugin can be used in a project that supports both android (quest) and win (valve index) and dedicated server builds without enabling/disabling the plugin.

[2019-10-03 19:53] Biggsism commented on #24
Thanks for bringing this up Getnamo. Saw this pop up in my email updates and want to dogpile onto the topic-

We have this exact challenge when we attempt to use this plugin. Our title performs cross-platform between Quest, IOS, Android, and PC using iphones, android devices, Oculus HMDs, and Steam VR HMDs.

Steam VR plugin breaks our ability to build on everything but PC so we have had to remain

[2019-10-03 20:07] 1runeberg commented on #24
@getnamo - what's the workflow you are trying to achieve? Is this for test builds only? Not entirely sure if you are wanting the plugin to build for a non-whitelisted platform (including being added unnecessarily to packaged builds) or if you have a specific use case in mind?

also, does the oculus quest checks not require exclusion of other vr platform dlls similar to the PC to pass certification

[2019-10-05 03:15] getnamo commented on #24
The problem largely comes from the fact that just including the plugin breaks packaging for non-supported plugins. Enable/Disable dance on a project is a path of developer pain. What I'm suggesting is something like how epic uses HAL to abstract platform specific implementation.

You have one module that defines api (interfaces/base classes etc however it needs to be structured) and you can also i

[2019-10-05 03:25] 1runeberg commented on #24
I understand your concern and the bit of pain on manual builds, at the moment however the plugin is only whitelisted for Win64 and this is specified in the uplugin file.

Haven't checked recently but ideally, builds bound for a non-whitelisted platform specified in the uplugin shouldn't be included by the engine.

The issue with other plugins is largely out of our control as the defaults in the en

[2019-10-05 04:41] getnamo commented on #24
You raise some very good points, there may be some ways to mitigate some of the issues on the dev side, but we'd need some best practice hints. There are also a few factors I think that complicate possible solutions:

1) Including a blueprint that depends on plugin content will obviously break that build if the plugin is missing. I believe you may be able to get around this in C++ by doing platfor

[2019-10-05 07:50] 1runeberg commented on #24
Thanks for the feedback. At the moment not sure if a code architecture solution to a build workflow issue is really appropriate.

There are a number of built in engine build tools and third party scripts which shouldn't be too difficult to produce and does not require any monetary investment.

I'll try to open source some build scripts in either python or powershell or tutorials on UE build system

[2019-10-06 04:12] zoshua opened #73 "4.22 and SteamVR 1.7.15"
Hi,

I wanted to know if I should expect a fresh setup in 4.22 to work with SteamVR 1.7.15

I am seeing the sample project in 4.23 work no problem.

However I am having no luck trying to connect things up in simple 4.22 project.

Help!

Thanks.

+z

[2019-10-07 15:50] 1runeberg commented on #73
Hi @zoshua - We'll likely update the plugin on the next release to a later version of SteamVR (currently it's at 1.5.17). We're just ensuring everything is stable while in parity with the Unreal Engine built-in OpenVR. Hopefully in the next couple of weeks.

Was there a particular feature in 1.7.15 you were after?

[2019-10-07 20:48] Derp101010 opened #74 "Axis input value from Thumbsticks and Trackpads always zero"
I haven't used earlier versions of the plugin. I updated UE4 to 4.23 and got the current version of the plugin from the marketplace a few days ago.

When I activate it, the axis input (that works without the plugin) from sticks/pads is always zero. I tried it in my own project with code and blueprint input functions, with the VR Template project by Epic and with the plugin's sample project. Also t

[2019-10-07 21:19] 1runeberg commented on #74
Hi @Derp101010 - As UE doesn't have native support for Vector2 axis (combined X,Y floats), which I believe is going to be addressed soon by Epic, you need to configure the axis in a special configuration in order for the plugin to recognize it as a Vector2.

Below is a (unofficial) tutorial on how to set this up:
https://www.youtube.com/watch?v=oi93qXgNBjk&list=PLngZ5l9HmlORHi2E1UzxPxD6BnXHyZ6M0&i

[2019-10-07 22:05] Derp101010 commented on #74
Ahhh. I did read that part in the documentation, but didn't understand what's so special about having a seperate axis input for each Vector2 component. That's what all my axis inputs looked like... Didn't realize the naming was important. I will try it tomorrow. Thank you. Gonna delete the posts on the steam vr forum I made.

edit: ok, now it works

[2019-10-08 23:31] 1runeberg opened #75 "controller bindings not being added in the steamvraction manifest during first attempt at generating the action manifest"

[2019-10-08 23:41] 1runeberg commented on #70
Hi @ANixon @MisterGenius0 @mcablePM - if you ever get a chance, you can try the code in develop-4.23 or develop-4.24. It ensures DefaultInput.ini is updated which seems to have either broken or changed with 4.23+, this helps circumvent the issue of the engine not going through the runtime generated input.ini in the first level loaded, until epic can fix it.

[2019-10-08 23:53] 1runeberg commented on #75
addressed in develop branches

[2019-10-08 23:53] #75 closed, assigned to 1runeberg

[2019-10-08 23:55] 1runeberg commented on #74
awesome. will close this issue now then.

[2019-10-08 23:55] #74 closed, assigned to 1runeberg

[2019-10-09 01:18] MisterGenius0 commented on #70
@1runeberg Yea I tested It with 4.23 and looks like it works now :) good job!

[2019-10-09 01:20] 1runeberg commented on #70
awesome, thanks @MisterGenius0 for having a look!

[2019-10-10 14:25] CybershoesVR commented on #73
Hello @1runeberg - We're also working with UE4.23, but it doesn't seem to work at all. We're making Cybershoes, a VR-Treadmill that relies heavily on SteamVR Input, so we would also really appreciate this update.

As a feature request: We would be happy if a game dev that works on UE can easily wire up a treadmill controller with the input action of choice.

[2019-10-10 14:50] 1runeberg commented on #73
Hi @CybershoesVR - not sure what issue you're referring to here? (related to this ticket)

[2019-10-10 15:32] CybershoesVR commented on #73
@1runeberg - We're on the newest version of SteamVR. Both the SteamVR and the SteamVR Input Plugin are included in the project. Our base was Epic's VR Template that's available from the Unreal Launcher.

**What we see:**
The game works the same as before we added the plugin.

**What we got:**
The binding .json files have been created with the previously used bindings.
The unreal default bindings h

[2019-10-10 15:38] 1runeberg commented on #73
Hi @CybershoesVR - This issue is for SteamVR 1.7.15 - can you also open a new issue please for the problem you are having with your project?

A good place to start though if you haven't already is the QuickStart in our Wiki:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Quickstart

[2019-10-10 23:55] ANixon commented on #70
Can confirm input is working again for me, sorry for late reply was in the process of moving. Thanks very much!

[2019-10-10 23:55] #70 closed, assigned to 1runeberg

[2019-10-15 09:30] benblo opened #76 "input binding editor "mirror mode" fails to mirror Oculus Touch X/Y (left hand) vs A/B (right hand) buttons"
Title pretty much says it all... editing the left hand in mirror mode, adding a click on X (for a boolean action) results in a right-hand input using the path `"/user/hand/right/input/x"`... should be `"/user/hand/right/input/a"`

[2019-10-15 15:32] 1runeberg commented on #76
Hi, the Unreal plugin does not generate or support mirror mode bindings as it reads input configs directly from the engine's bindings menu and requires runtime generated actions based on this configuration.

If you are not using the plugin and directly interfacing with openvr, this is possibly something you can add to this openvr issue:

https://github.com/ValveSoftware/openvr/issues/960

[2019-10-15 15:32] #76 closed, assigned to 1runeberg

[2019-10-16 21:25] JamesNyeVRGuy opened #77 "Scaling the Root Component of the Player During Runtime causes the hands to track to the original location instead of the scaled location"
How to reproduce.

Download and install SteamVR input plugin to a project.

During runtime change the world scale of the root capsule component to 3, your hands will track to their original non scaled location

Then instead of doing this during runtime; inside your character, change the root capsule component to 3, your hands will track to their scaled location.

This is at least on Engine Version

[2019-10-16 23:22] 1runeberg commented on #77
Hi @PotatoFaceJames --

I tried replicating the issue using the following steps:

(1) Create a new UE VR Template
(2) Assign a button to scale the VR Origin by 3 on all axes
(3) Test behavior during runtime

Result: Transforms are scaled and is applied to all child components including MCs

(4) Enable SteamVR Input Plugin
(5) Restart Editor
(6) Double check all bindings have been generated and is

[2019-10-17 00:25] JamesNyeVRGuy commented on #77
I did another attempt to reproduce. While this time controller position was correct, any object attached to it stayed in the original scale and translation.

I've gone back to my project and did a LOT more debugging to verify this is the case.

Thanks for trying to reproduce it, it led me down this path to find something wrong with how my objects were attaching and scaling.

[2019-10-17 00:37] 1runeberg commented on #77
no prob James! good luck!

[2019-10-17 00:37] #77 closed, assigned to 1runeberg

[2019-10-18 09:58] benblo commented on #76
Sorry, wrong repo :/, that was meant for the Unity plugin... but I suppose they use the same web UI editor anyway right? Is the OpenVR repo you pointed me to responsible for that UI, or is it still in another place?
Thanks!

[2019-10-18 20:48] Kucki2018 opened #78 "Manual binding doesn't work with Valve Index for Ue4.22"
Hey,

The Sample Project works fine but if I add another binding to it and click these 3 things in the toolbar (regeneration etc.) then the new Action or axis input isn't getting recognized. It doesn't matter which button.

I also tried the Trigger Axis - exactly like in this Video: https://www.youtube.com/watch?v=oi93qXgNBjk&list=PLngZ5l9HmlORHi2E1UzxPxD6BnXHyZ6M0&index=5

But it won't show up in

[2019-10-18 20:55] 1runeberg commented on #78
Hi @kucki2018 - which version of the SteamVR runtime are you on? Also specifically, which controller buttons have you added?

Cheers,
Rune

[2019-10-18 21:16] Kucki2018 commented on #78
I am using 1.8.13 and I tried to bind a lot of Valve Index buttons or even MotionController buttons like:

Valve Index Thumbstick Pressed, Trigger Pressed, Grip Pressed, or Axis Events like: Valve Index Thumbstick X, Y and I even tried to redo the Sample Inputs like: Valve Index GripGrab.
Or Motioncontroller Trigger Axis - I did it exactly like in your Video (https://www.youtube.com/watch?v=oi93qX

[2019-10-18 21:23] 1runeberg commented on #78
With 1.8.13 (beta), the dashboard will not work due to recent changes in steamvr.  in themeantime, call the dashboard ui from the runtime for your debugging.

can you send over the follwing to me please:

(1) DefaultInput.ini
(2) .uproject file
(3) Logs under the Saved directory
(4) Everything under Config\SteamVRBindings

runeb@valvesoftware.com

[2019-10-18 21:39] Kucki2018 commented on #78
Hey,
I sent the e-mail.

[2019-10-18 21:53] 1runeberg commented on #78
Hi - the bindings appear to be bound properly. But you have a large number of BP errors with your player character and seem to be related to the Motioncontroller/hands? have you investigated the cause of this issue in your project?

if you feel this isn't related. can you try the vanilla sample project here:

https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlugin.zip

[2019-10-18 22:37] Kucki2018 commented on #78
Hey,
Yeah, those errors are from the old Pawn that I haven't deleted yet because I thought that I may need it later :D

Okay, everything worked inside the Sample Project you sent me (Ue4.22). But when I try the 4.21 Sample Project, Input like "Motion controller (R) Trigger" gets recognized but input from a specific target like "Valve Index (R) Trigger Press" not.

I think I will do a fresh start a

[2019-10-18 23:07] 1runeberg commented on #78
Hi - OK, just note the BP errors are happening during runtime so it must be active in your level.

To delete the marketplace version of the plugin, use the Epic Launcher:

(1) Open Epic Launcher
(2) Click on "Unreal Engine" in the lefthand menu
(3) Click on the "Library" tab
(4) Clicked on "Installed Plugins"
(5) Click "Remove" button beside "SteamVR Input Plugin"

Note that projects relyign on th

[2019-10-19 10:10] Kucki2018 commented on #78
![Unbenannt](https://user-images.githubusercontent.com/43949430/67143184-f1471980-f268-11e9-89f9-755f0df07e66.PNG)
 So, I still run into some problems. When testing your Sample Project (the one you sent me yesterday, fresh and new) the blue circled things (Screenshot) work and the red circled thing not.

When testing in my own project, just the Grabbing works and the other "Sample Inputs" like Mov

[2019-10-19 15:00] 1runeberg commented on #78
Hi @Kucki2018 - How are you testing the new actions?

[2019-10-19 19:59] Kucki2018 commented on #78
I add the Input to my Character and print a string if the button is pressed or the value changes (Axis). Just like you did in the Video (https://www.youtube.com/watch?v=oi93qXgNBjk&list=PLngZ5l9HmlORHi2E1UzxPxD6BnXHyZ6M0&index=5) but with "Print String" instead of a Text Render.

[2019-10-19 20:37] 1runeberg commented on #78
@Kucki2018 - Is this the character class from the sample project? If so, can you re-zip the sample project (excluding Binaries, Intermediate, Saved and Build folders) and send them over to me and I can have a quick look on the Action Events in BP that you have.

Please  only the  vanilla sample project we sent with your attempts to add additional inputs and not your own game or project as we won't

[2019-10-19 20:52] Kucki2018 commented on #78
Hey,
I just sent the E-Mail.

[2019-10-19 22:24] 1runeberg commented on #78
Hi @Kucki2018, thanks for the files.

**(1) Trigger Left/Right:**

I didn't have any issues triggering the Right trigger - depending on your machine, the resulting "Hello" text may be being drowned out quickly by the Thumbstick X Axis print output. But you can search the Output log or disable the Thumbstick X printing to see that the trigger is indeed being clicked and receiving input.

As for the

[2019-10-19 22:34] Kucki2018 commented on #78
I changed some things inside the dashboard. Does that have an effect on my input bindings? If yes, how do I reset them to default?

[2019-10-19 22:38] 1runeberg commented on #78
Check out the instructions on 1.1-1.3 I have above.

(you replied before I got my edits in :) )

[2019-10-19 22:44] Kucki2018 commented on #78
Thanks! Yeah, we are both pretty quick! :D
One more thing: Did you used the Github or Marketplace version?

[2019-10-19 22:51] 1runeberg commented on #78
It shouldn't matter, they are the same code. The develop branches in GitHub though have non-fully tested features, so if you're just starting with the new Input System, I suggest keeping to the Marketplace version in the meantime.

I however tested the modified Marketplace version you gave (added BP debug nodes in the Pawn). Ideally, you shouldn't be modifying the sample content directly as your c

[2019-10-20 11:07] Kucki2018 commented on #78
I figured it out! It was the Dashboard all along... I changed some bindings inside my dashboard and everything stopped working. Well, I switched back to the official bindings and it works like a charm!

Thank you for your help! It's awesome that you'll also work on the weekends. I will remind myself to send you a key (over E-Mail) when my game is out for SteamVR.

Have a nice day :)

[2019-10-20 11:07] #78 closed, assigned to 1runeberg

[2019-10-20 18:33] 1runeberg commented on #76
No prob @benblo. It's actually SteamVR runtime, ideally posted in the steamvr forums, but I'll bring it up internally as well. Would be worth commenting on the open openvr issue though, so we get more visibility on impact.

[2019-10-21 09:59] cafeoh opened #79 "Issue with motion controller position on fresh build"
Hi,

I've been trying to make packaged build work for a few days now on the marketplace version of the plugin, but couldn't (no custom inputs work even though they work fine in editor). So I pulled the 4.23 dev version (since I've seen a couple other issues that sound similar, hoping it was fixed).

But every version I try from github (dev 4.23, 4.24, rel 4.23) seems to have the same issue where t

[2019-10-21 16:32] 1runeberg commented on #79
Hi @cafeoh !

The hand appears to be swapping. Is this a build from the sample project we have in our wiki:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlugin.zip

If not, could you try building from dev-4.23 using Visual Studio 2017 (not VS2019) the sample project above and see if you have the same issue?

As for your custom inputs, check some notes I had on Iss

[2019-10-21 21:24] 1runeberg commented on #51
Closing: Made it in 4.24:
https://github.com/EpicGames/UnrealEngine/blob/64f9599aecebd9047f0320cd1fe6b5ccb2262add/Engine/Source/Editor/DetailCustomizations/Private/InputSettingsDetails.h#L19

[2019-10-21 21:24] #51 closed, assigned to 1runeberg

[2019-10-23 06:49] cafeoh commented on #79
Hello,

Sorry for the late reply. I managed to fix the tracking problem by downgrading VC++ (Apparently a recent bug in the compiler screwed up transform calculation, from what someone told me on the UE discord).

For the inputs not working, getting the develop-4.23 version seem to have fixed it, even though previously compiling it (even with the transform bug) did not seem to work.
I did make sur

[2019-10-23 06:49] #79 closed, assigned to 1runeberg

[2019-10-23 14:50] CybershoesVR opened #80 "Filter Input Device for a Treadmill Controller"
**FEATURE REQUEST - FILTER INPUT FOR TREADMILL**
In the SteamVR Plugin for Unity, you can select input sources when reading inputs. This way you can, for example, make an input action only be executable on the right controller. This also works with treadmill devices, so you could have an input source that switches between a hand controller and a treadmill to change which device can control the mov

[2019-10-23 16:53] 1runeberg commented on #80
@CybershoesVR - Thinking of a parallel for UE4 atm.. how're your users now currently integrating your hardware to the engine?

[2019-10-24 12:05] CybershoesVR commented on #80
@1runeberg  To separate controller input from Cybershoes input: They define a new axis and call it (e.g.) MoveCybershoes_X and MoveCybershoes_Y and bind the Cybershoes input in the controller bindings to the "MoveCybershoes" action.

This means that they need to write more additional logic to switch between controller and treadmill input. With the Unity system, you could simply have a variable for

[2019-10-25 16:00] 1runeberg commented on #80
Thanks @CybershoesVR. I've aligned with Keith who did the Unity plugin. Will work out a way to expose this in a different manner with the unreal plugin since we had a slightly different approach to grabbing action data from SteamVR as we have to fit this with current UE paradigms/archi.

Might not make it to the next release, but will update this issue of any progress.

[2019-10-25 16:11] CybershoesVR commented on #80
@1runeberg Thank you!

[2019-11-01 23:02] 1runeberg opened #81 "Remove grab modes for Cosmos as they are not supported"

[2019-11-01 23:03] 1runeberg opened #82 "Hide and dynamically generate temporary action keys"

[2019-11-01 23:04] 1runeberg opened #83 "Fix possible race condition with GWorld for older engine versions"

[2019-11-01 23:05] 1runeberg opened #84 "Fix issue where tracking gets lost when Oculus plugin is enabled."

[2019-11-01 23:05] 1runeberg commented on #81
Fixed in develop branches: https://github.com/ValveSoftware/steamvr_unreal_plugin/commit/2d093cd1358bc982273d032d5184a48ccad46954

[2019-11-01 23:05] #81 closed, assigned to 1runeberg

[2019-11-01 23:06] 1runeberg commented on #82
Addressed in develop branches:
https://github.com/ValveSoftware/steamvr_unreal_plugin/commit/54702f55c7837bb5c63772cc83694ba9e04b4726

[2019-11-01 23:06] #82 closed, assigned to 1runeberg

[2019-11-02 00:22] 1runeberg commented on #83
Addressed in develop branches

[2019-11-02 00:22] #83 closed, assigned to 1runeberg

[2019-11-02 01:10] 1runeberg commented on #84
Not feasible - engine priority is hardwired for Oculus to take precedence.

[2019-11-02 01:10] #84 closed, assigned to 1runeberg

[2019-11-05 23:18] curs0 opened #85 "Input.ini is still not properly managed in shipping configuration"
Let's say you deployed a shipping build with some defined bindings.
Running your game for the first time, a new file will be created by the engine (4.23.x) under:

%USERPROFILE%\AppData\Local\[yourgame]\Saved\Config\WindowsNoEditor\Input.ini
(storing your default bindings)

Now, let's say you want to deploy a new build changing previous bindings:
you're supposed to ship a new build with a new Inpu

[2019-11-05 23:23] 1runeberg commented on #85
Hi @curs0 - thanks for the feedback, we'll add notes in our guide. I do not understand what you mean by workaround, as there is no technical issue here.

This is more an engine usage scenario and is true for any ue project, vr or not that decides to change default bindings across shipping builds (e.g. adding new actions, renames, etc)- the game developers have the responsibility to clear or update

[2019-11-05 23:23] #85 closed, assigned to 1runeberg

[2019-11-05 23:47] curs0 commented on #85
Fair enough but please highlight this behavior in plugin notes.
As a temporary quick&dirty workaround, we're deleting the original input.ini file on game shutdown.

[2019-11-05 23:53] 1runeberg commented on #85
Thanks. In saying all this, as this is a fairly common question with any UE Project that adds new Actions for example in a succesive shipping build, I did bring this up with Epic Games before to ask for their recommendation, and they have recommended as best practice to merge the DefaultInput.ini with the new actions with the user-specific Input.ini, or if appropriate, simply delete the Input.ini

[2019-11-07 12:17] gradgr opened #86 "UE 4.23.1 Inputs doesn't work when Packaged"
As title says Steam VR wont work while testing on Rift. I Can see the bindings for the app but nothing works... on editor everything is working as expected. Is there a fix or should we disable Valve's Input Plugin and go with legacy setup?

Using Binary versions of ue4+valve's plugin , from VR plugins only Steam VR is enabled.

Thank you!

[STEAM FORUM THREAD](https://steamcommunity.com/app/250820

[2019-11-07 16:43] 1runeberg opened #87 "Upgrade to OpenVR 1.8.19"

[2019-11-07 16:44] 1runeberg opened #88 "Expose OpenBindingsUI call to BP"

[2019-11-07 18:26] 1runeberg commented on #88
addressed in develop branches

[2019-11-07 18:26] #88 closed, assigned to 1runeberg

[2019-11-07 18:27] 1runeberg commented on #87
addressed in develop branches

[2019-11-07 18:27] #87 closed, assigned to 1runeberg

[2019-11-07 18:44] 1runeberg commented on #86
Hi @gradgr - For 4.23 build issues, there's a workaround applied in the GitHub https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/develop-4.23

It addresses an issue with Unreal Engine not properly reading custom input settings in builds.

We are looking at releasing this version to the Marketplace soon.

[2019-11-07 19:33] gradgr commented on #86
@1runeberg just thinking that when build on 4,23.1 for DX11, no input is taken into account, though motioncontroller play vibrations, just discovered that on ALT+TAB i get a DX11 error which seems to be an engine bug that introduced on 4.23.1 as on 4.23.0 never happend ( possible fix on .2 ) . Also with Steam VR on DX12 it seems that not inputs but HMD stucks after been worn and requires to kill t

[2019-11-07 20:51] 1runeberg commented on #86
hi @gradgr - not sure of DX issues with UE, but that likely needs to be raised with Epic Games directly to fix.

For 4.24, the latest stable version of our (Valve) plugin is already included in the engine.

[2019-11-08 11:47] SlothfulAlly opened #89 "UE 4.23.1 Vive Trackers not working with the plugin enabled"
Hi, for some reason the vive trackers don't track in UE4 whenever I enable the plugin in the project. The trackers show up correctly in SteamVR but doesn't reflect anything in UE4. Disabling the plugin makes them work as they should.
Is there some kind of setup required for the trackers to work correctly with the plugin? I couldn't find any documentation or anything related to it anywhere.

[2019-11-10 04:19] MisterGenius0 opened #90 "Strange rotation snapping when moving controllers around with plugin active"
[Youtube Video Of the issue](https://youtu.be/06O8mp_3F3c)

When I install this plugin on the default VR starter project in unreal 4.23 I get strange rotation snapping but when I disable or remove the plugin the rotation works normally

I have the Vive controllers and Vive headset

[2019-11-10 19:19] 1runeberg commented on #89
Hi @DopeEnemy

There's no auto-generation of bindings for Vive Trackers at the moment with the plugin, it has to be done via SteamVR. The plugin does recognize trackers though (poses), here're some steps to get you started:

**Configuration (UE):**

1. Attach a motioncontroller component in an actor
2. Set Source to Special1/2/3/... etc

**Configuration (SteamVR):**

1. In the dashboard, switch to

[2019-11-10 19:21] 1runeberg commented on #90
Hi @MisterGenius0 - Which version of Visual Studio are you on at the moment?

[2019-11-10 22:00] MisterGenius0 commented on #90
Im on Visual Studio Community 2019 Version: 16.3.8

[2019-11-10 22:12] 1runeberg commented on #90
Please check Issue #79 - There is a known issue with Unreal Engine maths and a recent Microsoft patch update of VS 2019.  The plugin uses unreal engine provided-math functions and is therefore affected.

You will need to downgrade your C++ compiler, or use VS2017.

[2019-11-10 22:12] #90 closed, assigned to 1runeberg

[2019-11-12 00:57] muchcharles opened #91 "Noisy logs during play"
I'm seeing a lot of logging during play with the new integration of the plugin that is included in 4.24:

[code]

This seems to only go to stdout or stderr (visible in visual studio output window when running but not in unreal log file, and not using unreal's log formatting).  I looked through and didn't see anything setting k_pch_SteamVR_LogLevel_Int32  within the unreal plugins, so it may just b

[2019-11-12 01:57] 1runeberg commented on #91
Hi @muchcharles - thanks for the report/feedback.

If you need less verbose logging, you can set "loglevel" to 2 or 1 in your:

/Program Files (x86)/Steam/config/**steamvr.vrsettings**

`
"steamvr" : {
       ...
      "loglevel" : 2,
      ...
   }
`

[2019-11-12 05:39] 1runeberg commented on #85
@curs0 - Added a convenience node in develop-4.21/4.22/4.23 branches which delete the user's Input.ini file (use with caution):

![image](https://user-images.githubusercontent.com/17371351/68645061-01ea6700-056b-11ea-9b92-922e6ce39836.png)

[2019-11-12 05:40] 1runeberg commented on #67
@CrimsonZen @dillyframe  - Added a convenience node in develop-4.21/4.22/4.23 branches which delete the user's Input.ini file (use with caution):

![image](https://user-images.githubusercontent.com/17371351/68645061-01ea6700-056b-11ea-9b92-922e6ce39836.png)

[2019-11-12 18:00] albatrossoftime commented on #86
Afternoon all, just wanted to chip in - Index controller input also not working here in packaged builds for UE4 4.23.1, most recent version of marketplace SteamVRInput, SteamVR 1.8.20. Investigations continue.

Clarification:
- Orientation / Position : working fine
- Buttons/Triggers : no response

[2019-11-12 18:27] nathanjedwards opened #92 "Oculus Rift S no longer detected/working"
I'm not sure if this is a problem with the latest SteamVR 1.8.20 update or a problem with the openvr sdk, or this plugin, but the Oculus Rift S no longer works with SteamVR Input.

The SteamVR input bindings dashboard no longer launches from the editor i.e. it doesn't even open up the browser. When I attach the debugger in code I see that InitSteamVRSystem never successfully loads the device.

Any

[2019-11-12 18:54] 1runeberg commented on #92
Hi @nathanjedwards - can you let me know please what version of the plugin you are using as well as whether it is from the Marketplace or not?

[2019-11-12 19:12] nathanjedwards commented on #92
Version 1.51-sdk 1.5.17.  It isn't from the marketplace.

Although I did try it with 4.22.3 and the plugin from the marketplace and had the same issue.

[2019-11-12 19:19] 1runeberg commented on #92
thanks. are you able to try a source code version of the plugin? the code in the develop-4.19 should help with the dashboard issue, though I'm yet unsure what the issue is with the Rift S.

[2019-11-12 19:33] 1runeberg commented on #86
Hi @albatrossoftime - please see my first response on this thread. It applies to Index as well, the root cause is an issue with custom inputs with UE 4.23, this is unresolved from the Engine side but we've posted a work-around in our develop branches.

The code in the develop branches is a candidate release, so after final internal QA, we're hoping to release it in the Marketplace soon.

[2019-11-12 19:59] nathanjedwards commented on #92
I tried a build from source. I still can't launch the dashboard with the Rift S. I can now with the Index and Vive so at least it works again for those devices.

I think the dashboard not launching for the Rift S is a symptom of the device not being properly loaded/detected by the plugin. When USteamVRInputDeviceFunctionLibrary::ShowBindingsUI is called no device is loaded so it doesn't do anythin

[2019-11-15 18:45] albatrossoftime commented on #86
@1runeberg Understood! I originally misunderstood your response, I thought you were talking about UE not recognizing the bindings within the Dashboard. Thanks for the continued support!

[2019-11-16 00:43] 1runeberg commented on #92
Hi @nathanjedwards - Sorry it took a while to get back to you on this.

I've just tested using UE4.23, SteamVR 1.8.20 and the latest code in develop-4.23:
https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/develop-4.23

I'm not having any issues with the Rift S. It did ask for a Firmware Update though for boththe HMD and Controllers - can you double-check on your end if you have the lates

[2019-11-17 22:24] gradgr opened #93 "Issue on Shipped Game"
Hello my game, although shipped on Oculus SDK, today i pushed an update for Oper VR only using the github 4.23 plugin. On packaged it seems to work just fine, but now after pushed online, users report "it tells me that the controls are not suitable for this game and does not let me play."

what should i do? also i cannot set the action manifest to work. Even on my end i get couldnt find action man

[2019-11-17 22:30] 1runeberg commented on #93
Hi @gradgr - Thanks for reporting this. Can you confirm if your packaged game has the Oculus Plugin (from the Engine) also enabled?

Also, for 4.23, you should be using the develop-4.23 branch of the plugin for shipped builds:
https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/develop-4.23

As it has a workaround for a known engine issues that got introduced with UE 4.23.

We are hoping t

[2019-11-17 22:44] gradgr commented on #93
@1runeberg i have disabled the plugin also unchecked it from steamworks and have only open vr. The Steam Input Plugin is from develop 4.23, the marketplace plugin wouldnt work. Can you please check it ? should i provide you a key to the title?

[2019-11-17 22:49] 1runeberg commented on #93
@gradgr  - can you send me an email at: runeb@valvesoftware.com with a SteamVR System Report while the game is running. I'll review that first and see if we need to look deeper. You may need to give me until tomorrow though to give a thorough response.

Cheers,
Rune

[2019-11-17 22:55] gradgr commented on #93
Email sent. Ok mate thank you!

[2019-11-19 16:29] pablonaj commented on #93
Hi RuneBerg - any update on when the updated plugin will be released for 4.23?

And I think you said somewhere that 4.24 already has the latest plugin included, is this correct? And is the issue with the inputs also solved on that one?

Cheers,

Pablo

[2019-11-20 01:26] 1runeberg commented on #93
@pablonaj - Marketplace plugin is just going through internal checks atm. will post an update here once it's submitted to Epic.

The integrated plugin in 4.24 doesn't require this workaround.

[2019-11-20 08:52] pablonaj commented on #93
Thanks RuneBerg, sounds good.

Can I suggest you add a link to the plugin Youtube videos in the UE4 Marketplace or the wiki here? They are great but it took me a while to find them.

Cheers,

[2019-11-20 11:06] codingapevs opened #94 "UE 4.23.1 Build, SteamVR says Waiting and not works (Vive)"
Hello,
I'm working on a game. Everthing works perfectly in Editor.
But when I build the game and open it, Game window is opened and map is also opend but SteamVR says "waiting" on Vive screen. Because of this, nothing works. It is like, it is working in Selected Viewport Mode not in VR Preview.

I don't know, is there any other setting that I didn't check or enabled.

Thank you so much.

Murat Kar

[2019-11-20 18:58] 1runeberg commented on #94
Hi Murat,

Did you set the game to "start in vr" (via the project settings) or use the "Enable HMD" node?

Also, for 4.23.1 - can you use the version of the plugin here please:
https://github.com/ValveSoftware/steamvr_unreal_plugin/tree/develop-4.23

Let me know hoe you go.

Cheers,
Rune

[2019-11-20 19:35] codingapevs commented on #94
Sorry to bother you, I found that 5 minutes before you reply.
I didn't see that option on any tutorials or any documents.

Thank you so much.

Murat

[2019-11-20 19:35] #94 closed, assigned to 1runeberg

[2019-11-21 02:31] 1runeberg commented on #93
@pablonaj - thanks! :) the videos are not official, and with the release we're doing today, some parts is a bit outdated now, so i cant link them.

But will see how we can make official ones especially more info on the integrated 4.24 version.

The latest update of the plugin is now already up in GitHub:
https://github.com/ValveSoftware/steamvr_unreal_plugin/releases

Marketplace version updates a

[2019-11-21 02:32] 1runeberg commented on #86
The latest update of the plugin is now already up in GitHub:
https://github.com/ValveSoftware/steamvr_unreal_plugin/releases

Marketplace version updates also sent to Epic, hopefully up within a few days :)

[2019-11-21 16:58] nathanjedwards commented on #92
Hi @1runeberg

I think I finally figured it out. Unreal Engine includes an OculusVR plugin that is enabled by default. It seems like with the latest update of Oculus the Rift S now uses that plugin by default. So SteamVR is never used and is not needed if that plugin is enabled.

If I disable the OculusVR plugin everything works again.

Thanks for your help.

[2019-11-21 16:58] #92 closed, assigned to 1runeberg

[2019-11-21 17:19] 1runeberg commented on #92
Thanks @nathanjedwards - Just a couple of notes for others who might find this ticket in the future and is on a similar predicament.

Oculus does have a higher default platform priority than SteamVR in the Engine, so when both plugins are enabled, Oculus normally takes over input when an Oculus Hardware is present. Surprised that you only encountered this on a runtime upgrade.

This behavior can b

[2019-11-22 04:01] MisterGenius0 opened #95 "Input.ini Gets Modified Every Time The Project Is Reloaded"
Every time I reload the project with the plugin enabled the input.ini always gets modified makeing source control hard to manage

**Before the project is Loaded**
![Before Project](https://user-images.githubusercontent.com/39445650/69396975-14664e00-0c99-11ea-8e80-2b5327c9f050.png)

**After Project Is Loaded**

![After Open Project](https://user-images.githubusercontent.com/39445650/69396992-22b46

[2019-11-22 20:01] albatrossoftime commented on #86
Update:
I've now tested the develop-4.23 branch, the 1.8.19 branch, and the current Marketplace version. At this time, none of them are recognizing input (other than device orientation) on packaged 64-bit builds.
HOWEVER, they ARE recognizing input on 32-bit builds.
Attached is a raw System Report w/ the packaged build running.

Edit: Sorry for the awkward update right when you responded, just tri

[2019-11-22 20:02] 1runeberg commented on #95
Hi @MisterGenius0

Thanks for reporting this.

It seems that for UE4.23, calls to UpdateDefaultConfigFile() does not appear to be behaving as expected (should only save any changes to input settings).

Might be related to the seeming randomness on the way its capturing Axis properties from the UI. Entries appear accurate though regardless of the randomness in line entry sequence, so should be safe

[2019-11-22 20:10] 1runeberg commented on #86
Hi @albatrossoftime -
from the logs, your project doesn't seem to be running the latest version of the plugin for UE4.23?

Can you also post a screenshot of the Bindings Dashboard please, in this area:
![image](https://user-images.githubusercontent.com/17371351/69457086-605fe280-0dc0-11ea-9513-373c34280c87.png)

[2019-11-22 20:15] albatrossoftime commented on #86
Sorry about that, I just noticed my VR monitor has been running for the past 3 hours and I've been switching configurations back and forth. I'll get you a clean report w/ the currently running version and that screen-cap momentarily.
Also, just in case you missed my previous edit, I was able to get input on a 32-bit build, just not 64-bit builds yet.

64-bit raw report (not working):
[64bit_rawrep

[2019-11-22 20:46] MisterGenius0 commented on #95
looks like it works! Thanks for the quick workaround

[2019-11-22 20:49] 1runeberg commented on #95
No prob! Let me know if you encounter any more issues with this.

Cheers,
Rune

[2019-11-22 20:49] #95 closed, assigned to 1runeberg

[2019-12-02 12:26] Angelo-Gebauer opened #96 "Further Development"
While the Unity-Plugin for SteamVr is awesome and feature-packed, we find that this is not the case with the Unreal-Plugin.

We are currently working on Projects using Unity and the Unity-Plugin. For a variety of reasons, we would like to switch our Developments to Unreal. However we can't, because of the amount of development that would be required to achieve the same results as with the Unity-Pl

[2019-12-02 18:53] 1runeberg commented on #96
Hi Angelo-Gebauer,

To help me provide a more qualified answer, which Unity plugin features specifically were you looking at?

Thanks,
Rune

[2019-12-03 15:19] Angelo-Gebauer commented on #96
Hi Rune,

thanks for the quick response. The biggest problems we see are the skeleton-poser / interactable functionality from the Unity-Plugin.

You can see what we built with the Unity-Plugin in the video here:
https://campaign.inosoft.de/en/inopoint05/mitarbeiterschulung-mit-virtual-reality

Lets say you want to build the sliding door (with an interactable handle) in Unreal. Physics wise, i supp

[2019-12-03 16:05] Wazzdaka opened #97 "How can I find out which controllers a player with HTC is using? Knuckles or not?"
I figured out your plugin. Inputs for Oculus, HTC and WMR work for me. One problem remains. How can I find out which controllers a player with HTC is using? Knuckles or not?

[2019-12-03 19:33] 1runeberg commented on #97
Hi @Wazzdaka,

You can use the below node on an Axis Action you have in your project. In the screenshot below we used the "SqueezeLeft" action from the sample project:

![image](https://user-images.githubusercontent.com/17371351/70083046-ca4d7700-165f-11ea-84e8-548f02a95f35.png)

Just remember to add the word "axis" at the end of the action name you defined in the Input Settings.

[2019-12-03 19:38] 1runeberg commented on #91
Closing as this is the default from the runtime.

[2019-12-03 19:38] 1runeberg commented on #93
Closing for now, please reopen if you have any more questions on this. thanks.

[2019-12-03 19:38] #93 closed, assigned to 1runeberg

[2019-12-03 19:39] 1runeberg commented on #73
Closing for now, please reopen if you have any more questions on this. thanks.

(Treadmill source in another issue)

[2019-12-03 19:39] #73 closed, assigned to 1runeberg

[2019-12-03 19:40] 1runeberg commented on #86
Closing for now, please reopen if you have any more questions on this. thanks.

[2019-12-03 19:46] 1runeberg commented on #86
Sorry, didnt realize you've made an edit on this -- I dont seem to get notifications for edits, so havent replied.

Anyways, we only support 64 bit actually, not 32 bit

For your Input, you need to revert to the Official Default Bindings --- Click on "View" for the Official Default Bindings in the Input Dashboard, then click on "Select This Binding"

Also, the dashboard screenshots you provided ar

[2019-12-03 19:49] 1runeberg commented on #89
Further, GitHub branches develop-4.19 to develop-4.23 now have better support for trackers.

New MotionSources are now exposed and recognised by the plugin:

![image](https://user-images.githubusercontent.com/17371351/70084192-fcf86f00-1661-11ea-8f26-8eee9228c2cb.png)

Json Tracker bindings that have been pre-mapped to appropriate actions will be generated by the plugin based on these motion sourc

[2019-12-03 19:57] 1runeberg commented on #96
Hi @Angelo-Gebauer,

Thanks for the clarification.

I guess you mean the Interaction System that's in the Unity plugin which pre-dates the Input System support. And yes, the Lab does use a version of the Unity plugin and is also used internally for testing.

The UE plugin we released on the other hand is only meant to update the Epic plugin with the new Input System support. VR Interactions in Unr

[2019-12-04 09:58] Angelo-Gebauer commented on #96
This would be awesome, i think it would benefit many developers!
Thanks again for the quick answer.

Thanks,
Angelo

[2019-12-04 10:12] HannahKiekens commented on #96
+1 for an open-source solution writen by VR experts

[2019-12-05 01:26] 1runeberg commented on #96
With VR being such a young medium, not sure how many would be brave enough to call themselves experts really - always plenty to learn and unlearn, but yeah certainly a lot of VR experience & focus  in-house ;) For the system, it'll be ideally a like-for-like implementation in terms of core functionality.

Some features that had to be created for Unity may also not be necessary when a generic Engin

[2019-12-05 17:35] Luis7a opened #98 "Generic Input Mappings don't fire in BPs"
Using a Cosmos with UE 4.23.

Doing the input bindings and regenerating the .json files works fine. Does the plugin support calling an action by it's button name? For example, you used to be able to add an event for "Motion Controller (L) Trigger" without having to bind it. Can you not do that with the specific controller buttons?

![image](https://user-images.githubusercontent.com/11464596/702592

[2019-12-05 20:01] 1runeberg commented on #98
@Luis7a
Yeah, the individual button key events are not supported with the SteamVR Input System (these events are actually disabled already in 4.24 for XR Keys/Controller to conform with the OpenXR specification).

You have to use Action events exclusively. The idea is to help ensure your app is as hardware agnostic as possible and you & your end users can easily remap keys to different actions wit

[2019-12-05 20:14] Luis7a commented on #98
@1runeberg Will the events be disabled in the engine version of 4.24 or with the 4.24 version of the plugin?

That makes sense, and will surely streamline the process. Was just looking for confirmation in order to avoid using those if they currently in use.

[2019-12-05 20:16] 1runeberg commented on #98
No prob! Unfortunately theres no efficient way of disabling those events in engine versions prior to 4.24.

I'll add this to the FAQ im compiling.

[2019-12-05 20:16] #98 closed, assigned to 1runeberg

[2019-12-10 13:23] gradgr opened #99 "4.24 ?"
Until its released on marketplace could we dn it from github?

[2019-12-10 16:22] 1runeberg commented on #99
Hi @gradgr - There appears to be an oversight in the Epic release notes, this line unfortunately didn't end up in the final version released to the public:

**"Integrated the SteamVR Input marketplace plugin into the SteamVR plugin""**

While we may release a separate 4.24 Marketplace version in the future, we've currently put the effort in the integration to 4.24, so you should have all the featu

[2019-12-12 10:16] cafeoh commented on #99
Hi, piggy-backing on this issue: Where can I find the content of the plugin in 4.24? I do have the SteamVR Input button and all that, but I can't find the pawns, motion controller BPs and all anymore 😕

@1runeberg Also for the future, I realize github's issue tracker is not meant for that, but how averse are you to "support" issue that don't actually point to a bug? It seems there's a lot of those

[2019-12-13 00:56] 1runeberg commented on #99
@cafeoh - Uploaded a version of the sample project for use with the Integrated version of the plugin here:

https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlugin_UEIntegrated.7z

You may need a third party decompression tool if you aren't using any yet (e.g. 7Zip, WinZip)

Questions on usage or problems with the plugin that may or may not be bugs are welcome :) The

[2019-12-13 08:54] cafeoh commented on #99
@1runeberg Thanks a lot, that's exactly what I was looking for! 😄  (Still struggling with project architecture a bit and couldn't quite manage to take the content from the previous plugin and port it to the integrated version myself...)

[2019-12-13 19:04] #97 closed, assigned to 1runeberg

[2019-12-13 19:05] 1runeberg commented on #86
Closing for now, please feel free to reopen if you are still encountering issues.

If anyone else is seeing further problems, let us know and we can re-open this issue report :)

Cheers,
Rune

[2019-12-13 19:05] #86 closed, assigned to 1runeberg

[2019-12-13 19:26] 1runeberg commented on #97
Closing issue for now, please re-open if you have any issue.

There Sample Project updated yesterday also has a sample of this functionality implemented:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlugin_UEIntegrated.7z

[2019-12-13 20:08] 1runeberg commented on #97
If anyone else is seeing further problems with this, just let us know and we can re-open this issue report :)

Cheers,
Rune

[2019-12-15 19:19] 1runeberg opened #100 "UE4.24: Index Trackpad Touch vs Click"
Index key for Trackpad with no designation (ie.g. Touch) should map to Click by Default.

[2019-12-17 08:51] gradgr commented on #99
Trying to open a 4.23.1 Project already using SteamVR Input Plugin leads to Crash. Tried with and without the 4.23 compiled plugin folder. Is there a way to open older projects in 4.24 binary version?

EDIT : Deleting any steam vr input related file in /config , opened the project, inputs seems to be renamed in intergrated ver [Steam VR string infront missing, Also Cosmos Input missing] , so will

[2019-12-17 20:50] muchcharles opened #101 "Launching VR editor and clicking 'No All' on bindings prompt still writes to bindings"
After launching the VR editor I got the bindings warning prompt:

![image](https://user-images.githubusercontent.com/7025369/71033141-ca7c5680-20e4-11ea-9cd8-5b24939986c2.png)

After clicking No All, it still modified my binding .json files adding VR editor actions (not sure if they were fully regenerated but if so it could potentially wipe out hand-edited changes for someone).

Image shows 'gener

[2019-12-17 21:24] muchcharles opened #102 "Thumbstick d-pad bindings default to "sub_mode": click"
Thumbstick d-pad bindings seem to default to "sub_mode": "click"

`
                {
                    "mode": "dpad",
                    "path": "/user/hand/right/input/thumbstick",
                    "parameters":
                    {
                        "sub_mode": "click"
                    },
                    "inputs":
                    {
                        "west":

[2019-12-18 04:46] 1runeberg commented on #100
Pull Request (UE/dev-vr):
https://github.com/EpicGames/UnrealEngine/pull/6459

[2019-12-18 05:41] 1runeberg commented on #101
Hi @muchcharles  - tried a couple of scenarios but couldnt replicate this somehow, in either the release 4.24 (from Launcher) and the master branch in GitHub.

Can you try in a fresh project, say the VR Template? And/or send me your files under Config/SteamVRBindings and I'll see if I can replicate using those.

Thanks.

[2019-12-18 06:45] 1runeberg commented on #102
added to PR#6459 https://github.com/EpicGames/UnrealEngine/pull/6459

[2019-12-18 17:06] muchcharles commented on #101
Doesn't seem to happen with the VR template.  I added my generic_hmd.json to the template and it happens afterwards, still writing to gamepad.json and others with the VR Editor bindings, but I think that is actually ok.  It may cause it to overwrite hand edits in that case but I don't think it would have overwritten edits made through the bindings dashboard itself due to that last_edited_by metada

[2019-12-18 19:46] 1runeberg commented on #101
@muchcharles - Tried adding a hand-edited generic_hmd binding there, still not seeing the behavior you are getting.

If you're able to send me your SteamVRBindings folder, I can have a closer look.

[2019-12-18 22:39] muchcharles commented on #91
May want to re-open this one, seems the issue I reported here

https://github.com/ValveSoftware/openvr/issues/1271 is actually still caused by this and this line (which is now in the module startup as of 4.24.1):

    VRSettings()->SetBool(k_pch_SteamVR_Section, k_pch_SteamVR_DebugInput, true, &BindingFlagError);

[2019-12-18 22:47] JoeLudwig commented on #91
@1runeberg will pull that from the plugin.

That setting should really have been called "joesSpammyDebugSetting". It's nearly useless for anyone other than me when I'm debugging some minutia of the input system guts. So I'm going to rename it to something along that line and remove it from openvr.h. That should fix anyone who has the setting set because of the plugin.

[2019-12-18 23:10] 1runeberg commented on #91
Added to PR for 4.24.2: https://github.com/EpicGames/UnrealEngine/pull/6459

[2019-12-19 09:37] SlothfulAlly commented on #89
Hi, sorry for such a late reply, I followed your steps and set up the tracker's pose to Special_1 in SteamVR as well as mapped my motion controller to Special_1 in the project and then restarted the editor along with regenerating controller binding but the tracker still doesn't work for some reason. I tried getting it to work in 4.24 (with the plugin now integrated inside the engine) but unfortuna

[2019-12-19 19:51] 1runeberg commented on #99
Hi @gradgr - yes, you'll need to remap keys as the key naming have been harmonised with the new engine OpenXR keys.

Normally, you shouldnt get a crash, but try backing up your DefaultInput.ini and delete it. Your project should also use Action events exclusively and not the controller button events as they have now been disabled in the Engine as per OpenXR spec.

Cosmos keys are available if you

[2019-12-20 09:16] simongloor opened #103 "Example Hand Model"
I am failing miserably attempting to replace the model.

I have tried exporting it from various sources (the Unity Plugin, the SteamVR-Folder of Steam, Unreal) importing it to Blender and exporting it back to Unreal. I also tried 20+ combintions of axe directions at import and export. The results until now looked all like this:
![image](https://user-images.githubusercontent.com/43432178/71243917-a

[2019-12-20 12:50] simongloor commented on #103
Okay, I've figured it out.

 - Get a model from any of the above-mentioned sources, import it with different axis settings until you are happy.
 - Export it to Unreal and check, whether the hand without applied tracking is looking in the same direction as the sample of the plugin. If it doesn't match, rotate mesh and armature in Blender and apply the rotation.
 - If it matches, open the Skeleton,

[2019-12-20 12:50] #103 closed, assigned to nobody

[2019-12-20 19:40] dustycoder commented on #99
I'm not seeing an update to the SteamVR Plugin (still 1.0 without an option to update). When I try to view plugin content there isn't anything there that resembles what was in the Input Plugin. Running UE 4.24.1

[2019-12-20 19:55] 1runeberg commented on #99
Hi @dustycoder - The plugin has been integrated in the engine and is part of UE 4.24 so you shouldn't need the Marketplace plugin for this latest version of the engine.

We may release a separate 4.24 Marketplace version in the future, but for now, we've put the effort in the integration to 4.24 to make it easier for devs to use the new Input system.

We've also uploaded a version of the sample pr

[2019-12-20 22:32] 1runeberg commented on #91
Hi @muchcharles - can you confirm on your end with 1.9.15 that this isnt an issue anymore?

Thanks,
Rune

[2019-12-21 01:54] 1runeberg commented on #103
Glad you got it sorted @simongloor - thanks for sharing!

[2019-12-22 12:35] 1runeberg commented on #89
Hi @DopeEnemy have you tried the version in develop-4.23? (see my last post)

Also, did you manage to assign the correct poses in the steamvr dashboard (steps 4 to 8)?

Can you send some Screenshots please of the config made in SteamVR?

Thanks.

[2019-12-24 06:17] SlothfulAlly commented on #89
Hi, the trackers started working by following your steps after updating SteamVR to 1.9.15 version. I followed your steps and setup the exact same way before but the trackers refused to work. Either way, they're working properly now. Thank you very much for the assistance.

[2019-12-24 06:17] #89 closed, assigned to 1runeberg

[2019-12-25 00:31] muchcharles commented on #91
Seems fixed, I tried with the launcher 4.24 build and didn't see the output or large logs anymore.

[2019-12-25 01:33] kisak-valve commented on #91
Thanks for retesting, closing.

[2019-12-25 01:33] #91 closed, assigned to 1runeberg

[2019-12-26 04:49] sachdevaprash opened #104 "UE 4.24: MotionController Component not tracking Vive Trackers"
In Unreal 4.24, using a standard template map and a MotionController component, Special_1 source does not seem to feed any pose what so ever. Is there some particular binding to be set on the Steam VR UI for the pose to be accessible?

[2019-12-26 05:39] 1runeberg commented on #104
Hi Prashant,

You can have a look at instructions in this closed issue:

https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/89#issuecomment-552224750

For 4.24, it won't autogenerate all the Json files except for "waist". So use waist in your SteamVR config for Special1.

If you want to use other trackers in addition, you need to hand configure those files using the sample entries in th

[2019-12-26 17:22] sachdevaprash commented on #104
Hi Rune,

Thanks for the prompt reply. I found the information on that issue. However, I cannot seem to find the options on the SteamVR settings area.

![image](https://user-images.githubusercontent.com/1396775/71484387-fffa0180-27c0-11ea-9297-8b29fdd54ea3.png)

And there is no "Create New Binding" option in the interface.

![image](https://user-images.githubusercontent.com/1396775/71484420-2cae19

[2019-12-26 19:11] 1runeberg commented on #104
Hi Prashant,

Try launching the advanced bindings UI from UE4:

![image](https://user-images.githubusercontent.com/17371351/71487375-02b33000-286f-11ea-9ca4-cfcb6ff3906f.png)

Note: If you are using an Oculus headset, you need to disable Unreal's Oculus plugin to show the SteamVR Menu.

Alternatively, you can launch the old bindings UI from SteamVR:

![image](https://user-images.githubusercontent.

[2019-12-29 02:02] charlysotelo opened #105 "VRTemplate Teleport Rotation Race Condition."
Hi folks.

I'm relatively new to UE so please take this report with a grain of salt:

It seems that the Teleport Rotation block in the MontionControllerPawn Event Graph - which sets the Teleport Rotation variable - is gated by Is Teleporter Active; this variable does not get toggled off until the fadeout completes (in the Handle Teleportation block).

This gives enough time for the EventTick to ru

[2019-12-29 02:15] #105 closed, assigned to nobody

[2020-01-03 19:04] muchcharles opened #106 "Launching with -nohmd still launches steamvr when starting the editor"
Launching the editor with -nohmd still causes steamvr to launch.  Seems to be caused by the StartupModule stuff.

FSteamVRInputDeviceModule::StartupModule should probably wrap everything under `#if WITH_EDITOR` with:

`if (GIsEditor && (!FParse::Param(FCommandLine::Get(), TEXT("nohmd"))))`

[2020-01-03 20:40] sachdevaprash commented on #104
I am checking this now. Let me get back to you with updates. Thanks for the prompt responses!

[2020-01-04 03:28] 1runeberg commented on #106
Hi @muchcharles - I guess you are referring to 4.24? and what's the use case for the nohmd param for a SteamVR UE project?

[2020-01-04 17:37] martindeegan opened #107 "No way to map Index thumbstick positions to axis bindings"
I'm trying to use the Index thumbstick to move my character.
[Here](https://i.imgur.com/etn2Wjp.png) is an image of my bindings.

When I regenerate and reload with the plugin, the axes don't get mapped.
[Here](https://i.imgur.com/v5RMOkH.png) is an image of the error in the browser and the thumbstick section is empty.

Additionally I've noticed when trying to manually bind the inputs, the position

[2020-01-04 19:17] muchcharles commented on #107
I think you have to name the actions to end in _X and _Y for the plugin to pick them up as 2d and generate/handle the right bindings.

[2020-01-04 19:18] muchcharles commented on #106
Yeah in the one integrated with 4.24, not sure if it affects the plugin in 4.23 etc.

[2020-01-05 21:56] 1runeberg commented on #107
Hi @martindeegan - you are right, as Unreal doesn't have a concept of a Vector2 action at the moment, we auto group two vector1 actions with names that end with _X and _Y at the end as mentioned by @muchcharles.

Also note however that the actions ending with _X and _Y must have corresponding controller keys bound to them.

For example, to create a Vector2 ThumbstickMovement action, you need to:

[2020-01-09 19:25] insanepure opened #110 "4.24 MotionController not tracked in new project"
hey, I just started VR Development for Unreal with C++. I'm following the VR tutorial here but I'm having some problems: https://docs.unrealengine.com/en-US/Platforms/VR/DevelopVR/MotionController/index.html

I set up my Controllers within my Pawn. They are displayed with the Display Device Model Flag by the MotionControllerComponent, so I can see them ingame.
I set one as "Left" the other as "rig

[2020-01-09 22:55] 1runeberg commented on #110
Hi @insanepure - which version of the Engine are you using?

There shouldn't be any need to rebuild the bindings for tracking with that tutorial.

[2020-01-10 01:15] Andante-1 opened #109 "How can i manual setup 4.24 vision plugin?"
Hi,
i was download 4.24 vision file
but i don't know how to manual setup.
i was trying copy to project consent file but not active icon.
please help me!
![Q](https://user-images.githubusercontent.com/55864628/72117696-088e3280-3392-11ea-8601-aaea93353490.PNG)

[2020-01-10 06:00] insanepure commented on #110
I'm using 4.24.1.
I could reproduce this with c++ and blueprints following the official tutorials

[2020-01-10 06:20] 1runeberg commented on #110
HI @insanepure - Im unable to replicate the issue with 4.24.1. Cna you try the VR Template and see if you're gettign the same issue?

Also noticed with SteamVR Beta 1.10.1, this can be slightly unstable, so if you are using beta, switch to the production one - 1.9.16 and check if you're still having issues.

Cheers,
Rune

[2020-01-10 06:27] 1runeberg commented on #109
Hi @Andante-1

Not sure I understand the issue - but from the screenshot, it seems that you don't have the SteamVR Plugin enabled or you are using Oculus Hardware.

If you are using Oculus Hardware, you need to disable the Engine's Oculus Plugin so SteamVR can handle the input and rendering. You can also switch the HMD priorities, but simply disabling the Oculus Plugin temporarily for SteamVR deve

[2020-01-10 07:25] insanepure commented on #110
In the VR Template, I did not get this issue.

The issue only appeared with a new project (no starter content) and following the tutorial.
I was using the production SteamVR and had this issue, so I switched to Beta but got the same issue.

I will try again and make a better step by step reproduction.

[2020-01-13 02:02] Andante-1 commented on #109
Hi 1runberg

Thank you for your support.

a) I have disabled the Oculus plugin but nothing happens.
b) My installation method migrated the contents of the sample file to the My project.
Is this the right way?
c)  My project was created in version 4.24, so I need the correct installation of the current plugin.

Thank you :>

[2020-01-13 20:32] 1runeberg commented on #109
Hi @Andante-1 - Can you provide me the link to where you got the assets you are migrating to your 4.24 project?

[2020-01-13 21:18] 1runeberg commented on #110
Hi @insanepure

I've taken a closer look at this today. I'm a bit too familiar with these tutorials so I was getting ahead of myself and adding configs which comes in later steps/tutorials from memory.

It seems that if I stop at where you're testing - i.e. just poses and no inputs, you won't have the motion controller updating its poses.

The plugin itself is generating the correct json configura

[2020-01-14 08:06] 1runeberg commented on #110
Hi @insanepure

Finally tracked down the issue. It was a bit fiddly to trace through steamvr and the plugin code, but bottomline is a fix is available in this commit (hopefully for release in UE4.24 Hotfix 2):

https://github.com/EpicGames/UnrealEngine/pull/6459/commits/15be362d03e2a21a82d290d64dc5e7ac60dccfda

@kisak-valve Sorry, can we move this back to unreal_plugin please :)

[2020-01-14 08:11] insanepure commented on #110
Awesome, that was quick.

[2020-01-16 09:50] Angelo-Gebauer commented on #96
Hi @1runeberg ,

do you happen to have an update regarding this topic?

Thanks,
Angelo

[2020-01-16 15:23] pablonaj opened #111 "SteamVR Nodes dissapearing when reloading project"
Hi Runeberg,

I am having some issues updating from 4.23 to 4.24.1.

I migrated the files from this comment (https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/99#issuecomment-568067725).

Everything seemed ok but for some reason in the AnimGraph inside the Animation Blueprints for the gloves, the SteamVR Set Wrist Transform and SteamVR Skeletal Anim Pose keep disappearing. They work in

[2020-01-16 20:58] 1runeberg commented on #111
Hi @pablonaj -are there any related events in the project logs?

It's possible the engine is somehow internally trying to refer to anim nodes from the marketplace plugin which wouldnt be in your new project in 4.24.

Have you tried reapplying the nodes by deleting and adding them back in?

[2020-01-16 21:01] 1runeberg commented on #96
Hi @Angelo-Gebauer - thanks for the follow-up. however, sorry nothing substantial to report at this time.

[2020-01-16 23:45] eliotbnz opened #112 "4.24.1 UE4 VR Template no Vive controller tracking"
Every scene I have created using 4.24.1 no longer works with the VR template when it is packaged. 4.23 works perfectly. I have tested with the default template scene using both engine versions, and it is only 4.24 that refuses to cooperate.

Essentially what is happening is the vive controllers are no longer being tracked, and within the headset, SteamVr is throwing up a window stating **"Vive Con

[2020-01-17 00:48] 1runeberg commented on #112
Hi @eliotbnz -

Thanks for the detailed report.

The new SteamVR Input System requires the json bindings to function correctly. these should be automatically packaged outside the pak files when you do a build and we've tested prior to 4.24 release.

I've just tested the UE4 public version in the Launcher, and with 4.24.1 it does seem that the engine isn't packaging the  json config files.

I've al

[2020-01-17 01:54] eliotbnz commented on #112
Thanks for that. Unfortunately, your fix doesn't work either. I have tried that already, and while it allows for the controllers to be tracked, none of the default bindings work any longer.

As a side, I tried it with the Unreal Studio Collab Viewer Template also, and found that _some_ of the default bindings work in some way, but they seem to be attached to entirely new buttons on the vive, and e

[2020-01-17 01:58] 1runeberg commented on #112
@eliotbnz - it's likely a regression somewhere. engine hotfix 1 as far as im aware are merely crash fixes, so understandable a full regression test didnt occur. anyways, awaiting Epic feedback and will let you know.

I'm getting proper inputs and tracking on my tests with a fresh vr template and doing the manual copy. please note the directory needs to be copied from your project config directory

[2020-01-17 02:12] eliotbnz commented on #112
Thanks, I appreciate it. The Config/SteamVRBindings folder doesn't exist in my 4.24.1 project regardless. All I have in there is the "Default..." files. They don't exist anywhere in the project, nor any I create from scratch using 4.24.1. SteamVR plugin is enabled.

[2020-01-17 02:13] 1runeberg commented on #112
that's very odd -- can you send me the test project you have please.

also, is it in version control? if so, ensure that the engine  is able to create new folders under Config

[2020-01-17 02:32] eliotbnz commented on #112
Packaged file or .uproject?

No version control - it's as simple as it gets - just me working on a single UE4 template.

[2020-01-17 02:40] 1runeberg commented on #112
just a zip please  of the whole directory of your test project excluding Build, Intermediate, Saved and Binaries sub-folders.

[2020-01-17 03:13] eliotbnz commented on #112
https://drive.google.com/file/d/1RilpBfOCAsG0VKH5bwpEl55E-ftz4Ozp/view?usp=sharing

Is that what you're after?

[2020-01-17 03:53] 1runeberg commented on #112
Hi @eliotbnz - thanks for the file.

Ok so with stock 4.24.1 (Launcher version) and stock SteamVR, opening the same project you are testing with, the SteamVRBindings folder is being generated as expected including all the correct json files:

![image](https://user-images.githubusercontent.com/17371351/72582342-80ca9a00-3936-11ea-830d-baf2f761cd62.png)

I've also done a test build, created a Config

[2020-01-17 07:11] simongloor commented on #110
Finally! I was looking for this bug for days. I thought I was doing something wrong. ^^

I just wanted to add that the motion tracking on a Windows Mixed Reality device won't work as long as there is no button of it assigned, even if you add inputs for other motion controllers.

[2020-01-17 20:50] 1runeberg commented on #110
Thanks for the feedback @simongloor - just double-checked that the fix should take care of this as well. But do let us know if it's causing you issues. This fix should come out in 4.24.2.

[2020-01-18 04:17] 1runeberg commented on #112
@eliotbnz  - are you still having issues with the SteamVRBindings folder not auto-generating on your project/environment?

As for the packaging issue, it seems this is fixed in the upcoming engine hotfix 4.24.2. Still not sure when the engine regression happened but will keep a close  eye on it.

[2020-01-18 06:01] eliotbnz commented on #112
I am. I've now tested it on my own home PC and experiencing the same behavior. I'm going to uninstall all the UE4 versions, and the epic launcher and start fresh and see what happens

[2020-01-19 16:02] pablonaj commented on #111
Hi Runeberg,

It's working after deleting the Build, Intermediate, Saved and Binaries folders, forgot to do it after updating to 2.24.1 so probably something old was being referenced.

Thanks for your help.

[2020-01-19 22:58] eliotbnz commented on #112
Have uninstalled all versions of the engine, removed Epic Games launcher and reinstalled all and still the issues persist - applies to both my work PC and home PC. I see others on the Epic forums are suffering similar issues, some have fixes , some not, though the fixes seem to apply to earlier versions. I have disabled all other VR related plugins, to no avail.

Is there any means to simply disab

[2020-01-19 23:09] eliotbnz commented on #112
I've checked my log when opening the project - no relevant errors I can see, though perhaps I'm not looking in the right place.

As a side - would it matter if I have the Vive running on the machine I am working on and packaging the project? I have SteamVR on both my workstation and our VR test-bed machine (latest version of SteamVR) but only the test-bed machine has the Vive running on it. I assu

[2020-01-20 01:33] 1runeberg commented on #112
Hi @eliotbnz - Thanks for the update.

Just to be clear that we're not mixing up issues here:

(1) Issue with Packaging - This is an Engine issue, can confirm Epic has this resolved for 4.24.2 (unreleased)

(2) Issue with SteamVRBindingsFolder not being generated on the VR Template in UE 4.24.1 - This is the one we can't replicate on our end, including prior QAs by Epic and us..

So for (2), can y

[2020-01-22 04:50] 1runeberg commented on #111
awesome! glad you got it sorted. will close this now then, but let us know if you need anything else on this.

Cheers,
Rune

[2020-01-22 04:50] #111 closed, assigned to 1runeberg

[2020-01-22 04:52] 1runeberg commented on #106
We're disabling this feature for now in UE4.24 Hotfix 2 as due to the Engine archi, it's causing issues on other use cases. Please find a change for this in the PR below:

https://github.com/EpicGames/UnrealEngine/pull/6582/

[2020-01-23 09:40] Ben-Cykyria opened #113 "Path handling of action bindings not working correctly"
This is a minor issue and easy to work around, however, I think it's important to track it.

I used a path for the UE project with spaces ("../vrexppluginexample - Copy/.."), this leads to the error below. Simply renaming the folder to ("../vrexppluginexampletest/..") and restarting solved the issue.

Unreal Engine error output log:

[code]

Using UE 4.24 (with the built-in SteamVR Input plugin),

[2020-01-23 12:56] PepeDuke opened #114 "Trackpad face buttons axis mappings"
https://imgur.com/a/9X1N8kM
Using settings above i expect that steam vr mapping would result in axis movment as with old system but instead default bindings in steam vr is the code blow whitch is both axis (MoveRight,MoveUp) bound to X (1.0) not matter if i add _X or _Y to any of these. I'm going to use Action mapping instead of axis to fix this, but i feel like this should work

<details><summary

[2020-01-23 17:17] 1runeberg commented on #113
Thanks for the report. Will investigate.

[2020-01-23 17:35] 1runeberg commented on #114
Hi @PepeDuke - Yeah you should be able to do this in the Action/Key Mappings if I'm understanding your intent correctly.

If you're wanting to do something like free movement with Vector2s, along with adding the _X & _Y in the Axis Action Names, you need to use the Trackpad X & Trackpad Y keys:
![image](https://user-images.githubusercontent.com/17371351/73009032-d7b6fe80-3e63-11ea-9f1e-3fa531cf6c5

[2020-01-24 17:10] PepeDuke commented on #114
As i understand Trackpad X & Trackpad Y is not press of a button on controller, but just touching it, that works correctly but not what i need. My thoughts behind mentioning the _X and _Y was that i was thinking it might force the axis to be Y or X but it does not.

[2020-01-24 21:23] 1runeberg commented on #114
the mode should be scalar_constant if it's an axis, so you can tweak the constant itself (when it triggers) from the steamvr dashboard if you're not getting the result or sensitivity you need.

[2020-01-25 19:14] PepeDuke commented on #114
Yes I can, but if it's not default it's useless as you can't expect non-dev person to change something it steamvr dashboard. also i don't see how this is [help wanted] tag as this is request, i already have it working with action mapping but it would be nice to do it trough axis mapping.

[2020-01-25 19:38] 1runeberg commented on #114
Hi @PepeDuke - As a dev you can use the SteamVRBindings dashboard to update the default bindings generated by the plugin ("Replace Default Binding" button or "Export Binding File" if you want to do a manual overwrite of you project jsons). As the engine UI doesn't have all the features the new SteamVR Input system has and paradigms are different in some cases, tweaking values and doing more advanc

[2020-01-25 19:53] PepeDuke commented on #114
Thank you

[2020-01-28 17:47] 1runeberg commented on #112
Hi @eliotbnz - FYI, the Hotfix 2 has been released today. Automatic copying of the SteamVRBindings folder to a build is still unfortunately buggy and unreliable. The Epic Build team is still looking at this.

In the meantime, it'll be safer to simply copy the SteamVRBindings folder in your project to your packaged build.

If you're still having issues with the folder being generated in your projec

[2020-01-30 15:52] Andyhdr commented on #114
So with the latest hotfix in 4.24 the trackpad touching isn´t giving any axis values anymore. I have set everything up in the input settings, but the value is always 0

[2020-01-30 18:14] 1runeberg commented on #114
Hi @Andyhdr - How are you using the axis value in your game?

I've also opened a separate Issue for this: https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/115

[2020-01-30 18:20] 1runeberg opened #115 ""Trackpad Touch" as Axis in UE4.24 Hotfix 2 requires Press"

[2020-01-30 18:34] 1runeberg commented on #115
When "[Controller] Trackpad Touch" is set to an Axis action, new default behaviour requires a press to be triggered, which is the same behaviour as an axis mapping to "[Controller] Trackpad".

This will be fixed so behavior on  "[Controller] Trackpad Touch" emits a value. In the meantime:

(1) Since the values for Touch are always 0 or 1, map "[Controller] Trackpad Touch" as a boolean action - tha

[2020-01-30 22:19] muchcharles opened #116 "Key pressed events keep coming even when the controller is off in 4.24.2"
If the controller is turned off while a key is pressed, unreal will keep firing key events for it even if the controller was turned off before Unreal launched.  I got this first with grip events on index but also tested with the A button (it must have first happened due to gripping while turning the controller off, which can be hard not to do).

I saw this on both SteamVR 1.10.7 and 1.10.8 (haven'

[2020-01-31 02:33] 1runeberg commented on #116
Hi @muchcharles - Unable to replicate this in 1.9.16 & 1.10.8 - which controller are you using?

[2020-01-31 20:02] muchcharles commented on #116
Knuckles DV.  I just got a clean engine debug build from tag 4.24-release without any of my branch and I'm still seeing it.  I held down the A button as I turned off the controller with steamvr running, and launched UE4 afterwards:

![image](https://user-images.githubusercontent.com/7025369/73570651-babd9500-443a-11ea-8790-ecd08d1e0172.png)

(screenshot got cropped a bit, the MessageHandler->OnCon

[2020-02-01 01:23] mimattr commented on #55
@1runeberg Has there been any progress with Linux support? Hoping to move forward with the latest **Unreal Engine** release (4.24.2) now the **Valve Index** cross-platform experience has matured.

Many thanks in advance.

[2020-02-01 01:40] 1runeberg commented on #116
Hi @muchcharles - Is this test project just the standard VR Template?

Can you uncomment those two  UE_LOGS and send me the result you are getting? Also your SteamVR System Report with logs that were being generated at the same time as when you are observing the repeats) all to runeb@valvesoftware.com please.

Thanks,
Rune

[2020-02-01 03:51] muchcharles commented on #116
Sure, I'll mail you a system report taken while running it.  This is what shows when those logs are uncommented

`[2020.02.01-03.49.11:460][  1]LogTemp: Warning: Handle /actions/main/in/TeleportLeft KeyX ValveIndex_Left_A_Click Value 1 Changed 0 UpdateTime -34448.824219
[2020.02.01-03.49.11:461][  1]LogTemp: Warning: Handle /actions/main/in/GrabLeft KeyX MixedReality_Left_Trigger_Click Value 1 Cha

[2020-02-01 03:52] muchcharles commented on #116
One thing you might make sure of in reproducing it is that the dashboard doesn't open, sometimes when turning off the controller that seems to happen and could maybe consume the inputs.

[2020-02-01 04:00] 1runeberg commented on #116
thanks. please make sure you send me the full UE LOG as well :)

Cheers,
Rune

[2020-02-01 09:36] Andyhdr commented on #115
Thanks for opening the issue.
The touch itself is registered as you mentioned (0/1). Also the button presses (touch up/down/left/right) work. But we don´t get any information about the touch in a specific direction. We have a radial menu where we use the touch functionality to select the different buttons and we use the actual touch press to trigger this button. In the earlier versions we just use

[2020-02-01 17:41] muchcharles commented on #116
Looks like a couple people have reported this recently for steamvr in general:

https://github.com/ValveSoftware/openvr/issues/1296

[2020-02-01 23:35] Gitschi opened #117 "Axis values are not -1 to 1"
I'm using the version for UE 4.23 and the axis values I get from the analogue sticks or vive wand touchpad are completely messed up.
For the knuckles controller I'm getting -2 to 2 and for the vive wands it's between -123 to 123 instead of being between -1 and 1 as it should be.
This makes it really cumbersome to implement things such as snap turning at a certain threshold.
It also makes the playe

[2020-02-03 18:37] 1runeberg commented on #117
Hi @Gitschi - can you try the latest code in develop-4.23?
https://github.com/ValveSoftware/steamvr_unreal_plugin

It should have the fix for this, let us know though if you're still when using the latest develop version. Thanks.

[2020-02-03 23:07] 1runeberg commented on #116
was tricky to replicate as turning off the controller for Index at least is difficult while a button is pressed. but it appears if you press and unpress while turning it off then subsequent shutdowns with a press works.

still investigating this however, but it does point to a potential steamvr issue.

[2020-02-06 17:59] 1runeberg commented on #55
@mimattr - sorry for the late response. unfortunately we don't have any new updates for this at the moment,  we're still working towards this but need to iron out a number of items first. Thanks for the follow-up!

[2020-02-07 01:07] mimattr commented on #55
@1runeberg Thanks for the update, which items need to be ironed out?

[2020-02-07 14:56] OptimisticMonkey opened #118 "Valve Index not working in VR Editor Mode"
Not sure if this is right place to post - but the default vr editor is broken in 4.24.2

There is no way to display the popup windows or context menus, and every button is mapped to the same function.

Ideally, you should be able to create a new VR Project, toggle VR Mode in editor , and use the index controllers out of the box.

BTW - Is there an official Valve Index Developer forum to post this

[2020-02-07 16:42] 1runeberg commented on #55
There are a number of things in the current plugin that's in a less than ideal state due to current engine design (e.g. support for vector2s in the input ui, actionsets), effort in close coordination with Epic is being put on this at the moment as they are key to the plugin's usability and ability to use the full featureset of the SteamVR Input system.

[2020-02-07 16:52] 1runeberg commented on #118
Hi @OptimisticMonkey - as far as im aware, there's still no Index support in the VR Editor. this may be something that'd be great to put in https://epicsupport.force.com/unrealengine/s/ or the UE forums, but this way it's tracked. Let me know and we can help amplify the request as well.

[2020-02-08 06:31] Andyhdr commented on #115
Any news on this issue yet?

[2020-02-11 00:25] Gitschi commented on #117
Hi @1runeberg
Thank you for the answer.

Updating to latest code did indeed fix the issue with the axis values.
However the motion controllers stopped tracking completely now and are locked to the vr origin.
Tried it with vive wands and index controllers.

[2020-02-11 02:50] 1runeberg commented on #115
Hi @Andyhdr  - we have a candidate fix but not sure if it's going to make it to Hotfix3....

For the touch directions, are you referring to Vive inputs? A vector2 (TrackpadX, trackpadY) on the vive trackpad should respond on touch.

[2020-02-11 03:00] 1runeberg commented on #117
hi @gitschi - that's odd. is this with axis inputs defined? can you send over the project logs please. thanks ( to runeb@valvesoftware.com if it has sensitive info).

Also, can you test with the standard vr template?

[2020-02-11 14:05] nx306 commented on #104
Hello @1runeberg - i would appreciate any hint on how to create the .jsons for 3 trackers, so far no luck with that.

My main files:
![image](https://user-images.githubusercontent.com/7034258/74243267-b8332900-4cdf-11ea-90cc-1b4c965850ef.png)

SteamVRBIndings folder:
![image](https://user-images.githubusercontent.com/7034258/74243364-e9135e00-4cdf-11ea-90b6-fdbba8361e17.png)

And Vive_tracket_xxx

[2020-02-11 14:10] nx306 commented on #104
Hello, some help or guide on how to generate the .json files for trackers would be appreciated... So far no luck:

My vive_tracker_xxx.json:
![image](https://user-images.githubusercontent.com/7034258/74243618-617a1f00-4ce0-11ea-877c-a6b7ac6dee74.png)

Main .json:
![image](https://user-images.githubusercontent.com/7034258/74243729-8a021900-4ce0-11ea-8387-9119ba5ca474.png)

And my SteamVRBindings fo

[2020-02-11 18:47] 1runeberg opened #119 "Hello, some help or guide on how to generate the .json files for trackers would be appreciated... So far no luck:"
Split from Issue #104 by @nx306:

"Hello, some help or guide on how to generate the .json files for trackers would be appreciated... So far no luck:

My vive_tracker_xxx.json:
![image](https://user-images.githubusercontent.com/7034258/74243618-617a1f00-4ce0-11ea-877c-a6b7ac6dee74.png)

Main .json:
![image](https://user-images.githubusercontent.com/7034258/74243729-8a021900-4ce0-11ea-8387-9119ba5ca

[2020-02-11 18:53] 1runeberg commented on #119
HI @nx306 - Thanks for reaching out. A couple of things:

(1) steamvr_manifest.json in "default bindings", you need to specify the new tracker json files
(2) In your tracker json files, in "poses",  you only need to map the pose (left/right foot) that this tracker json file is referrign to,
(3) In your tracker json files, make sure the controller_type matches the controller_type refferred to in st

[2020-02-11 19:09] 1runeberg commented on #115
Pull Request here: https://github.com/EpicGames/UnrealEngine/pull/6680

[2020-02-11 22:07] nx306 commented on #119
@1runeberg - thanks for the tips, will try it out. If I understand it correctly, the marketplace plugin works only up to Unreal 4.23, so when we're using 4.24 we're out of luck, correct? 4.25 seems to be too far for us to be viable.

[2020-02-12 01:36] 1runeberg commented on #99
@gradgr - closing issue since plugin has been released as an integrated one in UE4.24 for a while now and we are now in Hotfix 3 :)

let us know though if you have any further questions on this.

[2020-02-12 01:36] #99 closed, assigned to 1runeberg

[2020-02-12 01:36] 1runeberg commented on #101
Hi @muchcharles - are you still having issues with this?

[2020-02-12 01:38] 1runeberg commented on #102
@muchcharles - Closing as this has been released in Hotfix 2

If you have any further issues with this however, please jsut let us know.

[2020-02-12 01:38] #102 closed, assigned to 1runeberg

[2020-02-12 01:39] 1runeberg commented on #104
@sachdevaprash - Hi, are you still having issues with this?

[2020-02-12 01:39] 1runeberg commented on #107
hi @martindeegan - are you still having issues with this?

[2020-02-12 01:40] 1runeberg commented on #109
Hi @Andante-1 - do you still need help on this? Let us know!

[2020-02-12 01:43] 1runeberg commented on #119
Hi @nx306 - correct, the marketplace plugin is only up to UE4.23, you can however try grabbing the develop branch though in GitHub and add to a sample project, say the VR Template and check the generated tracker controller files if you need more samples.

[2020-02-12 01:53] martindeegan commented on #107
Hi @1runeberg, this worked thanks!

[2020-02-12 01:53] #107 closed, assigned to 1runeberg

[2020-02-12 03:07] muchcharles commented on #101
No issues with it anymore, I think you can close this one out.

[2020-02-12 07:57] Andyhdr commented on #115
Awesome, thank you. One thing we found out yesterday:
The input mapping for the Trackpad is not triggered by the Vive(L/R) Trackpad Y/X. You can test it if you open up the 4.24 demo project and delete the axis mapping for it. In this case you still get the values. But if you delete the Valve Index Thumbstick and the Mixed reality Thumbstick also nothing works anymore. They seem to be mixed up in a

[2020-02-12 15:42] tedconry commented on #71
I'm running into a problem with UE 4 vr gloves joints. Can I use the joints for the left and right gloves? In the default there is only a right glove that's mirrored. Do I have to mirror the glove? If don't have to, than how should I orient the joints?

[2020-02-12 17:19] #101 closed, assigned to 1runeberg

[2020-02-12 17:22] 1runeberg commented on #115
@Andyhdr - when you open the SteamVR Input dashboard (via the UE UI), which controller profile does it say is active?

[2020-02-12 17:24] 1runeberg opened #120 "I'm running into a problem with UE 4 vr gloves joints. Can I use the joints for the left and right gloves? In the default there is only a right glove that's mirrored. Do I have to mirror the glove? If don't have to, than how should I orient the joints?"
_Originally posted by @tedconry in https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/71#issuecomment-585267477_

I'm running into a problem with UE 4 vr gloves joints. Can I use the joints for the left and right gloves? In the default there is only a right glove that's mirrored. Do I have to mirror the glove? If don't have to, than how should I orient the joints?

[2020-02-12 17:24] #71 closed, assigned to 1runeberg

[2020-02-12 17:24] 1runeberg commented on #71
Opened a new issue for the UE4 VR gloves

[2020-02-12 17:33] 1runeberg commented on #120
Hi  @tedconry - For the Valve provided gloves, you should have two skeletons, one for the left and one for the right:

![image](https://user-images.githubusercontent.com/17371351/74360552-61316f00-4e19-11ea-9c52-018d674bbe6a.png)

If you are referring to the stock UE4 Skeleton (the one that comes with the UE VR Template)

![image](https://user-images.githubusercontent.com/17371351/74360599-77d7c60

[2020-02-12 18:11] tedconry commented on #120
Ok, I'm using the skeleton from the "Mannequin hand right" for a left hand. The joints in maya are orientated the same way. But it's not deforming correctly. Is the code for your plug in allow for mannequin "hand_r" joints hierarchy as well a "hand_l" or does it have to be mirrored in unreal? In maya I'm trying to replicate the mannequin hand right to make left hand. If I want to use separate skel

[2020-02-12 18:16] 1runeberg commented on #120
you should be able to just apply a -1.0 scale on the Z axis of the right mesh in UE4 to get the left hand, then apply those anim node values I've posted earlier.

if you need a separate left skeleton, you can try unchecking "mirror" on the node I posted above and still keeping to "Left Hand", but we've not tested it for this use case as these settings are meant for the UE4 provided skeleton and Ep

[2020-02-13 14:17] OptimisticMonkey commented on #118
Thanks runeberg - I submitted bug to Epic, they replied via email and asked question whether it was knuckles or wand...  Cant seem to find any tracking number.

The title was "Valve Index default vr editor controller bindings are broken in 4.24.2"

[2020-02-13 19:26] 1runeberg commented on #118
HI @OptimisticMonkey - Not sure if this is what you're asking but, "Knuckles" refers to the Valve Index Controllers while "Wands" are the HTC Vive Controllers.

[2020-02-14 03:23] OptimisticMonkey commented on #118
Yeah I had told them Knuckles - btw just got a reply:

"...spoke with QA and it turns out that the Knuckles are not yet supported. :-\
No timeline for support was given.
Sorry to be the bearer of bad news,...."

So I guess no using Knuckles in UE Editor for now :-(

[2020-02-16 17:02] sachdevaprash commented on #104
Hi! I made it work, but not really with any suggestions I found. I had to write my own manifest files after some trial and error. No automatic regeneration of manifest files through any of the built-in options worked for me.

[2020-02-16 22:33] Gitschi commented on #117
@1runeberg
For the inputs I just generated the default ones that come with the plugin.
I just tried with a fresh standard vr template and the same issue persists.
All the inputs are working fine, but the hands are just locked into the ground.

I put the log and the project files up on g drive for you to check out.
https://drive.google.com/drive/folders/1VVDi3be9P0ArMeroGQLUNEi-J0e181MP?usp=sharing

[2020-02-17 08:38] simongloor opened #121 "Index Controller Crashes"
[code]

This occurs when outdated ActionMappings existed in the input settings.
Clearing the input settings and reapplying correct settings solves the issue.

[2020-02-17 18:37] 1runeberg commented on #104
HI @sachdevaprash - glad you got it working. The plugin in 4.24 only generates for the camera configuration by default and not for any other roles. Also, one thing to note the steamvr_manifest.json gets overwritten each editor restart, so you might want to try to set it to read-only if you added new tracker roles.

In the Github version, we've published this functionality (for 4.15-4.23) under a d

[2020-02-17 18:37] #104 closed, assigned to 1runeberg

[2020-02-17 18:40] 1runeberg commented on #119
Also, one thing to note the steamvr_manifest.json gets overwritten each editor restart, so you might want to try to set it to read-only. It's less than ideal unfortunately, but hopefully we'll get the better tracker support out in 4.25 as no new features are allowed in 4.24 hotfixes.

[2020-02-17 18:56] 1runeberg commented on #117
Hi @gitschi - Thanks for the logs. Can you try moving the project in a directory without spaces and let me know how that goes for you:

![image](https://user-images.githubusercontent.com/17371351/74679958-5f015300-5213-11ea-8942-6a3481447e60.png)

[2020-02-17 19:03] 1runeberg commented on #121
HI @simongloor - For projects using the Marketplace plugin and upgraded to 4.24, this can happen as the key namings have been harmonised with the engine's new OpenXR keys in 4.24, which closely matches the SteamVR Input ones:
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/99#issuecomment-567637676

In addition to clearing the inputs, you may also wish to delete your Intermediate and

[2020-02-17 21:38] 1runeberg commented on #117
also @Gitschi, if you have moved the project or opened it at a different project folder before, please clear any entries with ue4 in your steamvr.vrsettings (...program files x86\steam\config) and restart SteamVR.

[2020-02-18 16:26] Ma8ter opened #122 "Oculus Touch and Vive Cosmos motion controllers are translated incorrectly under UE4.24"
Since UE4.24 my controllers in-game shifted upwards, forward, and to the right. It looks like motioncontrollercomponent's position vector is multiplied by some value.

[2020-02-18 23:54] 1runeberg commented on #122
Hi @Ma8ter - with the new input system, the origins are different for each controller than legacy, so you may need to apply some offsets to get the exact controller position you need/want for Oculus Touch controllers.

You can have display device model on temporarily to help with hte alignment, and you use something like this to detect controller type in your project:
https://github.com/ValveSoftw

[2020-02-19 08:08] Ma8ter commented on #122
Thanks for your reply, @1runeberg

I guess I should've also added that in SteamVR home and dashboard those controllers are tracked perfectly, and so they are if I use clean Pawn class. Positions shift when I use Character class. Tried to attach my Pawn to my Character, but the outcome is the same as if I attached MotionControllerComponents to it directly.
Don't really know if it helps to understan

[2020-02-19 09:36] Gitschi commented on #117
Hey @1runeberg , sorry to bother you again, but that also doesn't fix the issue.

I moved the project over to a folder without spaces and got rid off the **vrappconfig** files.
After that I also made a completely new project again and made sure it's in a folder path without spaces.

I put a new log up on the same drive folder:
https://drive.google.com/drive/folders/1VVDi3be9P0ArMeroGQLUNEi-J0e181M

[2020-02-20 01:14] 1runeberg commented on #122
Hi @Ma8ter - The plugin doesn't distinguish between a character or pawn. It merely sends translation and input data from steamvr to the engine.

I just quickly tested using ue default pawn and character classes and have gotten consistent results:

![image](https://user-images.githubusercontent.com/17371351/74891085-0cbe5e80-53da-11ea-9e29-863085e232b4.png)

Other than the steamvr default provided

[2020-02-20 23:18] Ma8ter commented on #122
Kinda found the source of the problem and it just blows my mind as hell. Every single project of mine includes Chameleon Postprocess plugin, and it never caused any issue until I started to use SteamVR plugin. The former somehow manages to screw the latter up so much that I need to restart SteamVR, UE, and Cosmos completely to fix the consequences.
After I deleted an instance of Chameleon from all

[2020-02-21 00:20] 1runeberg commented on #122
Hi @Ma8ter - thanks for the update. Yeah, mentioned specifically vanilla UE install because have had reports from other plugins - normally plugins that might be doing some sort of predictive transform correction, especially anything linked to networking. Wasn't too sure that applied to your case though, so appreciate the update.

Issue sometimes could be the 3rd party plugin is expecting legacy st

[2020-02-21 18:18] cavesrd commented on #112
not sure if anyone is still having problems with this, but I'm also unable to generate the steamvrbindings folder for the VR template in 4.24.2. I'm using an oculus rift CV1, @1runeberg you mentioned that it could be related to the engine using oculus as the primary vr platform? I want my current project to be compatible with all headsets but I currently only have the rift to test it on. I was thi

[2020-02-21 21:21] 1runeberg commented on #112
@cavesrd - When you open the editor, do you have the SteamVR toolbar button visible?

![image](https://user-images.githubusercontent.com/17371351/75072707-21baff00-554c-11ea-8955-cacfdb7b726e.png)

SteamVR must also  be up and running properly (no errors, headset is detected).

[2020-02-22 04:38] cavesrd commented on #112
@1runeberg thanks for getting back to me, no the toolbar is not visible, neither does ue4editor.exe appear in steam vr when I attempt to set the controller bindings. I was thinking I might try a fresh reinstall of 4.24 today

[2020-02-22 18:15] 1runeberg commented on #112
@cavesrd have you tried disabling the Oculus plugin already? (in case I misread your first question). The SteamVR plugin doesn't need the Oculus plugin to use Oculus hardware.

You can also change the hmdpriority in your engine.ini, but for builds we recommend disabling the plugin that's not bound for a particular platform's store.

[2020-02-23 06:19] cavesrd commented on #112
@1runeberg that did it! I wouldn't have thought to disable oculus because becuase my previous games have used both plugins simultaneously without a problem. really appreciate your help, I can get my game packaged and sent now!

[2020-02-24 18:03] VismayaStudio opened #123 "Steam VR not picking up controller bindings"
Hello,

Firstly sorry if this is the wrong place to post this. Unfortunately, Unreal answers have been down for over a week and I don't seem to be getting much response from the forum/reddit.

I have integrated Steam VR and the packaged game works perfectly on my end — however, no one else seems to be able to get their controllers working with Steam VR.

The hands in-game are facing each other (🙏)

[2020-02-24 20:53] 1runeberg commented on #113
Hi @Ben-Cykyria - I just tried to replicate this and couldn't get the issue.

However, the **Mismatched Action Manifest** error is symptomatic of something else - steamvr may be holding on to another set of bindings for a similarly named project.

**You can fix this by:**
(1) Go to your **{Program files} \ Steam \ config** directory
(2) In the file s**teamvr.vrsettings**, remove any json entries w

[2020-02-24 21:05] 1runeberg commented on #123
Hi @krishkrush - A couple of things to check:

(a) Make sure that the Oculus Plugin is not enabled when packaging for SteamVR
(b) You need to copy the config/steamvrbindings folder from your Project file
(c) To ensure a unique project name - make sure in your UE project settings, you have a Project Name specified.

You can also do the following steps before running your packaged build in your mach

[2020-02-24 21:23] VismayaStudio commented on #123
Thanks for you assistance @1runeberg :)

Unfortunately that hasn't fixed it :(

I can confirm that:

a) Oculus was disabled when packaging
b) I copied over the files from the Project file as indicated
c) I have a unique name 'Playne VR' in the project name field in Project Description.

A minor correction in my initial post is that the packaged build does not work on my machine neither.

Also, I c

[2020-02-24 21:28] VismayaStudio commented on #123
Also, @1runeberg I have sent you a Steam key via beyondreality.io that will give you quick access to the packaged game.

[2020-02-24 21:48] 1runeberg commented on #123
Hi @krishkrush - can you officially resend the key or ideally invalidate please and send the key to my Valve email/Steam Account instead runeb@valvesoftware.com as that email isn't for Valve correspondence :)

[2020-02-24 23:08] VismayaStudio commented on #123
Of course - sent :) Thank you.

[2020-02-25 10:01] Ma8ter commented on #122
Update:
Even without Chameleon plugin, my controllers jump away whenever ResetOrientationAndPosition node is triggered, and they remain off place until I restart SteamVR. Don't see any direct connection but it is possible that Chameleon actor triggered ROAP node somehow.

[2020-02-25 12:01] VismayaStudio opened #124 "Steam VR Hands Misaligned"
Hello,

I have another issue related to the Steam VR plugin for unreal.

The VR hands seems to be pointing about 45 degrees too high from the natural position. This seems to only occur when using Steam VR (via oculus there are no issues).

Any idea what might be happening here?

Thanks,
Krish.

[2020-02-25 12:35] VismayaStudio commented on #123
I wasn't sure if its worth nothing this, but this project was upgraded from 4.23 to 4.24.2.  Thanks.

[2020-02-25 13:35] VismayaStudio commented on #124
Just did a bit more digging @1runeberg — The issue is present even in the VR template.

In Oculus, the hand position is correct. But when you disable Oculus and just use Steam VR, then hands are about 45 degrees too high.

[2020-02-25 13:42] VismayaStudio opened #125 "Steam Chaperone Compile Error"
There seems to be a SteamVR compile error in a new VR template on Unreal engine 4.24.2.

Is it okay to unplug this node?

![Compile Error](https://i.imgur.com/ltXe5JM.png)

Thanks,

[2020-02-25 18:10] 1runeberg commented on #122
Hi @Ma8ter - are you seeing the same behavior in a vanilla VR Template? It's usually a good baseline to test if anything might be causing the issue (e.g. way the MC attachments are done etc).

[2020-02-25 18:20] 1runeberg commented on #123
I havent gotten the key, but you can send me a link with the compressed packaged build instead since your build isn't running on your own machine either.

[2020-02-25 18:22] 1runeberg commented on #124
Hi are you referring to this: https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/122

[2020-02-25 18:37] 1runeberg commented on #125
Hi - Not seeing that error on my end. The template was developed by Epic though so the folks at the UE Answer Hub might be better able to assist :)

[2020-02-26 11:13] MWaerzner opened #126 "Vive Trackers: UE4 and SteamVR fail to link"
Hi,

for a couple of days now I am trying to get HTC Vive Trackers running with the new integrated SteamVR Input plugin within UE4 4.24.3 (updated to this as it lists a related fix, did not change anything though). I am using SteamVR 1.9.16

I suspect the main problem is the linking between SteamVR and Unreal Engine as it fails to register the application manisfest and the identification to SteamV

[2020-02-26 13:28] VismayaStudio commented on #123
I've just sent you the details to runeb@valvesoftware.com again. Hope you get it. Are you on discord? If so I could send you there if this doesn't work.

Also, my email is krish@playne.co.

[2020-02-26 18:26] 1runeberg commented on #123
Hi @krishkrush  - thanks for that. the location of the config directory is outside the project in your build, but even moving it in, the application manifest doesn't seem to be loading so SteamVR is reverting to legacy default bindings.

I can't seem to see any attempts from the app to load the manifest in - can you make a 64 bit debug build please and send it over to me?

If you're using a source

[2020-02-26 19:32] 1runeberg commented on #126
Hi @MWaerzner,

For 4.24, the vive tracker support is a bit limited, but you can easily set the camera role as in this demo video:

https://youtu.be/nL61ZsXk1xc

If you need additional tracker roles, you need to generate or copy the camera json under the SteamVRBindings folder.

For instance, in your steamvr_manifest json, make sure you have a corresponding link to the tracker json:
![image](https

[2020-02-27 08:57] VismayaStudio commented on #123
@1runeberg 64bit build works!!! :D :D : D

However, 32bit does not.

Would it help you if I sent you the 64bit build to see what might be happening?

[2020-02-27 09:13] MWaerzner commented on #126
Hi again,

thanks for the response. I did some further testing and found out something interesting:

I listed all the tracked motion sources using blueprint.

![image](https://user-images.githubusercontent.com/25768712/75427859-8b218000-5947-11ea-9cff-6561ea121a98.png)

I found that Special-5 is tracking. So configuring the input using SteamVR input seems to be working.

![image](https://user-imag

[2020-02-27 10:23] MWaerzner commented on #126
If I use "Get Tracked Device Position and Rotation" per tick to get the tracking data it works... why does it not work when using the motion controller component? This seems odd to me.

![image](https://user-images.githubusercontent.com/25768712/75435172-f0c73980-5952-11ea-9965-e73af1abae8f.png)

[2020-02-27 10:39] VismayaStudio commented on #124
Hey @1runeberg ,

I'm not sure if this issue is a duplicate of #122 — with my issue, the controller just faces up but about 45 degrees. Also, I am getting the same issue with the vanilla VR template, and only when using Steam VR.

If I do simply just need to set an offset for this, do you know the recommended way to do this?

Thanks,

[2020-02-27 11:10] MWaerzner commented on #126
Update: Found the issue. The object owning the Motioncontroller Component MUST be spawned so that the VR Pawn with the specified player index is its owner. That was not the case in 4.21. Wish there was proper documentation on this stuff... Case dismissed.

[2020-02-27 11:10] #126 closed, assigned to 1runeberg

[2020-02-27 18:31] 1runeberg commented on #123
Hi @krishkrush the plugin has only been whitelisted for 64bit platforms

is there any particular reason you are publishing in 32 bit?

[2020-02-27 18:34] 1runeberg commented on #124
Hi @krishkrush - there is a future plan toexpose the offsets easier, but at the moment, devs would have to apply the adjustments manually depending on their project and hand mesh in use.

the offsets may vary slightly from project to project depending on how your character is setup, your hand mesh orientations, other plugins in use and is outside the scope of the plugin support.

Generally however

[2020-02-27 18:41] 1runeberg commented on #125
Hi @krishkrush - do you still need help from our end on this?

We don't maintain hte VR Template and Im also unable to see any errors on vanilla vr templates from our end.

If you are having specific issues with the VR Templates, Epic Answer Hub is your best resource as then Epic may want to fix these if they find an issue.

[2020-02-27 18:43] 1runeberg commented on #121
Hi @simongloor - are you still encountering the issue?

[2020-02-28 16:49] VismayaStudio commented on #125
@1runeberg I just checked and it looks like the 4.24.3 hotfix has resolved this issue.

Thanks for checking this.

[2020-02-28 16:49] #125 closed, assigned to 1runeberg

[2020-02-28 16:50] VismayaStudio commented on #124
Thank you so much for your time in helping me with this @1runeberg . I have used RelativeRotation to offset the VR hands and it seems to be working.

[2020-02-28 16:51] VismayaStudio commented on #123
Ah, that makes sense. I have now migrated over to 64bit and it seems to be working!

Thank you for helping me with this @1runeberg :)

[2020-02-28 18:36] simongloor commented on #121
@1runeberg since I've cleared the input settings I am not able to reproduce it anymore.

[2020-02-28 20:08] #124 closed, assigned to 1runeberg

[2020-02-28 20:09] 1runeberg commented on #123
No prob! Thanks for the update @krishkrush !

[2020-02-28 20:09] #123 closed, assigned to 1runeberg

[2020-02-28 20:10] 1runeberg commented on #121
Thanks for the update @simongloor !

[2020-02-28 20:10] #121 closed, assigned to 1runeberg

[2020-02-29 11:54] bbishop86 opened #127 "Oculus Quest Link not working?"
I've successfully set up Index controls and finger tracking for my game. Now I'm trying to set up controls for Oculus but I've noticed they aren't working with the Quest and link cable. The only keys that seem to work are the old generic motion controller keys, and the generic thumbstick X and Y.

Is the Quest and link cable not recognised by SteamVR input? That could be a problem as a lot of peop

[2020-02-29 13:51] bbishop86 commented on #127
So I went into the bindings dashboard and assigned the thumbsticks and now it works, not sure why I had to do that though.

[2020-02-29 13:51] #127 closed, assigned to nobody

[2020-03-02 05:12] uno1982 commented on #50
Was there ever a fix for this? I'm having the exact same issue on 4.22.3 with the latest steamvr input plugin

[2020-03-02 05:13] uno1982 commented on #50
Also running VRExpansion and OpenVRExpansion Plugin's by MordenTral

[2020-03-02 05:19] dddubbb commented on #50
I ended up not using the SteamVR plugin. Looked into quite a bit with both Rune and MordenTral at the time and couldn't figure it out. You shouldn't need OpenVRExpansion with this, but if it's the same as mine enabling SteamVR with VRExpansion causes it. Might be worth checking in with Mordentral on Unreal Slackers discord. At the time it was just me but if more people have had this issue he might

[2020-03-02 05:48] uno1982 commented on #50
I have another project which uses both VRE and SteamVR input on 4.24.3 I'll be able to package shortly and update you on if its still an issue. Thanks for the update

[2020-03-02 23:54] 1runeberg commented on #50
This issue is related to the Marketplace version and the conflict between the two plugins at the time since part of  it was also doing input, I believe this has been corrected since.

However, there's a known issue with 4.24 that the Epic build team is still looking at.

Because the plugin is now one of the "select" plugins (along with other XR plugins)  that are on by default, it apparently goes

[2020-03-03 07:01] uno1982 commented on #50
Thanks for the reply Rune. I've reviewed my plugin version which I did get from the marketplace but comparing the version number to the latest GitHub version i'm seeing that they are the same revision? I'm running a source build of 4.22.3 that I've cherry picked fixes for and outside of being able to get this plugin to work its the most stable and (bug free) version of the engine I've had since 4.

[2020-03-04 06:50] 1runeberg opened #128 "Issue with packaging using custom build"
Thanks for the reply Rune. I've reviewed my plugin version which I did get from the marketplace but comparing the version number to the latest GitHub version i'm seeing that they are the same revision? I'm running a source build of 4.22.3 that I've cherry picked fixes for and outside of being able to get this plugin to work its the most stable and (bug free) version of the engine I've had since 4.

[2020-03-04 06:56] 1runeberg commented on #128
Hi @uno1982 - if you're using the source build and you also have the marketplace added to the engine (via the Launcher UI), then you need to put the plugin in hte project folder to ensure you are using the correct version.

Building the source version for the engine, you need to build it like so:
"C:\Program Files\Epic Games\UE_4.22\Engine\Build\BatchFiles\RunUAT.bat" BuildPlugin -Plugin=C:\GitHub

[2020-03-04 10:45] bbishop86 opened #129 "Using "Find Steam VR Origin Tracked Device Info" with Vive Pro controllers returns "Other"?"
As suggested I'm using the "Find Steam VR Origin Tracked Device Info" node to detect which controllers are being used. I'm changing how input is handled when the player is using certain controllers so I really need to know which are the right ones. However when using Vive Pro controllers it returns nothing.

edit: I forgot "other" was the output of my function not the node lol. Now I've gone back

[2020-03-04 11:58] bbishop86 commented on #129
After this it stopped working completely, and now it's back to working. Not sure but I guess it got confused when I was switching between using Vive and Index controllers.

[2020-03-05 07:54] 1runeberg commented on #129
Hi @bbishop86 - Is the action being triggered prior to the node being called?

Action specified in the node needs to be triggered first -- if that's not convenient, you might want to hook up to a dummy action you map for this purpose. You can use Trigger Touch, Trackpad Touch, or any other inputs that your player would naturally trigger.

[2020-03-05 11:23] bbishop86 commented on #129
Yeah, I was using the left grip action and after I set the node to be called on tick I realised it wasn't working until I actually pressed grip. I will have another look at it today and hopefully find a workaround.

[2020-03-05 12:32] bbishop86 commented on #129
OK I fixed it. What I did was instead of waiting for the player to trigger the action, I used the "Simulate key press" node from Rama's Victory plugin to make sure it always happens immediately.

[2020-03-05 12:33] #129 closed, assigned to 1runeberg

[2020-03-05 22:21] eliotbnz commented on #112
I have managed to get this working with the latest hotfix. However, I have a question about how it is implemented.

Almost all our work is done on our workstations, which aren't connected to a headset. It seems that this is what is causing the issue. The steamvr plugin doesn't seem to run because there is no headset detected. Even opening the same project on a machine with the headset running, the

[2020-03-09 20:19] Qwigs commented on #110
Note on this, I got this same issue yesterday on 4.24.3 and think turning off Oculus Plugin fixes it. Is this possibly a multi-cause issue? Is there a fix for the cross-talk problem in the future?

[2020-03-09 21:15] 1runeberg commented on #110
Hi @Qwiggalo - possibly not without an engine architecture change. OpenXR is meant to resolve this, but for now, either plugin must be turned on or off depending on which platform you wish to test on.

[2020-03-09 21:37] 1runeberg opened #130 "I have managed to get this working with the latest hotfix. However, I have a question about how it is implemented."
I have managed to get this working with the latest hotfix. However, I have a question about how it is implemented.

Almost all our work is done on our workstations, which aren't connected to a headset. It seems that this is what is causing the issue. The steamvr plugin doesn't seem to run because there is no headset detected. Even opening the same project on a machine with the headset running, the

[2020-03-09 21:40] 1runeberg commented on #130
Opened a new ticket so as not to mix several issues.

The plugin relies heavily on the SteamVR runtime for tracking and input so it is not possible to test without the runtime properly running and without VR hardware properly installed.

For the bindings generation, we probably shouldn't be so strict, I'll have a look if we can circumvent this for 4.25

You shouldnt need to do any migration of lev

[2020-03-09 21:42] 1runeberg commented on #112
A fix for the original issue for this thread is bound for UE4.26 as per Epic XR Team (correct project json files not coming across in packaged builds)

[2020-03-09 21:44] 1runeberg commented on #129
Thanks for the update and sharing @bbishop86 . Good 'ol Rama! :)

[2020-03-10 01:05] uno1982 commented on #50
Rune,

<details><summary>LogSteamVRInputDevice</summary><p>

[code]

</p></details>

My log is showing success both with the plugin in the engine and rebuilding and after moving the plugin into my projects directory and rebuilding. Both cases work in editor and result in no tracking after packaging but my bindings are working fine. The version matches the latest version on GitHub however I did gra

[2020-03-11 20:34] uno1982 commented on #128
Thanks for opening this Rune. I’ve included my log  within a comment on the original tracking issue post. I’ve also been told that 4.24 is having the same issue with the newest plugin from a colleague. I greatly appreciate you opening and looking into this.

[2020-03-11 20:44] sparky002 commented on #55
Looking forward to having SteamVR input within UE4 on linux!

[2020-03-12 20:13] 1runeberg commented on #128
Hi - Thanks for the log snippet, can you send me a complete UE4 log please FROM the build so I can take a better look? Also, if you can send a SteamVR System Report:
![image](https://user-images.githubusercontent.com/17371351/76562568-bbe1e780-64f9-11ea-875d-548ed83085a6.png)

You can send them to runeb@valvesoftware.com

For 4.24, please note the Issue #112 for needing to copy the SteamVRBindings

[2020-03-13 13:10] kisak-valve commented on #109
Closing pending feedback.

[2020-03-13 13:10] #109 closed, assigned to 1runeberg

[2020-03-13 23:08] uno1982 commented on #128
Rune,
Just wanted to follow up that I've emailed both the files you requested. The full log from the packaged build and the steamvr system report. I'm on version 1.10.22 (01583280986) so that anyone tracking this will have that information.

[2020-03-15 19:41] N1LSS0N commented on #128
hey, im having the same issues, im on 4.24, tracking works when in editor, but not in a packaged one,  Oculus SDK disabled and only running throught steamvr cause thats one of the first things i tried. Also inputs works... Im not sure what to do really.  [ALSO USING LAUNCHER ENGINE VERSION 4.24.3]

[EDIT: i fixed mine, basically it now worked when updating my steamworks settings and readded the ma

[2020-03-15 20:26] uno1982 commented on #128
Rune, I got curious so I loaded up both my vive pro with index controllers and oculus to test my packaged build. I'll confirm that for 4.22.3 Both Oculus and Steamvr devices fail to track (with oculus sdk disabled), both do however have the correct bindings and input events are firing correctly. I tried loading up multiple times into each just to be sure. My oculus only tracks if I leave that plug

[2020-03-16 15:57] uno1982 commented on #128
Rune, someone pointed out that this option needs to be setup in steamworks.
![43855069-B509-481A-B2FE-FB6AC7AE15EE](https://user-images.githubusercontent.com/45907836/76776379-ac220780-6774-11ea-8a52-287314aaa843.jpeg)
Should I be publishing to steam to confirm tracking? I’m currently launching the exe from the windowsnoeditor folder after packaging to test and the result is tracking is broken. Sh

[2020-03-16 16:44] 1runeberg commented on #128
@uno1982 - I just had a look at your logs, is the game loading properly to a level? It seems to shutdown immediately on load, at least based on the logs.

There's also a number of plugins here that manipulates/affects the hands. For VRE, there used to be an Input module that also does tracking and SteamVRInput - can you check if this is disabled on your project? VRE is getting loaded first so if i

[2020-03-16 17:17] uno1982 commented on #128
Rune, Its loading into the level fine... the log is probably appearing that way because I have a intro level that displays a short intro scene then as soon as it loaded up into the lobby map and I realized it didn't work I exited the game via the escape key. I'm downloading the example project you provided. I'll swap to my custom build and add in each plugin one by one until I find the issue.
![pl

[2020-03-16 17:51] 1runeberg commented on #128
ok, the teardown was just one second from the first level booting and then all plugins were unloaded and the engine shutdown.... so maybe I got the wrong logs?

also @uno1982 - make sure your builds are 64-bit not 32-bit.

[2020-03-16 18:11] uno1982 commented on #128
I only package in 64 bit so no worries there. This project is currently on steam in closed alpha using the legacy input without issues. I’ll update you once I package out the example project and my findings as I add in plugins. I’ll package as is test then I’ll start adding once I confirm the base project works. I’ll start with VRE as the first plugin.

Test 1: Package without any changes in 4.22.

[2020-03-16 23:47] uno1982 commented on #128
I contacted Mordentral after performing the above test and also seeing that the packaging lost tracking after only having the steamvr input plugin added to a blank VRE template. The issue is that I need to explore this more because I didn't call any classes within the steamvrinput plugin example project. The other thing I'd like to check is using a character instead of a simple pawn as used in you

[2020-03-17 06:56] uno1982 commented on #128
I was able to replace the pawn class in your example with the vre vrcharacter class and packaged without issue with tracking working. I’m thinking there is still a reference to steamvr somewhere in the VRE 4.22 locked template and my project where the plugin itself loaded into a fresh project gets around this issue

[2020-03-17 12:44] uno1982 commented on #128
Mordentral followed up thinking it’s related to issue #49

[2020-03-17 13:47] elitenas opened #131 "Oculus Touch bindings not showing up"
I am trying to setup Axis mappings for my oculus touch.... i have them listed here:

![Screenshot_4](https://user-images.githubusercontent.com/50789023/76861745-10070780-682b-11ea-85e2-91c705d53603.png)

Then when I go to steamvr binding :

![Screenshot_5](https://user-images.githubusercontent.com/50789023/76862385-08942e00-682c-11ea-951d-8380a2adfc47.png)

I don't see Move_Y there at all. I am on

[2020-03-17 14:14] uno1982 commented on #128
https://1drv.ms/u/s!ArlMtU4-teLakCDEmDKDgvjJF7w8?e=a8q3TZ
Rune,
Here is the template project with the input plugin. Nothing really to it just setup to load into the steamvr hands map with same setup as your project. I also have your project with vre loaded into it using the vrcharacter class from vre that works without issue if you'd like me to link it as well. Seems there may be a project setting

[2020-03-17 22:15] 1runeberg commented on #131
Hi @pixelcitystudio - Thanks for reaching out!

Just form the screenshots alone, it looks like the Move_Y is bound, but the one that's concerning is Strafe_X and Rotate_X, they should have also been bound.

Are you able to share the steamvr_manifest.json and your oculus_touch.json files? If you're not comfortable posting them here, you can send them to runeb@valvesoftware.com

[2020-03-17 22:18] 1runeberg commented on #131
Hi @pixelcitystudio - Do you have corresponding Y axis actions for Rotate and Strafe?

They need to all be paired with corresponding X & Y actions for the thumbsticks to be bound properly by SteamVR.

Move_Y shouldn't actually appear, but you should have a bound thumbstick action called "Move"

[2020-03-17 22:55] elitenas commented on #131
That made it work! Thank you! One quick question... on vive, you can't bind to System Key then why is there?

[2020-03-17 23:13] 1runeberg commented on #131
Glad you got it working now @pixelcitystudio :)

The keys are based primarily on OpenXR keys (6.4.4):
https://www.khronos.org/registry/OpenXR/specs/1.0/html/xrspec.html

Some applications may not have access to it, but we're supporting the path at least.

[2020-03-17 23:59] #131 closed, assigned to 1runeberg

[2020-03-18 17:07] uno1982 commented on #128
I would like to state that this issue seems related to something with the VRETemplate and how the SteamVR input plugin works within that template at that version number. The above example shows that packaging the SteamVR Hands map (default pawn and motioncontroller) from the SteamVR Input plugin and launching results in tracking loss but the binds are all working and manifest files loaded within t

[2020-03-18 19:15] 1runeberg commented on #128
HI @uno1982

**Re: Issue #49**
This has been fixed since last year, and the fix is incorporated in the release branches as well as the integrated version in 4.24

**Re: Upgrade**
There shouldve been some changes though for the upgrade, the key names wouldnt match exactly so they need to be rebound, just double check those if you haven't already to stave off any potential future issues.

**Re:VRETe

[2020-03-19 01:15] uno1982 opened #132 "WMR.json? Bindings?"
Rune,

After migrating from 4.22.3 to 4.24.3 I've noticed that I'm not seeing a WMR binding or json file at all?
![snapright](https://user-images.githubusercontent.com/45907836/77021597-29a46e00-6955-11ea-8452-5065a7eb9dea.PNG)

![bindings](https://user-images.githubusercontent.com/45907836/77021562-08dc1880-6955-11ea-9208-d504770c28a2.PNG)
![json](https://user-images.githubusercontent.com/4590783

[2020-03-19 04:36] 1runeberg commented on #132
Hi @uno1982 - "Mixed Reality" is the WMR... and "holographic_controller.json" is the corresponding json file.

[2020-03-19 13:08] sobin-hyperreality opened #133 "UE 4.24.3 New project VR Template - Vive controller does not track"
Have different behavior on 2 machines. On one machine - create a new project with VR template. Vive controller does not track and lies on the floor. On another it works. Am using Steam VR 1.9.16 .

Have ensured that :
- SteamVRBindings under Config has been regenrated.
- Tried regenerating , reloading action manifest etc...no use
- Quit / relaunch / restarted system - no use
- Added new bindings t

[2020-03-19 19:02] 1runeberg commented on #133
Hi @sobin-hyperreality - Is this a vanilla UE4 VR Template? Are there any other plugins that may be using the Input System?

In the logs or the console output, can you check if the loading of the Action Manifest returned a success?

[2020-03-19 21:38] uno1982 commented on #132
Thanks for the clarification on that! 😊How would one go about setting the dev defaults in steamvr? Would I only be able to do this through the json since I don’t have the physical controller?