[2020-03-19 22:01] 1runeberg commented on #132
The plugin generates for all supported controllers (where the dev has bound them in the UE4 UI) and will be set as the defaults.

If you are asking about WMR specifically, you need to download the driver from Steam so you can see it as an option in the SteamVR Dashboard.

[2020-03-22 14:28] Fidom commented on #133
I have the same problem. When i enable Steam VR the UE4 Template the controllers are on the ground. If i disable steam vr its working but the controllers are not matched with the my own controller. They are on a distances based on the position in start. Its not finding the start position of the controllers

Update:

The standerd unreal engine template is not working but the steam vr sample project

[2020-03-22 18:28] Fidom opened #134 "UE 4.23 Teleport sowing sphere instead of path"
I'm using UE 4.23 and downloaded the Steam Vr template form Github and used the marketplace install. Now i added the MotionControllerPawn in a new scene connected the VR hands and animations. the controllers and tracked but there is no teleport path visible. It looks now like a sphere. The problem is that i can only move like 1 meter and not teleport further away.

![SteamVR_UE4 23](https://user-i

[2020-03-23 20:23] 1runeberg commented on #133
Hi @Fidom - which version of the plugin are you using? Can you send over your raw UE4 logs for the raw UE4 template?

[2020-03-23 20:25] 1runeberg commented on #134
Hi @Fidom that looks like a navmesh issue in your scene? Is our test scene working properly?

[2020-03-23 20:54] Fidom commented on #133
Hee tanks for helping. I got it working with the other template. But for developing purpose:

I'm using UE 4.23.1 and have Microsoft mixed reality and use it with SteamVR

I made a video and have the logs here:

[UE_Log.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/4371854/UE_Log.txt)
Video: https://drive.google.com/open?id=1J2nqOg4IuuYEUuxjI3NHaEd4Z6Gm3PL8

[2020-03-23 21:39] 1runeberg commented on #133
Hi @Fidom thanks for the logs, can you try the following (in order):

(1) Go to your %APPDATA%\Local and check if you have MyProject2 there, and delete it if it exists. Then try running the project again.

If an old MyProject2 was created before in this machine before and didnt have the correct bindings (e.g. was based on a non-VR Template, it may be loading that manifest instead of the new projec

[2020-03-23 21:41] Fidom commented on #134
Thanks for helping, I indeed think its the navmesh but i copied everything exactly form the test scene tot my own one. In the test scene its working but in my own one not. Here is a screenshot and the log:

[UR_VR_Log.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/4372038/UR_VR_Log.txt)

![UE_VR_Screen](https://user-images.githubusercontent.com/18272960/77366024-6f977280-6d57-11

[2020-03-23 21:52] 1runeberg commented on #134
Hi @Fidom - this doesn't seem like an issue with the plugin. is your scene working when you use the VR Template? We didn't implement our own teleport, it simply uses the same one from the Epic Template.

Another thing you can check for though is anything in your scene (or pawn/character) causing block collisions that may block the teleport beam.

Also check what mesh that beam is actually using/se

[2020-03-23 22:42] Fidom commented on #134
Hi @1runeberg , thank you very much. The "ProceduralFoliageVolume" was the problem. Its causing the collisions because the collision presets was on custom, when i put it on NoCollision it works perfectly.

Everything works fine now!

Thank!

[2020-03-23 22:46] 1runeberg commented on #134
awesome! glad you got it sorted! :)

[2020-03-23 22:46] #134 closed, assigned to 1runeberg

[2020-03-27 15:01] SinnStudio opened #135 "Can't Access Dashboard (for project)"
I'm unable to use the dashboard for my project specifically. I can access it for SteamVR and other apps, but not my own Unreal Engine project. A friend of mine is able to access his just fine, and if I use his config files, I can access mine (but with his inputs, of course). No errors, the page just never loads for my project.

I've made no changes to the configs and did everything he did step by

[2020-03-27 20:02] 1runeberg commented on #135
Hi @SinnStudio - Are you able to open the dashboard for your project otherwise using SteamVR?

![image](https://user-images.githubusercontent.com/17371351/77795630-0484cd80-70c2-11ea-803f-9c763ff9432a.png)

![image](https://user-images.githubusercontent.com/17371351/77795647-09498180-70c2-11ea-9472-698f60d8e7b6.png)

[2020-04-01 01:27] SinnStudio commented on #135
It shows up as **GAMENAME-0 [UE EDITOR]** in the "Show Old Binding UI" menu, but clicking on it doesn't do anything. Clicking the other options (for other installed games [including this one directly from Steam library]) does work.

I'm also now no longer able to see the main dashboard via the URL. This worked before. But even when it did work, I couldn't click on my own UE game.

The URL I'm refe

[2020-04-01 01:37] 1runeberg commented on #135
Hi @SinnStudio - could be a browser issue, can you try clearing your browser cache and/or try with different browsers or incognito mode?

[2020-04-01 01:38] SinnStudio commented on #135
I did try it with a different browser, cleared caches and incognito mode but no luck. The fact that it doesn't work via the old binding UI either does hint at a different problem altogether

[2020-04-01 01:39] 1runeberg commented on #135
also, try removing any entries with "ue4" in your {X}:\Program Files (x86)\Steam\config\steamvr.vrsettings

[2020-04-01 01:40] 1runeberg commented on #135
since the problem is local to your machine it could be config related as well, so have a look at you documents and appdata and clear any project entries.

[2020-04-01 01:41] SinnStudio commented on #135
<details><summary>The **steamvr.vrsettings** file doesn't seem to have any entries with "UE" in them. This is what's inside:</summary><p>

[code]

</p></details>

[2020-04-01 01:42] SinnStudio commented on #135
I re-installed the OS recently so my C drive was wiped, but this was a problem before and after the reformat. In my Documents folder, the "steamvr" folder has an "inputs" folder, but it's empty.

[2020-04-01 01:50] 1runeberg commented on #135
other things to look  out for:

(1) Any other VR Tools installed that may interfere with SteamVR that your friend doesn't have installed
(2) You can remove entries for your app if it is in here:
{X}:\Program Files (x86)\Steam\config\steamapps.vrmanifest
(3) Reinstall SteamVR
(4) %APPDATA% .. in Local, try removing SteamVR and your UE4 Project caches in here
(5) Backup then Delete your Config\Steam

[2020-04-01 03:06] SinnStudio commented on #135
Oculus Home launches every time SteamVR launches (I have a Rift set up currently), could that be it? I'm trying the other things you suggested but no luck so far, will post back if that changes

[2020-04-01 03:07] SinnStudio commented on #135
I think it's working now (after trying your 4th suggestion)! I can get into the dashboard and the project there properly.

Thanks for your help!

[2020-04-01 03:08] SinnStudio commented on #135
I'm not sure how to mark this as Solved

[2020-04-01 03:18] 1runeberg commented on #135
That's great to hear @SinnStudio ! and thanks heaps for updating us on hte results :)

Closing esp. by the user means it's resolved (at least from our perspective). Will close this for you since you've confirmed :)

Cheers,
Rune

[2020-04-01 03:20] SinnStudio commented on #135
Hey, I deleted that last comment just to avoid confusion but here's what's going on:
- I can now get into the dashboard and the project there fine, but
- None of my inputs show up. All the values are default.

I tried:
- Deleting the configs and regenerating

[2020-04-01 03:24] 1runeberg commented on #135
HI @SinnStudio - Can you change the name of your project in Project Settings > Project Name as a quick test and restart the Editor?

[2020-04-01 03:36] SinnStudio commented on #135
No luck. I'm also unable to access the project via the dashboard again.
_Sent you an email with my configs, just in case_

[2020-04-01 04:49] 1runeberg commented on #135
Offline Ticket Update as reference for others who might encounter the same issues in the future:

Three Identified Issues:

**(1) Possible corrupted steamvr htmlcache or incorrect/outdated actionmanifest causing Dashboard viewing issues.**

Resolution:  In %APPDATA% .. /Local, try removing SteamVR and UE4 Project caches

**(2) Action Names have special characters ( / in particular)**

Resolution:

[2020-04-01 21:43] SinnStudio commented on #135
What Rune wrote above this is your best bet if you run into this problem. Problem solved, everything works! Thanks, Rune.

[2020-04-01 21:43] #135 closed, assigned to 1runeberg

[2020-04-04 02:47] SinnStudio commented on #135
Hey Rune,

I’m not able to get my Oculus Touch controllers to track in-engine using SteamVR.
In a shipping build it seems to work fine, my Rift testers had no problem, and other games work fine for me via SteamVR, too.

What I have tried:

  *   Disabling Oculus VR plugin, keeping SteamVR only
  *   Deleting the project’s appdata files
  *   Deleting the SteamVR file in configs
  *   Regenerating

[2020-04-06 19:36] 1runeberg opened #136 "Oculus Touch not tracking in Editor, but works on builds"
Hey Rune,

I’m not able to get my Oculus Touch controllers to track in-engine using SteamVR.
In a shipping build it seems to work fine, my Rift testers had no problem, and other games work fine for me via SteamVR, too.

What I have tried:

  *   Disabling Oculus VR plugin, keeping SteamVR only
  *   Deleting the project’s appdata files
  *   Deleting the SteamVR file in configs
  *   Regenerating

[2020-04-06 19:37] 1runeberg commented on #135
@SinnStudio - Opened a new ticket for this so it doesn't get mixed up with this one.

[2020-04-06 19:44] 1runeberg commented on #136
Hi @SinnStudio - Usually the issue are shipping builds, so this one is new to me.

Can you confirm if the shipping build that you distributed to your Rift Testers also work in  your machine?

Can you send me the logs for both the shipping build (with logging enabled) and from the project. Please also include the SteamVR system report for both runs.

Thanks.

[2020-04-06 19:54] elitenas opened #137 "UE4 Default Mannequin Left Hand not working properly"
Hi,

I am trying to setup steamvr hands on my character. I got the right hand to work properly but the left hand is having issues.

The left hand seems to be animating the wrong way
![image](https://user-images.githubusercontent.com/50789023/78599199-52ae7500-7816-11ea-87f6-cd572471557e.png)

This is making my IK blend the arm area backwards.

This is what i have for it. Do I need to do transform

[2020-04-06 20:25] 1runeberg commented on #137
Hi @pixelcitystudio - can you try putting a -1 scale in the Z (leave X & Y to +1) for the mesh?

[2020-04-06 20:42] elitenas commented on #137
Nope... no effect on my arm...

![image](https://user-images.githubusercontent.com/50789023/78602980-f1d66b00-781c-11ea-8635-da621bf1fae8.png)

My left arm is backwards.... The ik seems to be interfering with my left hand/arm

This is my animbp

![image](https://user-images.githubusercontent.com/50789023/78603095-24806380-781d-11ea-9edc-41f72e336260.png)

![image](https://user-images.githubusercon

[2020-04-06 20:48] elitenas commented on #137
This is my rig... for ue4 left hand mesh https://cdn.discordapp.com/attachments/609876675005775882/696802066907267183/MannequinHand_Left_Proper_V2.fbx

[2020-04-06 21:08] 1runeberg commented on #137
Hi @pixelcitystudio - the anim nodes that came with the plugin only support the standard SteamVR and UE4 skeletons, that is, using the right hand UE4 mesh with the correct skeleton applied, and applying a -1 Z  on the scale (Static Mesh Component in UE4) to flip it to become the left hand.

Have you had a chance to check our sample projects? The UE4Hands sample map demoes using hte standard UE4 sk

[2020-04-06 22:14] elitenas commented on #137
Got it to work without IK with Y = -1 but with IK... its messing up still. Have you tried it with a body IK system?

[2020-04-06 22:20] 1runeberg commented on #137
No, we haven't tested with any IK System internally. Although there are titles that use them and the plugin.

You'd have to check with the IK System you are using or your own IK code for troubleshooting, this would be outside the scope of our support unfortunately.

[2020-04-06 22:37] briandrehoff opened #138 "Failed to Load SteamVR Inpu Anim Pose Node in BP"
As of 4.25 Preview 5 (possibly also happens with previous engine versions) the node for automatically generating finger movement in BP "SteamVR Skeletal Anim Pose" works fine, but upon reopening the project it says it cannot be found and it disappears from the AnimGraph needing to be replaced again to get it working. Is there a solution or a workaround to this problem? It seems like the plugin is

[2020-04-06 22:52] 1runeberg commented on #138
Hi @briandrehoff - The plugin has been integrated since version 4.24

Are you upgrading from 4.23?

Migrating from Marketplace to the integrated version, you normally just need to delete your Intermediate and Saved folders for your project and allow UE4 to recreate them to remove any old references to the nodes from the Marketplace version.

We also have a different sample project for the integrat

[2020-04-07 22:39] #137 closed, assigned to 1runeberg

[2020-04-10 18:13] 1runeberg commented on #132
@uno1982 - are you still having issues with WMR?

[2020-04-10 18:14] 1runeberg commented on #133
hi @Fidom - are you still having issues with WMR?

[2020-04-10 18:20] Fidom commented on #133
Hee Rune,

No I'm not I used the template from steam vr it's all working great, but
with the standard but template form unreal it's not working with the steam
vr enabled. I don't care because it's working but maybe for other users
it's can be a problem. I would like to help you with giving feedback if you
like.

Met vriendelijke groet,

Fido Melskens

0653210361

On Fri, 10 Apr 2020, 20:14 Rune Be

[2020-04-10 19:46] grantbolton commented on #122
I am seeing this issue in projects post 4.24, with a previously working pawn, vanilla template or brand new ‘Empty’ pawn. It only happens when calling ResetOrientationAndPosition.

[2020-04-11 05:33] uno1982 commented on #132
No you can close this. Not an issue per say just didn't know which json was used for that controller profile. Thanks again.

[2020-04-11 05:33] #132 closed, assigned to 1runeberg

[2020-04-11 05:35] uno1982 commented on #128
This can also be closed as its outside of the scope of UE4.22.3 and was a plugin issue.

[2020-04-11 05:37] #128 closed, assigned to 1runeberg

[2020-04-12 16:57] elitenas opened #139 "4.24 SteamVR Motion Controller Material"
I have a problem with the show controller model option in motion controller component, in the editor I see the right material, but in a packaged game, the material is missing. It was fixed in 4.23 but I think it came back in 4.24. Is this a known bug?

[2020-04-13 20:26] protowlf opened #140 "4.24 - can't remove joystick click parameter from default binding on index knuckles"
I have a fresh UE4.24 VR Project, and I'm running into bugs configuring joystick direction bindings with the Index Knuckles. I'm trying to mimic HL Alyx's joy stick bindings for teleport, turn left, and turn right, using the joystick as a dpad.

Context:
In my Unreal Project Settings, I bound my actions to "Valve Index Thumbstick direction [Up/Down/Left/Right]". This writes to knuckles.json settin

[2020-04-13 20:41] protowlf commented on #140
Update, it seems the bit about steamvr dashbooard not letting me edit bindings might be unrelated? Rebooting steamvr got me past that issue.

I'm speculating that my original issue may have been editing the .json to set the joystick to dpad with NO parameters. With the sub_mode: touch parameter I think I have it working correctly!

My Bonus side-issue still stands, however. This workflow is pretty

[2020-04-13 22:45] 1runeberg commented on #139
Hi @pixelcitystudio - this may be a better issue raised in UDN/AnswerHub:
https://answers.unrealengine.com/index.html

As this is more engine implementation than with the input module/plugin :)

[2020-04-13 23:09] #139 closed, assigned to 1runeberg

[2020-04-14 03:33] 1runeberg commented on #140
@drspud - it may not have made it in 4.24.3, there's a fix for dpad clicks and touches as well as expanded support for dpads in 4.25 preview.

Epic maintains a version cadence we need to follow so we can't add anything to 4.24 unless there's a new hotfix coming up and depending on the nature and intention of the hotfix (e.g. crash fixes only), we may or may not be able to include anything for the

[2020-04-14 04:43] protowlf commented on #140
I see. Thanks for the update!

[2020-04-22 05:05] 1runeberg opened #141 "Base Station Visualization and General Tracking Questions"
Hi Rune,

Doing my virtual production stuff using Vive Trackers & Steam I'm seeing something that sometimes makes the tracking to not quite match the room.  That is, the zero altitude point might not match the real-world floor or the orientation might appear to be a bit off-level.  I'd really like to find a way to examine this precisely just to make sure this isn't some problem in my setup.

Is th

[2020-04-22 05:08] 1runeberg commented on #141
**Re: Base stations**
You can use the SteamVRTracking Ref components to visualize where the base stations are in your space:
https://github.com/ValveSoftware/steamvr_unreal_plugin/blob/develop-4.23/SteamVRInput/Source/SteamVRInputDevice/Public/SteamVRTrackingRefComponent.h

For how the base stations work and tracking support in general, can you post this please to the OpenVR GitHub issues:
https:/

[2020-04-30 22:18] Skeltpr opened #142 "Unable to Use Valve Index Thumbstick Bindings"
Using Unreal Engine 4.24.3.

Currently cannot replicate any functionality for Thumbsticks on the Valve Index controllers. I've tried my best to follow the guidelines outlines in on this github and the wiki, but have had no avail.

First I set up my project axis bindings:
![One](https://user-images.githubusercontent.com/30379969/80764323-6e9ff080-8b0e-11ea-8089-275c1cd4474b.PNG)

Next I go to Steam

[2020-04-30 22:27] 1runeberg commented on #142
Hi @Skeltpr - vector inputs arent yet fully implemented in the engine afaik so i wouldnt be relying on that at this time.

At any rate, the plugin itself isnt using vectors because of Epic advice. you need to use individual X, Y axes inputs as usual in UE. the plugin does the vector conversion for openvr and then splits them back again going back to the engine.

[2020-04-30 22:41] Skeltpr commented on #142
Ahh! Thank you for the quick response!

However, that is what I tried the first time, and I had no success. I tried it again just now, and I'm afraid I've been left with the same results as before. Is there anything else I could be overlooking?

![OneOne](https://user-images.githubusercontent.com/30379969/80765828-fc310f80-8b11-11ea-951c-18fa67f8a6d6.PNG)

![OneTwo](https://user-images.githubuserc

[2020-04-30 22:45] 1runeberg commented on #142
the action names should still have the _X & _Y similar to the first input screenshot you had. this is how the plugin recognizes if the dev wants a vector input.

make sure your action names are consistent as well in your code.

you can also have a look at the sample 4.24 project to see how it should look all setup as described in the wiki:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wik

[2020-04-30 22:57] Skeltpr commented on #142
Thank you for your patience. It is now working properly. I could've sworn I tried this already, but perhaps I forgot to Regenerate/Reload the SteamVR Inputs. Apologies for taking your time.

For anyone else having trouble and reading this in the future, here's my exact setup:

![FourOne](https://user-images.githubusercontent.com/30379969/80766801-41eed780-8b14-11ea-91d2-8f5b167a6db5.PNG)

![FourTw

[2020-04-30 22:57] #142 closed, assigned to 1runeberg

[2020-04-30 22:58] 1runeberg commented on #142
awesome! glad its sorted.. could just be the action names you had in the CPP end were different (i think they were in your first screenshot at least).

[2020-05-08 19:01] OptimisticMonkey opened #143 "Main Game Actions Not Listing in SteamVR Browser Dashboard"
I can see the correct actions in steamvr_manifest.json, but cannot assign them in the browser ui because they are not listed  :-(

Thanks for any help

[2020-05-08 19:18] 1runeberg commented on #143
Hi @OptimisticMonkey  - which headset and version of the engine are you using. Also, do you get any errors in the Output Log after doing an Editor Preview?

[2020-05-08 19:44] OptimisticMonkey commented on #143
Using 4.24 with Valve Index and Knuckles..

And I do get this error:
 Error: [STEAMVR INPUT] Setting Action Manifest Path to: Mismatched Action Manifest
LogSlate: Window 'Plugins' being destroyed

Thanks 1runeberg
How to fix?

[2020-05-08 19:47] OptimisticMonkey commented on #143
I also get:
LogSteamVRInputDevice: Error: Error trying to generate application manifest

[2020-05-08 19:48] 1runeberg commented on #143
Hi @OptimisticMonkey - Thanks for the update.

Can you try the steps in here and lemme know how it goes:
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/113#issuecomment-590543108

[2020-05-08 19:51] OptimisticMonkey commented on #143
Thanks - Will do - I bet its Perforce locking the files steam vr needs.. will test

[2020-05-08 19:57] 1runeberg commented on #143
if you're using perforce, you can (and should) add in your p4ignore the app manifest (Config\steamvr_ue_editor_app.json). We're moving this file in Saved in the next release.

[2020-05-09 12:23] OptimisticMonkey commented on #143
ahhh - that was exactly the issue i was having - Thanks 1runeberg!

[2020-05-12 09:19] uno1982 opened #144 "On steamvr tracking initialization event"
Rune,

I’ve been working with the plugin a while and in 4.24.3 I’m detecting the hardware I’d of the steamvr controllers to setup grip profiles for wands vs index controllers (toggle vs releases) the issue is that my check fails on possession if the controller id is invalid due to not being on or tracking isn’t ready on possession. Are you aware of an event or delegate I can bind that fires when s

[2020-05-12 18:32] 1runeberg commented on #144
Hi @uno1982 - we  recommend using the new input system to detect controller types and not directly dealing with device ids:
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/97
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/129

It requires an action to be triggered and you can use that event, an axis (automatically triggers on every change) or key event thats likely for

[2020-05-12 18:53] uno1982 commented on #144
Rune,

Thanks for the speedy reply. I ended up using trackingstatechanged event and when tracking results in true it looks to understand what controller profile i'm dealing with for handling my toggle/release grip behavior. What event were you mentioning?

Below is my example
https://cdn.discordapp.com/attachments/575076664132763653/709840668121497750/unknown.png

[2020-05-12 18:57] uno1982 commented on #144
Rune,

Also I'd agree that I probably need to move my detection out of the character and into a place like gameinstance so i'm not constantly checking and resetting this on state change.

[2020-05-12 18:58] #144 closed, assigned to 1runeberg

[2020-05-12 19:07] 1runeberg commented on #144
glad you got it sorted. the OpenVRHMDType, isnt part of our plugin. We recommend using the new input system over the legacy device ids. The events are just your standard input events that you can define.

have a look at the samples in the following issues:
#97
#129

[2020-05-12 19:18] uno1982 commented on #144
Yeah I'm just using OpenVRHMDType to get the HMD to determine if I even need to check controllers. I use GetControllerDeviceID XRDeviceID to pass the modelnumber. I do this because I try to keep as many things capable of being brought over to Oculus SDK and Store and reliance only on steamvr returned identifiers would have to be re-done.

[2020-05-22 01:32] lyonb96 commented on #140
Any update on the status of this? I'm using 4.25.0 and still having a lot of confusion over what should be an extremely simple part of project setup.

Thumbstick X/Y do nothing.
Thumbstick Touch does nothing.
Thumbstick Up/Down require me to click for it to work which I do not want.
Thumbstick also requires me to click and doesn't seem to give any sort of directional feedback as far as forward/bac

[2020-05-25 21:45] xavier150 commented on #68
Hi, It is not possible to simply convert this in the code ? With a parameter in Anim BP for rescale the unit so that can adapts to different workflows.

[2020-05-26 05:02] 1runeberg commented on #140
hi @lyonb96 - Unfortunately some of our pull request items didnt make it to 4.25 but they have been scheduled for 4.26 instead including the fix for the thumbstick click..

They can still be merged manually if you have custom engine build:
https://github.com/EpicGames/UnrealEngine/pull/6749

For the thumbstick axis mappings, they are documented here:
https://github.com/ValveSoftware/steamvr_unreal

[2020-05-26 05:05] 1runeberg commented on #68
It is possible in the plugin code, but that would make an assumption on the skeletal mesh which could be different for different projects. The mesh came from the Unity plugin and it was re-scaled to suit. Other artists may choose to make custom skeletal meshes or use the standard UE4 skeleton.

[2020-05-26 05:06] 1runeberg commented on #143
Closing now, please feel free to comment or re-open if needed :)

Cheers,
Rune

[2020-05-26 05:06] #143 closed, assigned to 1runeberg

[2020-05-28 09:09] Dual-Perception-Games opened #145 "Please Help! Bindings not working in Packaged build"
Hi guys,

I have a really odd issue going on with the plugin. If I create custom bindings everything works in Unreal Engine but nothing works in my packaged build.
If I use the sample bindings everything works in the packaged build but only on Vive.

I have been pulling my hair out trying to resolve this issue as I have a finished game that I cant release because of this one plugin.

I do also adm

[2020-05-28 22:50] 1runeberg commented on #145
@DefPenGames - Can you check if you have the Config\SteamVRBindings folder in your packaged build?

[2020-05-29 14:10] Dual-Perception-Games commented on #145
Hi 1Runeberg,  it turned out to be the Oculus VR plugin was running. I have no idea why as I don't actually own any Oculus products.

So, it seems that it now works on both Vive and Oculus test machines. however, it still does not work on my own PC, the machine it was developed on. Any idea as to what would cause this behaviour as I'm all set to launch but would really like to be able to double ch

[2020-05-30 07:11] 1runeberg commented on #145
Hi @DefPenGames - have a look at %APPDATA%, check AppData\Local and see if your title appears here - you can delete the folder that's named after your game to refresh the bindings.

[2020-06-01 17:52] kenbrueck commented on #106
Not OP, but we have the same issue. Our software lets some users launch in VR mode and other users launch in a 2D mode. Some users launching in 2D mode may not even own VR hardware at all.

[2020-06-01 18:39] muchcharles commented on #106
@kenbrueck That's probably no happening to due to the plugin anymore.  There is another engine bug that cause this, querying HMD GPU adapter even when -nohmd, which ends up spinning up SteamVR.  I'll try and add an engine pull request with the fix for that and send you a link.

[2020-06-01 18:39] #106 closed, assigned to 1runeberg

[2020-06-02 01:57] muchcharles commented on #106
@kenbrueck https://github.com/EpicGames/UnrealEngine/pull/6980

[2020-06-02 18:30] 1runeberg commented on #141
closing from offline msgs.

[2020-06-02 18:30] #141 closed, assigned to 1runeberg

[2020-06-02 18:41] 1runeberg commented on #117
Hi @Gitschi - sorry I somehow missed this reply.

From the logs, OculusInput is taking over. You need to disable tohe oculus plugin for builds bound for SteamVR or change the engine priority.

Alternatively, you can change the priorities in engine.ini to something like:
[HMDPluginPriority]
OculusHMD=20
SteamVR=10

[2020-06-05 23:55] rproepp commented on #106
I have also run into the same problem, using UE 4.21 from the Launcher and the plugin from the Marketplace. Without the plugin, -nohmd works fine, but when I activate it Steam VR always starts. So in this case it does seem to be related to the plugin, has it not been fixed for the UE 4.21 version?

[2020-06-06 17:54] elitenas opened #146 "Having OculusSDK and SteamVR both enabled together"
Hi,

A few of the devs and I are having issue with both plugins (OculusSDK and SteamVR enabled at the same time).

When the game launches and you get the option:

![image](https://user-images.githubusercontent.com/50789023/83986280-d9103180-a901-11ea-98e3-d8639a7553b0.png)

Regardless of what we select... we launch with Oculus. Unless, we disable OculusSDK... then we  launch into SteamVR. Is there

[2020-06-06 17:56] elitenas commented on #146
@1runeberg I understand that we can override these in the config but then we are overriding it for the user. Ideally, the player should be given the option. Otherwise, what is the point of this dialog box?

[2020-06-08 18:49] uno1982 opened #147 "Cosmos Bindings Missing? 4.24.3"
Is there any reason the Cosmos Bindings would be completely missing from UE4.24.3?

[2020-06-08 18:52] uno1982 commented on #147
https://cdn.discordapp.com/attachments/322374743007297537/719615911660748890/unknown.png

[2020-06-08 21:04] 1runeberg commented on #147
Hi @uno1982 - From the screenshot, it looks like the SteamVR plugin isn't the active VR platform - can you check if the SteamVR plugin is enabled?

If you are using an Oculus headset for your development, you can disable the Oculus SDK temporarily or place SteamVR in a higher priority in your DefaultEngine.ini like so:

[HMDPluginPriority]
OculusHMD=20
SteamVR=10

[2020-06-09 05:39] 1runeberg commented on #146
Hi @pixelcitystudio - I just tested this and the platform selection seems to work fine in various versions of the engine includign the latest ones (4.25).

Can you verify if you have your command line arguments set properly to the correct plugin in Steamworks like so:

![image](https://user-images.githubusercontent.com/17371351/84109934-34a7ff80-aa67-11ea-9a53-1e9603c43068.png)

[2020-06-09 06:09] elitenas commented on #146
I tried those exact commands in 4.24.3 and it didn’t seem to work. All the other devs I mentioned are on 4.24.3 as well.

[2020-06-09 06:14] 1runeberg commented on #146
Not sure, I've tested in various engine versions already including published in Steam with the vanilla engine template, and results are fine/as expected.

You may want to check if there are other plugins that may be interfering with the command line params and plugin load sequence. Other avenues you may want to check is if your project can actually run with both plugins enabled (i.e. no issues wit

[2020-06-09 06:53] 1runeberg commented on #146
Sorry for clarity, yes, one of the versions I tested is 4.24.3 (Epic Games VR Template with both SteamVR & Oculus plugins enabled):

![image](https://user-images.githubusercontent.com/17371351/84115584-a422ec80-aa71-11ea-8cda-4b0ad1a18200.png)

![image](https://user-images.githubusercontent.com/17371351/84115658-c0bf2480-aa71-11ea-8904-28b20f9c8fa8.png)

[2020-06-09 07:25] 1runeberg commented on #146
And just in case this is related to what you are seeing, please note the following known engine issue in 4.24 builds (true for any controller):
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/112

Summary: make sure you manually copy all the json files in the Config/SteamVRBindings folder in your build for input to work. Epic has resolved this in 4.25.

[2020-06-09 18:47] pixelcitystudio commented on #146
@1runeberg I can confirm this bug doesn't happen on packaged build when you create a shortcut and add the -hmd argument to the shortcut. However, I tried on SteamVR again and it defaults to oculus there. Would it be possible for you to test this on steamvr with 4.24.3 build? It would help to know if this is indeed fixed in 4.25.

![image](https://user-images.githubusercontent.com/50789023/84187433

[2020-06-09 20:32] rproepp opened #148 "Launching with -nohmd still launches SteamVR input (UE 4.21)"
I've recently switched to using the SteamVR input plugin from using legacy input in UE 4.21. Before, when using the -nohmd command line option, SteamVR didn't start when the game starts. But since I've started using the plugin, SteamVR always starts even with -nohmd.

My game can be played on screen and in VR, so that behavior is annoying for users who own a headset but want to play on screen.

[2020-06-09 21:08] pixelcitystudio commented on #146
To take it a step further... i printed out the arguments passed in while launching the game:

![image](https://user-images.githubusercontent.com/50789023/84199725-42f81a80-aa6b-11ea-9bbf-61fb2433e562.png)
and It came blank

![image](https://user-images.githubusercontent.com/50789023/84199755-4db2af80-aa6b-11ea-9ff9-f9f181b50274.png)

While in a regular packaged build... the argument comes as steam

[2020-06-09 21:29] #146 closed, assigned to 1runeberg

[2020-06-10 01:53] uno1982 commented on #147
I don't have oculus sdk enabled at all I'm 100% steamvr I've also gotten others to test with a vanilla VR template and are facing the same issue. What I did was had someone send me a json export for the Cosmos so I could push it as the default bindings regardless of the engine input bindings. I've created a brand new project in both 4.24.3 and 4.25, disabled the oculus plugin restarted the editor

[2020-06-10 02:32] 1runeberg commented on #147
Hi @uno1982 - can you send me your logs for the new vr project in either 4.24.3 or 4.25?

[2020-06-10 02:39] 1runeberg commented on #148
Hi - the nohmd option will depend on the engine and we dont have any control on this due to the way the marketplace plugin is setup. you need to try and upgrade to the integrated version from 4.24 if you need any of the more integrated commandline options from the engine.

[2020-06-10 02:39] #148 closed, assigned to 1runeberg

[2020-06-10 02:52] 1runeberg commented on #145
closing issue based on offline conversation/confirmation

[2020-06-10 02:52] #145 closed, assigned to 1runeberg

[2020-06-10 03:21] uno1982 commented on #147
[Test_2.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/4756015/Test_2.log)
Here is the log from a fresh Vanilla VRTemplate.

[2020-06-10 03:22] uno1982 commented on #147
![bindings](https://user-images.githubusercontent.com/45907836/84223517-b7e54780-aa9f-11ea-954f-1de006ccd9e2.PNG)

[2020-06-10 03:22] uno1982 commented on #147
As you can see all steamvr inputs are available except cosmos

[2020-06-10 03:29] 1runeberg commented on #147
Hi @uno1982 - it doesnt seem like you have a headset in your system? you need to have SteamVR running properly and with a headset in order to do any work with the plugin:

[2020.06.10-03.19.13:386][  0]LogHMD: Failed to initialize OpenVR with code 108

[2020-06-10 17:18] uno1982 commented on #147
I have oculus rift s and index and have plugged them both in. My confusion comes from the fact I’ve never plugged in a wmr headset yet I still get the input bindings listed for actions in unreal editor. So why would cosmos need to be plugged in?

[2020-06-10 17:20] uno1982 commented on #147
Plugging in either does load steamvr but does not create the cosmos keys

[2020-06-10 17:26] uno1982 commented on #147
![](https://media.discordapp.net/attachments/416040783779463171/719627975594606622/unknown.png)

As you can see in 4.25 when loading from a 4.23 project the binding exist but the key is missing. It shows with the keyboard instead of a controller and looking for it results in no listing

[2020-06-10 17:30] uno1982 commented on #147
So looking in source the keys are still there something in the module just isn’t loading them properly

[2020-06-10 17:44] uno1982 commented on #147
[Test.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/4760275/Test.log)
Here is a copy of the log with steamvr loading properly and my vive pro plugged in
[2020.06.10-17.42.42:259][  0]LogHMD: SteamVR initialized.  Driver: lighthouse  Display: LHR-463FA5EB
Again this is a vanilla VR Template with no plugins installed. Also this is a binary launcher build of 4.24.3

[2020-06-10 18:32] 1runeberg commented on #147
The Cosmos keys doesn't have an OpenXR profile and Epic only adds XR keys native to the engine that are in the OpenXR standard (e.g. Index, WMR, Oculus, etc).

That's why you see WMR keys as they aren't reliant on the activation of a XR plugin since WMR keys are engine native keys defined elsewhere in the engine.

The SteamVR plugin in Unreal augments the engine keys with the Cosmos keys (plus a c

[2020-06-10 21:53] uno1982 commented on #147
I get everything except the cosmos you show there and I included the log earlier. I’ve also restarted the editor multiple times.

[2020-06-10 21:55] 1runeberg commented on #147
are you able to test on another PC? I just tried from another machine and I can't repro what you're seeing unfortunately.

[2020-06-10 21:56] uno1982 commented on #147
I’ve had others try as well with the same results. I believe Mitch was having this issue as well

[2020-06-10 21:56] 1runeberg commented on #147
if you can provide a screenshot as well similar to mine along with steamvr in there as well so i can check if there's anything odd going on.

[2020-06-10 21:57] 1runeberg commented on #147
Im not sure who Mitch is?

[2020-06-10 21:58] 1runeberg commented on #147
is there a forum thread somewhere that I'm missing here?

[2020-06-10 22:02] uno1982 commented on #147
So the first thing I guess I need to complain about is the complications of working with multiple projects and the constant need to strip my application from the steamvrsettings file every time I swap projects so the action manifest isn't "Mis matched"
   "application.generated.ue.virtual-reality-bp-game-template-11590370.ue4editor.exe" : {
      "knuckles_250820_AutosaveURL_steamvrinput" : "vr-in

[2020-06-10 22:03] uno1982 commented on #147
That seems to be what the problem was with starting the new project. So this issue is resolved.

[2020-06-10 22:05] 1runeberg commented on #147
I mustve missed the mismatch error in the logs you provided, although that shouldnt really cause any missing keys from the UI itself.

[2020-06-10 22:06] 1runeberg commented on #147
at least from the last test.log you sent there isnt any mismatch error. but that really shouldnt matter for just seeing keys in the engine ui.

[2020-06-10 22:07] uno1982 commented on #147
As soon as I removed those lines for the application from the steamvrsettings file under the steam config directory it corrected the issue.

[2020-06-10 22:14] 1runeberg commented on #147
must be something else going on as that's not related at all with custom engine keys. i normally work with multiple projects as well througout the day.

will be interesting to figure out the root cause. if you can send me your steamvr report and the project logs again with the mismatch error, as the one you posted here didnt seem to have them i can have a closer look.

so it seems you were experie

[2020-06-10 22:15] uno1982 commented on #147
I think it has to do with those steamvr settings as they are directly related to the editor. By simply removing them it fixed the issue. But if I use the dev settings in steamvr to set defaults it will cause this issue again as it associates the editor as an app id and inserts those lines. I did open my other project without replacing those lines and my bindings are still working and the cosmos in

[2020-06-10 22:19] uno1982 commented on #147
![image](https://user-images.githubusercontent.com/45907836/84324576-83749880-ab3e-11ea-93d7-1b7f99c910b3.png)

[2020-06-10 22:37] 1runeberg commented on #147
The engine doesnt need the app registration for the keys, at least, the way I wrote it ;)

The engine will also crash if you attempt to run and the keys arent registered, as it has a valid keys check. So the state where the Editor is running in SteamVR mode but not showing the keys is a bit strange and I'd like to see what's causing it. esp the engine passing the keys check during startup but some

[2020-06-11 00:44] uno1982 commented on #147
Testing between two vanilla VR templates caused a situation where modification to an action binding would have the cosmos missing but simply adding a new action binding would then cause the Cosmos to appear and then it would then be available within the engine until flipping between projects again. Repeating the "adding of a new action" would then refresh the list. For now this is a solid work aro

[2020-06-11 01:39] 1runeberg commented on #147
Thanks for your time doing a live session earlier @uno1982.

Just to clarify this a bit for others who might encounter this issue in the future and find themselves here:

The result from the investigation is the root cause appears to be in some setups, the Editor UI isn't properly refreshing the XR keys dropdown list in-between editor sessions for custom keys.

The custom keys are registered prope

[2020-06-11 01:39] #147 closed, assigned to 1runeberg

[2020-06-12 02:06] RDTG opened #149 "4.25.0/.1 - PIE & game crash when using knuckles controllers"
**Affected Versions**: 4.25.0 and 4.25.1 tested

**Steps to reproduce**:
1.) Create a VR project in 4.25
2.) Start SteamVR and have it ready
3.) Bind some Knuckles controller mappings in your project to some events
4.) Create a VR character BP
5.) Create some basic Slate UI widgets and place them in your test map
6.) Play in editor

**Results**: Crash 4 out of 5 times within 45 seconds

**Expected

[2020-06-12 02:11] 1runeberg commented on #149
Thanks @RDTG for the detailed issues report - much appreciated!

Can you send over/post please a copy of your DefaultInput.ini youve setup in your test project?

Thanks,
Rune

[2020-06-12 03:13] RDTG commented on #149
<details><summary>Sure @1runeberg -- Here is a sample from one of my latest attempts. We're currently working on a project that is at the stage of testing on different VR devices with different controllers -- no matter the default input, if it's only Index or includes inputs from other devices, the crashes seem to persist</summary><p>

[code]

</p></details>

[2020-06-12 03:25] RDTG commented on #149
@1runeberg It would appear the issue resolves if you remove all mappings of ANY other gamepad, leaving only the Index. At this point I wouldn't be sure if it's Unreal Engine getting multiple input types confused or the SteamVR plugin -- but we're able to successfully test with an input that has only Knuckles mappings, excluding gamepad or any other touch input. This turns into only a minor annoyan

[2020-06-12 04:50] 1runeberg commented on #149
Did this input.ini came from the default vr template (from your repro steps above)?

The MotionController abstracted keys shouldnt be there I would think and they shouldnt appear either in the UI in 4.25. Something must be off in the template.

The crash stack you sent is indicating there's a key defined in your inputs that the engine doesn't recognize. So that could be the motioncontroller.

[2020-06-13 03:55] elitenas opened #150 "Eye Level Tracking not working in UE4.24"
Hi,

I am trying to use eye level tracking in SteamVR for seated mode but it seems to put the camera on the ground even after adding a scene component with the correct location and attaching motion controllers and camera to it. It works fine on console and oculus sdk. I can provide a reproducible bare bone project for this if needed.

[2020-06-13 04:55] 1runeberg commented on #150
@kisak-valve can you transfer this please to the unreal plugin repo, thanks!

@pixelcitystudio was your setup according to all the configuration as described in this ue4 documentation?

https://docs.unrealengine.com/en-US/Platforms/VR/SteamVR/HowTo/SeatedCamera/index.html

If so, yes, can you send us your test project?

Thanks,
Rune

[2020-06-13 17:05] elitenas commented on #150
Hi,

Please see the attached project. This is default project from epic with OculusVR plugin disabled. My camera is on the right level but my motion controllers attached mesh is in the air above me.

If you enable OculusVR plugin and test with that... it works fine.

Let me know if you have any questions or want to get on a quick call to discuss more. Thanks!

[SteamVRCameraExample.zip](https://gi

[2020-06-13 17:08] elitenas commented on #150
Ah this bug exists only in 4.24 and maybe versions before that. It is fixed in 4.25. Do you have the commit that fixed it? Please let me know.

[2020-06-15 01:44] elitenas commented on #150
@1runeberg 4.25 fixes the initial issue of base pose caching but one still cannot switch back and forth between eye level and floor level as seen in this logic below

![image](https://user-images.githubusercontent.com/50789023/84610067-fbb0c600-ae7e-11ea-85a6-83c8a938206d.png)

[2020-06-15 03:09] elitenas commented on #150
@1runeberg fixed the issue https://github.com/EpicGames/UnrealEngine/pull/7059. Please review :smile:

[2020-06-15 19:56] 1runeberg commented on #150
Hi @pixelcitystudio - sorry this got caught in the weekend.

Anyways, there doesn't appear to be any issues with 4.24.3 using the reccomended seated setup instructions from the official UE documentation.

If you're flipping between seated and standing as in your sample code, have you tried also resetting the RelativeLocation back to FVector(0)?

As for the PR - we don't have any control on Epic co

[2020-06-15 20:00] elitenas commented on #150
The PR fixed the issue... so I will close this issue. Perhaps someone else can try with SetRelativeLocation as well.

[2020-06-15 20:00] #150 closed, assigned to 1runeberg

[2020-06-15 20:04] 1runeberg commented on #150
Just for clarity on anyone who comes along this issue in the future, flip flopping between seated and standing should be doable just in BP with no engine changes with either 4.24.3 or 4.25.1 (if using the setup from Epic games as per their documentation):

![image](https://user-images.githubusercontent.com/17371351/84700785-27bf6a80-af97-11ea-82dd-96cc3d19d09d.png)

This doesn't really add any add

[2020-06-15 20:47] elitenas commented on #150
@1runeberg With the above method,  `SetRelativeLocation` will need to be manually set on `beginplay` for each character and would be a bit hacky in my opinion. Oculus and PSVR reset the offset when switching from eye level to floor. SteamVR is the only one not doing so.

[2020-06-15 20:49] 1runeberg commented on #150
Not sure what you mean @pixelcitystudio - its essentially the same bp you posted but just remembers to reset the relativelocation if you're flip-flopping as per your sample code.

the bug seems to be in the BP implementation, as forgetting to reset the relativelocation will have your camera stuck with the offset when flipping back to floor level from eye level.

everything else should be as design

[2020-06-15 21:06] 1runeberg commented on #150
a "proper" solution for this imo is to not require the additional offset at all somehow for the recommended setup, but unsure how many existing titles would then be impacted with the change.

[2020-06-16 18:03] 1runeberg commented on #149
@RDTG - Any updates on this? Not sure how the MotionController keys were added there from the standard templates.

[2020-06-16 20:17] RDTG commented on #149
It turns out the input ini was modified on our source build of UE4, resolving that fixed some of the issue. However if we still try and map more than 2 or 3 VR controller input buttons to actions or axis to axis mappings we still experience crashing

[2020-06-16 23:35] 1runeberg commented on #149
@RDTG - are you directly mapping from the UI? If it's the same error in the stack trace, that means your custom build is somehow using non-existent keys. Can you replicate the issue as well in 4.25.1 from the Launcher?

[2020-06-17 07:02] joticarroll opened #151 "No hand animation when using Launch game"
**Affected Versions:** All versions

**Steps to reproduce:**
1.) Download SteamVRInputPlugin_UEIntegrated example project
2.) Right click the project file and select "Launch game" in windows file explorer

**Results:** Hands animation blueprint fails to load and hands are left at there origin un-animated.

**Expected Result:** Hand animation matching the PIE and published result.

**Crash?:** No

[2020-06-17 07:05] 1runeberg commented on #151
Hi Joti! Can you post please the log file from the test project?

Thanks,
Rune

[2020-06-17 19:34] 1runeberg commented on #151
Please note if you are using an Oculus headset, to disable the Oculus plugin - tracking and input should work in an uncooked build (right click > Launch). So check the LogHMD entry to determine which plugin took responsibility for Input or yeah post the log and I can check for any other issues.

As for the animation itself, my understanding is that dynamically loaded UE Animations (as was used in

[2020-06-18 01:13] joticarroll commented on #151
[SteamVRInputPlugin.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/4795751/SteamVRInputPlugin.log)

[2020-06-18 01:35] joticarroll commented on #151
I had disabled the Oculus plugin already, this has been a problem with all previous versions of SteamVR Inputs I just didn't get around to reporting it until now.  Animation blueprints normally run fine in uncooked content and launch game mode is essential for good testing workflows, especially when building multi-user systems in a team.  Network sub-systems are not loaded in the editor and PIE se

[2020-06-18 01:41] joticarroll commented on #151
`{
			"Name": "SteamVREditor",
			"Type": "Editor",
			"LoadingPhase": "PostEngineInit",
			"WhitelistPlatforms": [
				"Win64",
				"Win32",
				"Linux",
				"Mac"
			]
		}`
"UnrealEngine\Engine\Plugins\Runtime\Steam\SteamVR\SteamVR.uplugin"
It maybe as simple as changing the type var to "UnCookedOnly" in the plugin definition but I haven't had time to test and I'm trying stay away from custom so

[2020-06-18 03:52] 1runeberg commented on #151
The issue is around custom animation nodes. To create them, part of the code exists in an editor only module, which UE doesnt appear to load in an uncooked launch although techinically its an editor session, Hence you get the following:

[2020.06.18-01.10.54:865][  0]LogUObjectGlobals: Warning: While loading '../../../../../../Unreal/projects_svn/SteamVRInputPlugin_UEIntegrated/Content/Sample/Char

[2020-06-18 03:55] 1runeberg commented on #151
The issue is around custom animation nodes. To create them, part of the code exists in an editor only module to expose it to Blueprint, which UE doesnt appear to dynamically load in an uncooked launch although techinically its an editor session, Hence you get the following:

[2020.06.18-01.10.54:865][ 0]LogUObjectGlobals: Warning: While loading '../../../../../../Unreal/projects_svn/SteamVRInputPl

[2020-06-18 04:00] joticarroll commented on #151
That's correct it's just the animation nodes that are failing, although they prevent the entire animation blueprint from operating as a side effect.  Input mapping still operates properly, although I have a number of issues I've discovered on that front too that I'll put in a separate issue entry.

[2020-06-18 04:03] joticarroll commented on #151
No I haven't had any tracking or input issues in relation to this problem.

[2020-06-18 04:10] 1runeberg commented on #151
i dont think we have any control on this from the plugin side however as this is an engine behavior. nor can we move the module to the runtime. basically, the engine needs to dynamically load the animation nodes meant for editor sessions into their uncooked launch mode - i suggest opening a separate issue in UE for this, and feel free to use our plugin as an example of the behavior. will poke epic

[2020-06-18 04:13] joticarroll commented on #151
Thanks for looking into it Rune.

[2020-06-18 04:49] joticarroll opened #152 "X and Y touch events for the Oculus Touch controller are mapped as clicks in steam"
**Affected Versions:** 4.25.1

**Steps to reproduce:**
1.) Download SteamVRInputPlugin_UEIntegrated example project
2.) Open the project and go to the Input section of the project settings.
3.) Create a new action and add "Oculus Touch (L) X Touch" or "Oculus Touch (L) Y Touch" to it.
4.) Save the project.
5.) Go to the Steam section of the project settings and click the "Launch SteamVR Bindings D

[2020-06-18 18:32] 1runeberg commented on #151
ah... it seems Epic has addressed this already. The plugin came out around the very early days of LiveLink so the animation schema is based off that (though LiveLink support was later removed to support older engine versions - from 4.15).

my bad i havent kept up, they've recently renamed the Developer module to UncookedOnly and that's now best practice to hold animnodes so -game "editor" launches

[2020-06-18 22:54] 1runeberg commented on #152
Addressed in: https://github.com/EpicGames/UnrealEngine/pull/7073

[2020-06-18 22:55] 1runeberg commented on #115
Addressed in: https://github.com/EpicGames/UnrealEngine/pull/7073

[2020-07-01 20:12] PJninja opened #153 "Getting Trigger Event from Tracker Pogo Pin"
Hi all,
I am unable to get a trigger event from our tracker that has the 4th Pin power on a switch.
I am using UE4 4.23.1, SteamVR 1.12.5, and SteamVRInput Plugin 1.18.19

On UE4 4.25 binary I am able to get this event.

Also in SteamVR "Test controller" I can see the event thrown from Trigger and in Input Debugger on SteamVR I see the trigger setting to True.

In UE4 I added an Input called Trigg

[2020-07-01 23:27] cwarns commented on #112
Looks like we have similar issues. I'm in the middle of trying to find out why my toolbar won't show up in 4.25
we previously had this working in 4.23 but since the merge happening with SteamVR plugin, we can't seem to work our way through the random bugs that show up on various machines. Unfortunately we have not found a solve yet. Was hoping there's still some open conversation in this thread...

[2020-07-02 18:31] 1runeberg opened #154 "trying to find out why toolbar won't show up in 4.25"
Looks like we have similar issues. I'm in the middle of trying to find out why my toolbar won't show up in 4.25
we previously had this working in 4.23 but since the merge happening with SteamVR plugin, we can't seem to work our way through the random bugs that show up on various machines. Unfortunately we have not found a solve yet. Was hoping there's still some open conversation in this thread...

[2020-07-02 18:33] 1runeberg commented on #154
Hi @cwarns - in 4.25, the toolbar icon needs to be manually enabled. Go to Project Settings > Plugins > SteamVR to enable it there.

If you still cant see it, have a look at your logs and check LogHMD entries and see which plugin/vr platform is actually enabled.

[2020-07-02 18:35] 1runeberg commented on #153
Hi - sorry missed replying to this yesterday. There's no built-in support (as a key) for this in the Input plugin. You likely have the action triggered in 4.25 by another valid VR controller key? I suggest doing similar mappings for your 4.24 project and not use the deprecated MotionController abstraction.

[2020-07-02 19:11] PJninja commented on #153
I am doing the same thing in 4.25 and 4.23 just without an added MotionController component, but when I remove MotionController I still get no event called. I understand SteamVR is treating the Tracker pogo pin as a controller trigger pull, does that mean there is no way to get more then 2 tracker inputs?

[2020-07-03 01:01] cwarns commented on #154
Hey @1runeberg - LogHMD: SteamVR initialized. In 4.25 i have the plugin enabled, the one thing i find interesting is that every other plugin that has their bool value set to "true" shows up in the .uproject under "Plugins" but SteamVR does not. I had to manually add it in and set the HMDPluginPriority for SteamVR to be above the rest before it generated the action manifest for steamVR.

	"Name": "

[2020-07-03 02:24] cwarns commented on #154
Not sure if the toolbar is causing this issue in some way. but,
the action manifest is being generated
SteamVR is enabled
SteamVR console finds the generated manifest, assigns ID and shows no error.
Tracker has it's role set to Vive Tracker On Camera
binding for the editor is set to special1
UE4 has axis/action mappings (currently left to the default option, just added 1 mapping for each and left

[2020-07-03 06:33] 1runeberg commented on #154
Hi @cwarns - I think we maybe mixing a couple of issues here.

(1) Can you check if you can see the SteamVR Dashboard (when UE is up):
![image](https://user-images.githubusercontent.com/17371351/86438723-79634580-bd4a-11ea-8296-233feaa1454b.png)

![image](https://user-images.githubusercontent.com/17371351/86438783-90a23300-bd4a-11ea-9edc-d85de4245c4a.png)

(2) Can you try deleting any of your ue p

[2020-07-03 06:35] 1runeberg commented on #153
In 4.25, you may have a specific XR controller mapped somehow as this is the only way to trigger actions. You cant leave the inputs empty.

Unfortunately our support for trackers in the UE plugin is limited for inputs, but we'll have a look at this for 4.26

[2020-07-06 20:23] PJninja commented on #153
You can't leave inputs empty in SteamVR bindings? I was unaware of this.
Do you know of any way to receive Tracker Pogo Event via SteamVR without it being "Held In Hand"? Either OpenVR integration or SteamVRInput?

[2020-07-07 02:31] 1runeberg commented on #153
Sorry I was referring to (empty) UE key-and-axis bindings and not the SteamVR Input Bindings :) The integrated version of the plugin in UE4.24 and above selects one key in the UE key-and-axis list and uses that to trigger actions. The Marketplace version on the other hand (UE4.15-4.23) auto-generates a temporary key and uses that to trigger actions, so I suspect this is how it has been working for

[2020-07-07 19:16] cwarns commented on #154
Hey @1runeberg sorry for the late reply, vacation days :P

I've done the steps that you have suggested. No such luck. Fortunately, I was able to get the data into Unreal engine coming from the Vive Tracker so that part doesn't seem to be an issue.

I've opened up the "SteamVRInputPlugin_UEIntegrated.7z" to see if i can work within that, and the tool bar shows up.

But in 4.25 I have almost everyth

[2020-07-08 18:55] 1runeberg commented on #153
Hi @PJninja - talked to the dev that's more familiar with that part of the code in the runtime - currently not possible outside the handed mode.

there shouldnt be any technical reason/difficulty though not to be able to add inputs outside the handed roles. i'll have a look at adding them in the runtime, along with the task of supporting tracker inputs in the ue plugin - theres a couple of other p

[2020-07-08 19:10] 1runeberg commented on #154
There shouldnt be a need to add it in manually in the uproject file as its integrated in the engine and its one of hte plugins that's automatically turned on by default. the engine will add an entry only when you decide to disable it - adding a setting of "false" in the uproject file, this is the same for the Oculus plugin.

For the toolbar, can you confirm that the "Show SteamVR Input Toolbar But

[2020-07-08 19:17] PJninja commented on #153
Thank you @1runeberg for looking into this. Is there anything I can do in the meantime? Are you able to provide a system map or guidelines on where/how to implement so I can take a stab at it? It's pretty important for an upcoming large project and I would like to try everything being crossing it off.

[2020-07-08 19:36] 1runeberg commented on #153
Hi @PJninja - you can try editing the profiles in your steamvr install:
{drive letter}:\Program Files (x86)\Steam\steamapps\common\SteamVR\drivers\htc\resources\input\tracker

Have a look at the handed vs the nonhanded profiles>

Then in UE, look for how we're adding Cosmos keys in our plugin (and corresponding json entries we generate for it), you should add custom tracker keys as well so you can

[2020-07-08 19:37] 1runeberg commented on #153
note your driver profile changes may be stomped during steamvr updates. and I cant guarantee simply changing these profiles will work though, as there could be some things we need to pipe in the runtime as well. but the profile changes and custom keys are the two major pieces needed to make the inputs work properly in ue.

[2020-07-08 19:51] PJninja commented on #153
I will get on this right away, thanks again for your help. I'll be on the lookout for future updates with Pogo Functionality.

[2020-07-08 22:18] cwarns commented on #154
Hey @1runeberg, that was it. had no idea that existed. SteamVR doesn't show up under project settings in 4.24.

Yeah I'm not sure why, but it wasn't generating the bindings until i placed that into the .uproject...

[2020-07-15 16:07] cwarns commented on #154
@1runeberg no need to keep this open bruv, had no idea that bool value existed to toggle the toolbar visibility.

Thanks for the help on this! is there any plans to further develop the setup for the vive trackers? it seems like there's a bit of tribal knowledge around the internet that's a bit hard to find.

it also looks like the bindings need to be set every time UE4 is started, is there an opti

[2020-07-17 18:41] 1runeberg commented on #154
Hi @cwarns - sorry missed this. thanks for the confirmation. will close the issue. the tickbox to enable the toolbar icon was introduced by Epic from v4.25. All the functionality should still be enabled, just slightly more difficult to determine if SteamVR is the active plugin if you have an Oculus or WMR headset plugged in.

However, if you press Preview in VR in 4.25, on the toolbar title, it wi

[2020-07-17 18:41] #154 closed, assigned to 1runeberg

[2020-07-20 03:17] AurelTristen commented on #149
I found this thread while searching for help with this same crash. In my case, I think it was caused by the shift from the Marketplace SteamVR plugin to the built-in one. All of my inputs in the editor had the wrong names. I re-bound everything and it has resolved the crash for me (so far).

[2020-07-24 07:11] 1runeberg commented on #149
Thanks @AurelTristen  - Yes, the naming has been harmonised with the OpenXR key naming in Unreal 4.24 and above. Therefore, we removed the SteamVR specific keys as they are no longer needed (other than for the HTC Cosmos keys).

@RDTG - Can you confirm if you are still having issues with this?

[2020-07-24 07:12] 1runeberg commented on #138
@briandrehoff - Hi, any updates on this, are you still having issues?

[2020-07-24 07:13] 1runeberg commented on #136
@SinnStudio - Hi, any more updates on this or help needed?

[2020-07-24 11:46] RDTG commented on #149
@1runeberg My apologies for not replying sooner. I am no longer having issues or crashing. I believe my problem was with the input configuration using multiple VR inputs during testing or using the old keys.

[2020-07-28 13:00] jdevoldere opened #155 "Is it possible to listen to SteamVR Actions?"
In Unity you can do this with AddOnChangeListener on a SteamVR_Action_Boolean but there doesn't seem to be an equivalent in Unreal.

[2020-07-28 14:24] briandrehoff commented on #138
Sorry didn't see your response. I ended up just creating my own finger bends so it would stop disappearing. I have upgraded from 4.23 and am now at 4.25.1. I will have to give that node a try again to see if the issue persists or not.

[2020-07-30 03:05] 1runeberg commented on #155
Hi @jdevoldere - Can you elaborate on what you are wanting to achieve? The Key and Axis Input Action events in unreal should catch boolean action changes, as they are events.

You can also put any boolean action into an Axis Action mapping and that'll give you a constant feed of the value if you do want to manually monitor this.

[2020-08-03 07:47] jdevoldere commented on #155
@1runeberg Ah, you're right my bad. I got confused because it works differently from the way it works in Unity.

[2020-08-03 07:47] #155 closed, assigned to 1runeberg

[2020-08-13 10:09] chengnay opened #156 "Tracker role not working with certain action path"
I set Tracker role to Left or Right Shoulder.
In my json(vive_tracker_left_shoulder.json or vive_tracker_right_shoulder.json) file, I set the poses output to "/actions/main/in/special4", but I couldn't get the pose.
After I edit the output path to "/actions/main/in/special8", I can get the pose.
Is there any mapping rule (role to output path)?

[2020-08-13 18:27] 1runeberg commented on #156
Hi @chengnay - Yes, if you're using an older GitHub source version, here's the key:

A. HANDED CONFIGURATION DEFAULT POSE MAPPINGS
    Special 1: Left Hand Raw
    Special 2:  Right Hand Raw
    Special 3: Left Hand Back
    Special 4: Right Hand Back
    Special 5: Left Hand Front
    Special 6: Right Hand Front
    Special 7: Left Hand Front & Rolled
    Special 8: Right Hand Front & Rolled

[2020-08-13 18:57] 1runeberg commented on #156
BTW, if you're using 4.24 or 4.25, you need to manually do the role to path via the SteamVR Dashboard (you can set any path to role) until our Pull Request is added in 4.26.

[2020-08-14 02:25] chengnay commented on #156
What is the maximum number of trackers that UE4 can support?
Special 1 to 8 + 2 * Held in Hand = 10?

[2020-08-14 03:17] uno1982 opened #157 "SteamVR "Always" launches with UE4.24.3 without -vr steamworks arg. or enable hmd if Plugin enabled in project"
In previous versions of the engine you could pass the -vr argument in launch for steamworks and support both flat and VR title options by not calling enable hmd, keeping the setting launch in vr to false project settings and controlling the stereo based on using an hmd detection function. This appears to no longer work. The application will indeed still launch flat but "always" opens steamvr if th

[2020-08-14 04:43] 1runeberg commented on #157
Hi @uno1982 - yes, this is expected if the plugin is enabled. you can alternatively put a higher priority hmd that is not steamvr if you dont want the plugin to kick in.

[2020-08-14 04:46] 1runeberg commented on #156
Hi @chengnay - for the built in plugins without our pending pull request/s, it can only handle up to 8 as it is tied to the "Special" motion sources provided by the engine.

with the pull request/s or the code in GitHub you should be able to use all the roles. SteamVR itself has a theoretical limit of 30 + 1 base station + 1 hmd concurrent, but performance and ability for them all to work properly

[2020-08-14 05:06] uno1982 commented on #157
But is there a way to allow a Flat or Steamvr option any longer? used to you could simply not pass the -vr command and steamvr wouldn't just load up no matter what if the headset was unplugged. The problem is that steamvr loads regardless of if a headset is present or not. I guess this wouldn't be a problem but I have people reporting that steamvr "the current beta version" doesn't properly detect

[2020-08-14 05:13] 1runeberg commented on #157
The initialization is controlled by the engine not by the plugin, ideally the engine shouldn't call a SteamVR Init if that param is loaded, but this may be best addressed by Epic. I have noted it down though in case there is a way we can control it from our end in future versions.

[2020-08-14 05:13] uno1982 commented on #157
This is a comment from my discord users that are having a problem. 𝓒𝓗𝓔𝓔𝓩𝓤𝓢Yesterday at 9:26 PM
it just seems that steamvr has to be open for the game to run
if I close steamvr it closes the game
short of unistalling steamvr
and then launching it idk.

He is saying this behavior exist even while the hmd is completely unplugged from the machine. My application detects the hmd and uses a command to e

[2020-08-14 05:16] uno1982 commented on #157
The difference is that I can indeed close steamvr as shown in the video and the application stays open. I also do not launch into stereo as his pc is seeming to do in "the beta branch" but I'm in the current build of steamvr and not opted into beta.

[2020-08-14 05:17] 1runeberg commented on #157
Yeah, the plugin is meant to have SteamVR on as it's designed to be used with SteamVR - enabling SteamVR however can be controlled by the engine, but in order for any function of SteamVR to work we need to do a SteamVR Init.

So as I mentioned, ideally the engine shouldnt activate the plugin's init function if the engien has the capacity to provide developers with a flat game. Currently the way th

[2020-08-14 05:19] uno1982 commented on #157
Could you also look into seeing if something has changed with the hmd detection function of openvr? as thats what I'm using to call the stereo command. And I think the beta branch may have modified the way this is handled?

[2020-08-14 05:21] 1runeberg commented on #157
Hi @uno1982  - can you open a separate issue for that please in the OpenVR repo :) Thanks!

Please put some more detailed info as well including exact calls you are making and repro steps if any.

[2020-08-14 05:25] 1runeberg commented on #157
Hi @uno1982 - are you saying this is only happening in beta? if so, can you please provide this detail in the new issue as well. Since this is runtime related, best in the Steam forums, but i'll prod internally. thanks!

Ideally if you can provide the behavior you are seeing in non-beta vs the issue you are seeing in beta in that ticket or ideally Steam forum post, that'd be great. Let me know the

[2020-08-14 05:50] uno1982 commented on #157
Correct. As shown in my video even though steamvr opens the game uses openvr to detect the hmd and doesn’t run the stereo command and steamvr is fine with you closing it. The game continues to run. In beta branch ppl are reporting to load into stereo meaning it’s like it’s returning true and detecting the hmd even with it not plugged in and if they close steamvr it closes the application. Ticket i

[2020-08-14 05:52] 1runeberg commented on #157
Thanks so much for the report @uno1982, will look into it!

[2020-08-14 05:52] chengnay commented on #156
During my test, I found out that when I set same role for trackers, they will not show in my content.
Will this be fixed in the pending pull request/s?

[2020-08-14 05:54] 1runeberg commented on #156
Hi @chengnay - sorry, I'm not sure I understood the use case/situation - can you provide some screenshots and json files please so I can have a closer look?

Thanks!

[2020-08-14 06:21] chengnay commented on #156
I am using the default "Motion Controller Map" provided by UE4.25.3.
I edited the VRPawn as follows,
![image](https://user-images.githubusercontent.com/33050705/90218914-8ab66c00-de37-11ea-85b2-132576a14206.png)

Below is a success case that if only one tracker is set to Camera, then the other set to Disabled, I can the "LHR-84963CB2" tracker in my content.
![image](https://user-images.githubuserc

[2020-08-14 19:05] 1runeberg commented on #156
Hi @chengnay - with the integrated plugin in UE4.25 without our Pull Request, you need to generate your own json files for the vive trackers.

Here're the pre-generated tracker files for all possible roles which you can use (just drop in your Config\SteamVRBindings folder:
[vive_tracker_json.zip](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5076616/vive_tracker_json.zip)

<details>

[2020-08-14 19:09] 1runeberg commented on #157
Hi @uno1982 - trying to replicate this - what are you using on your app to detect hmd presence, is it via an openvr call in C++ or just he BP provided by UE?

[2020-08-14 20:22] uno1982 commented on #157
It’s the openvr function that is just blueprint exposed.

[2020-08-14 20:24] uno1982 commented on #157
I’ll be able to give you an exact logic chain shortly

[2020-08-14 20:43] uno1982 commented on #157
Function is GetisHMDConnected exposed
return GEngine->XRSystem.IsValid() && GEngine->XRSystem->GetHMDDevice() && GEngine->XRSystem->GetHMDDevice()->IsHMDConnected();

works in official release but appears to be inconsistent in beta branch of steamvr

GetHMDDevice()->IsHMDConnected() comes from the class HEADMOUNTEDDISPLAY_API IHeadMountedDisplay : public IModuleInterface

My application relies on

[2020-08-14 21:33] 1runeberg commented on #157
GetIsHMDConnected isn't part of the standard Blueprints for UE. Is this from another plugin?

[2020-08-14 21:35] uno1982 commented on #157
I’m not certain this is a direct path to understanding the behavior of why closing steamvr closes the app but I’m almost for certain it’s because after the engine init returns true the engine assumes the app is utilizing steamvr/openvr .... you get the same behavior at times if the engine editor loads up with an hmd connected and you attempt to close steamvr but if the hmd isn’t connected you can

[2020-08-14 21:38] uno1982 commented on #157
It’s just an exposed blueprint function that calls the standard function. Create a function in a c++ controller that returns this and include it in your header to expose....  return GEngine->XRSystem.IsValid() && GEngine->XRSystem->GetHMDDevice() && GEngine->XRSystem->GetHMDDevice()->IsHMDConnected();

[2020-08-14 21:45] 1runeberg commented on #157
Behavior is consistent for me in a standard VR Template... can you provide a minimal project (e.g. VR Template) that I can test against both SteamVR Release and SteamVR Beta with consistent results? It's looking like in your end that node is returning incorrect results for some reason.

Its beyond scope of our support for any engine issues, but if it's something with our beta runtime or the plugin

[2020-08-14 21:47] uno1982 commented on #157
You’ve been able to load the editor with 4.24.3 in steamvr beta branch without the hmd connected and exit steamvr without it closing the editor?

[2020-08-14 21:49] 1runeberg commented on #157
Maybe I'm confusing your issue report here - the one I'm trying to verify is your stereo mode not starting if hmd is not connected (behavior you expected) in a build, the ones you were demoing in the videos.

or are you trying to reporting a new/different issue?

[2020-08-14 21:53] uno1982 commented on #157
It’s the same issue I’m calling my stereo command based on the returned value of the same issue. If the editor loads up without an hmd but steamvr inits and thinks there is one because this above xr returns true then closing steamvr results in both my stereo command running without a hmd and exiting steamvr resulting in the initialized app to close (my game and the editor)

[2020-08-14 21:53] uno1982 commented on #157
It’s the same underlying issue. That’s why I’m asking “have you been able to load up ue4.24.3 editor allow steamvr to start without an hmd plugged in and close steamvr without it closing the editor” while opted into the beta branch. Because the expected behavior is to be able to close steamvr in the event no hmd was detected and steamvr init gets a false result from xrsystem. The same check is wha

[2020-08-14 21:58] 1runeberg commented on #157
Hi @uno1982 - I need to understand the actual issue and do my own root cause analysis. So far I've been unable to replicate it at least with vanilla ue. And no, in 4.24 closing steamvr beta without an hmd doesnt crash or close the editor from my end.

i think im missing somethign here? are you using another plugin that could be using steamvr/openvr calls? or if you can provide me with a minimum pr

[2020-08-14 22:00] uno1982 commented on #157
It’s not a crash steamvr overlay pops up and says “closing steamvr will close the unreal editor”

[2020-08-14 22:01] 1runeberg commented on #157
yeah, that's an expected behavior, but it shouldn't actually close the editor, as the UE Editor is whitelisted to not close.

are you using another plugin that could be using steamvr/openvr calls? or if you can provide me with a minimum project that I can use to investigate, that'd be great.

[2020-08-14 22:02] uno1982 commented on #157
I’m not using any other plugins in my reproduction I’m only exposing this blueprint but to reproduce you don’t even need to modify the vanilla project.

[2020-08-14 22:02] 1runeberg commented on #157
can you provide me with that minimal project so i can use it for testing?

this is because im not getting the same behavior as yours, so trying to figure out whats different.

init issues usually happen if there are steamvr calls happening somewhere else. but key thing is behavior should be consistent between beta and release.

[2020-08-14 22:03] uno1982 commented on #157
Yeah I’ll be able to get you something after I return from the office

[2020-08-14 22:05] uno1982 opened #158 "Hi @uno1982 - I need to understand the actual issue and do my own root cause analysis. So far I've been unable to replicate it at least with vanilla ue. And no, in 4.24 closing steamvr beta without an hmd doesnt crash or close the editor from my end."
When you expose the blueprint function to reference the xrsytem it’s “calling” that module so a “plugin” wouldn’t matter it’s code in your own inherent engine c++ controller class

Hi @uno1982 - I need to understand the actual issue and do my own root cause analysis. So far I've been unable to replicate it at least with vanilla ue. And no, in 4.24 closing steamvr beta without an hmd doesnt crash o

[2020-08-14 22:05] #158 closed, assigned to nobody

[2020-08-14 22:06] uno1982 commented on #157
Sorry was on my phone and tried to hit reply

[2020-08-14 22:08] uno1982 commented on #157
It seems inconsistent to say the least and “might” be that the function call reference that includes xrsytem in the inherent controller class is causing a “call” similar to what your asking about a plugin or module? Which causes this to occur more frequently? But a plugin isn’t necessary to reference another loaded module directly from a c++ class. None of the following requires an additional plug

[2020-08-14 22:13] uno1982 commented on #157
https://docs.unrealengine.com/en-US/API/Runtime/Engine/Engine/UEngine/XRSystem/index.html

[2020-08-14 22:28] 1runeberg commented on #157
That call is implemented in steamvrhmd.cpp (or at least should be), this part was developed by Epic and should hook up to the XRSystem. We can recommend changes here, but normally issues here are dealt with by Epic directly. Anything else that might be using steamvr i cannot guarantee the effects.

Results should be consistent though between main and beta, which is what I'm concerned about since i

[2020-08-14 22:33] uno1982 commented on #157
Yeah I’ve only been able to replicate it randomly and rarely with vanilla but if I get it consistent enough I’ll send and record it. But I can confirm it doesn’t happen at all with the official steamvr release.

[2020-08-14 22:34] 1runeberg commented on #157
would appreciate that @uno1982 , certainly interested in making sure before a beta comes out to "release" we weed out any potential issues unreal devs might face. im just not hitting it on my end.

[2020-08-14 22:37] uno1982 commented on #157
My main problem is this is literally the “only” method as of now ue4 devs have to support both VR and flat gameplay as there doesn’t seem to be any steamworks arguments or other methods to offer this. Not without packaging two separate client branches which would be ridiculous

[2020-08-14 22:51] 1runeberg commented on #157
I'm only aware of the Launch Options that are just arguments passed to the engine/app. I'll bring it up in the next cabal meeting on Monday, in case there's something available I'm just not aware of.

[2020-08-14 23:08] uno1982 commented on #157
![image](https://user-images.githubusercontent.com/45907836/90298795-26a49f80-de59-11ea-8de8-eb6e91ede60b.png)

[2020-08-14 23:10] uno1982 commented on #157
Ok so this occurs on the current steamvr release once you've tested using VR preview stop then attempt to close steamvr. Up until that point you can exit steamvr at any time from the editor. The behavior I'm seeing with beta is that you get this behavior regardless and steamvr is somehow telling xrsystem that the hmd is there when it isn't there and whatever is telling steamvr to close the editor

[2020-08-14 23:20] uno1982 commented on #157
So i've tested with wmr, and oculus also. Apparently if home, viveport, wmr dash etc services are running steam starts up with the headset in standby.
![image](https://user-images.githubusercontent.com/45907836/90299163-bc8cfa00-de5a-11ea-994c-e064553995df.png)
Even with the hmd unplugged and the vive extention box turned off, oculus hmd unplugged and wmr hmd unplugged etc. If the headset was prev

[2020-08-14 23:23] uno1982 commented on #157
Unless they get the 108 msg they cannot play flat and this seems to be caused by a number of factors based on the way the other services may be feeding steamvr info in the beta branch vs the current branch. I don't know if its because they played a game left up home, viveport, wmr dashboard unplugged the hmd, closed steamvr then when it opens back up its like "yeah there the hmd is, but its in sta

[2020-08-14 23:46] uno1982 commented on #157
I'm not for certain this is a beta vs current release problem as much as it's a order of operations issue with no method to clearly tell UE4 that you want to run in FLAT mode within a project packaged with the steamvr module. I'm certain this isn't a problem for most projects as there aren't very many games that are both flat/vr and users that have VR are wanting to load up in the flat version vs

[2020-08-14 23:53] uno1982 commented on #157
I need a way to force the above behavior for players with steamvr installed that want to play flat because detection of the hmd seems to have way too many variables at play or issues with detection  ☝️

I'll say it again. I'm not sure what changed or why it changed regarding the -novr, -nohmd argument for launching applications but I'd regard this as a bug and think it should be communicated to st

[2020-08-15 05:34] uno1982 commented on #157
https://github.com/EpicGames/UnrealEngine/pull/6980/files Accept this pull

[2020-08-15 05:53] uno1982 commented on #157
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/106 Looks like this has come up before.

[2020-08-17 07:09] chengnay commented on #156
@1runeberg I cannot even get one of my trackers working with pose.

I replaced the json files inside vive_tracker_json.zip to my project folder, this is what I see in Controller Binding UI when I play my content.

<details><summary>When I have 2 trackers using Camera role,</summary><p>

![image](https://user-images.githubusercontent.com/33050705/90366049-6d80d800-e099-11ea-8411-e1b776498d16.png)

[2020-08-17 21:28] 1runeberg commented on #157
Yeah, I'm aware of #106 which is why I tagged this as enhancement in case we can do something from our end, but I can't guarantee it.

For the PR, we have no control over that, developers need to follow this up directly with Epic for the engine fix itself.

[2020-08-17 23:25] uno1982 commented on #157
Ok good deal. Thanks Rune appreciate it 👍🏼

[2020-08-22 07:50] uno1982 commented on #157
I’m going to close this since it looks like an actual engine issue that may be resolved via cherry picking or pull request.

[2020-08-22 07:50] #157 closed, assigned to 1runeberg

[2020-08-25 03:41] MJEND7 commented on #24
HEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELP THIS IS MY ERROR Couldn't find file for package /Game/Blueprints/Game/FPS_GameMode requested by async loading code. NameToLoad: /Game/Blueprints/Game/FPS_GameMode I AM TRYING TO MAKE A SERVER WITH UNREAL

[2020-08-25 04:04] 1runeberg commented on #24
Hi - not sure if you are asking an issue with the SteamVR Input plugin? or a general network issue with Unreal?

[2020-08-26 05:10] MJEND7 commented on #24
sorry its a network problem for unreal

On Tue, 25 Aug 2020 2:05 PM Rune Berg <notifications@github.com> wrote:

[2020-08-27 02:49] chengnay commented on #156
@1runeberg Do you have any update regarding the issues that I posted above?

[2020-08-27 18:36] 1runeberg commented on #156
Hi @chengnay - sorry, I mustve missed your response. Did you change the steamvr_manifest as well as per my initial reply? Also, you should have one unque role per tracker, which is what the json files and steamvr manifest edits are complementing.

[2020-08-28 01:50] chengnay commented on #156
Hi @1runeberg,
Yes, I did modified the steamvr_manifest. If I can only have one unique role per tracker, how is it possible to support up to 30? Is your pull request merged yet?

[2020-08-28 02:03] 1runeberg commented on #156
@chengnay - the pull request isn't in yet and its unlikely until 4.26 at least.

The 30 is a theoretical limit, as it will depend on your hardware/PC (e.g. usb bandwidth).

The Unreal Plugin, without our Pull Request, cant handle more than the number of "Special" motion sources provided by Unreal.
Did you check the sample I gave for the steamvr manifest? Can you double check please that you have t

[2020-08-28 03:54] chengnay commented on #156
Hi @1runeberg,
I just double check again. The result is still the same which I still cannot use the json files provided by you to work.
I will attach my json files for your reference.
[SteamVRBindings_chengnay.zip](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5139906/SteamVRBindings_chengnay.zip)

I tested with 3 Vive trackers (Role set to Camera, Left Foot and Right Foot), the red

[2020-08-28 04:26] 1runeberg commented on #156
Hi @chengnay -the individual json tracker files are not properly mapped it seems. I may have provided you the wrong set of json files though (from your previous comments).

Please try the attached ones here instead.
[steamvr_vive_tracker_json.zip](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5139994/steamvr_vive_tracker_json.zip)

Have you also tried the handed roles? Can you verif

[2020-08-28 06:42] chengnay commented on #156
Hi @1runeberg,
<details><summary>For some reason, the waist role is not working properly.</summary><p>

![image](https://user-images.githubusercontent.com/33050705/91528985-0be32800-e93b-11ea-80ad-544e2d4439f4.png)

</p></details>
I set 3 trackers to Chest, Left Shoulder and Waist.

Handed roles are working perfectly.

One question regarding handed roles, if I already have 2 controllers and I also

[2020-08-28 06:47] 1runeberg commented on #156
@chengnay can you open the json file for the waist and make sure the path is correct, use the chest as a pattern, just change the word "chest" to waist.

You should be able to use the handed roles with controllers.

Check the logs and see if you get any errors especially on the special roles.

You cannot reuse the Special motion source though to artificially inflate the amount of trackers you can

[2020-08-28 07:02] chengnay commented on #156
@1runeberg Yes, I did double check the vive_tracker_waist.json file is using "/user/waist/pose/raw", but after launching my scene, I found out that the tracker does not appear in the scene, that's why I opened up the Controller Binding UI and saw that the defined path is not the same as the json file.

In normal cases, what will I see in the scene if I have handed roles with controllers?

I did no

[2020-08-28 07:08] 1runeberg commented on #156
You can check the steamvr logs and see if you're loading the correct action manifest, you should be able to see the steamvrmanifest path from the Unreal logs or console output as well.

Also check the steamvr_manifest and see if its pointing at the correct waist json file.

A good quick test to do is change the name of the project under project settings to make sure you are not using an old steamv

[2020-09-01 19:46] 1runeberg commented on #156
Hi @chengnay - how is it going with trackers for your project?

[2020-09-02 02:51] chengnay commented on #156
Hi @1runeberg
<details><summary>I just double check again for 3 Vive trackers case, and this time is the Left Shoulder that cannot bind.</summary><p>

![image](https://user-images.githubusercontent.com/33050705/91925810-63e9a800-ed08-11ea-9fa5-6172b3ce2ac2.png)

</p></details>
<details><summary>By looking at below screenshot, does it mean that default binding file is loaded from my project?</summa

[2020-09-02 02:54] 1runeberg commented on #156
Hi @chengnay - you mentioned you already checked the raw path in the json file?  can you put the contents here?

[2020-09-02 02:57] chengnay commented on #156
Hi @1runeberg Yes, I am using the json files that you provided last week.

{
	"name": "Default bindings for Vive Tracker (Left Shoulder)",
	"controller_type": "vive_tracker_left_shoulder",
	"last_edited_by": "steamvr",
	"bindings":
	{
		"/actions/main":
		{
			"sources": [{}],
			"poses": [
				{
					"output": "/actions/main/in/special5",
					"path": "/user/shoulder/left/pose/raw",
					"require

[2020-09-02 03:08] 1runeberg commented on #156
the json there looks correct to me still, not sure where your SteamVR is reading "Right Hand Raw" from.

Can you doublecheck:

(1) C:\Users\Chengnan_yang\AppData\Local - Look for the name of your project here as a folder and delete the folder. Restart the Editor

-or-

(2) Try adding a name to the Project - it's still showing the template name from the logs you posted here. You can set the Project

[2020-09-02 03:51] chengnay commented on #156
@1runeberg After I restarted the Editor, the project name is updated.
![image](https://user-images.githubusercontent.com/33050705/91929924-16723880-ed12-11ea-9dd0-339319250a34.png)

I found out a weird behavior. The one that is showing the wrong path isn't the tracker that is not showing up in the scene.

For example, A and B trackers which are set to Waist and Camera role respectively.
In Control

[2020-09-02 04:23] 1runeberg commented on #156
Make sure the MotionSource is correctly mapped in Unreal (Special1/2/3/4/... etc) with the correct tracker role. You can double check if you have the correct physical tracker with the correct role by turning htem on and off, I dont think you can get consistent results with tracker + role in every run with steamvr

[2020-09-02 06:17] chengnay commented on #156
Hi @1runeberg I double check the mapping and it is correct. After checking by turning off and on and also switch roles to every tracker, only the tracker that assigned with Waist role cannot show up.

[2020-09-02 06:25] 1runeberg commented on #156
Hi @chengnay  - bit confused, I thought the problem was the left shoulder one?

Can you try the other solutions I posted on the earlier post? I think it's just some misconfig somewhere, all the settings appear to be correct.

Additionally you can also test setting the other Motion Sources, it might be somehow ending up in a different motion source in your project for some reason. Make sure you don

[2020-09-02 06:29] chengnay commented on #156
This is my mistake by looking at Controller Binding UI and mistook that it is Left Shoulder role is not showing up, but actually it is Waist role.

I did double check the tracking of all the trackers in compositor and SteamVR, they all work fine.

[2020-09-02 06:36] 1runeberg commented on #156
Can you post all the tests that I've suggested so far (from several posts) that you try and what the results for EACH one of them are so I understand what's been done and not.

Thanks,
Rune

[2020-09-02 06:50] chengnay commented on #156
(1) I did not find any folder with the name of my project.
(2) I use this method to change the project name and description.
(3) I did not see steamvr.vrsettings under the folder {DriveLetter}:\Program Files (x86)\Steam\config\
I only see steamapps.vrmanifest but in this file I did not find any with "ue"

If I change the Motion Source of Waist to Special 1, it can show up normally but this will no

[2020-09-02 06:54] 1runeberg commented on #156
Thanks for that. So are you saying you have SEVEN trackers all working and only the Waist tracker role is not working when you have the MotionController component set to "Special 2"?

Special 1: Camera
**Special 2: Waist**
Special 3: Left Foot
Special 4: Right Foot
Special 5: Left Shoulder
Special 6: Right Shoulder
Special 7: Chest
Special 8: Keyboard

But all other Motion Sources and configs are

[2020-09-02 07:08] chengnay commented on #156
Hi @1runeberg Yes, I use 4 trackers to test,
First round, Special 1 to 4, only the tracker with Waist role not working.
Second round, Special 5 to 8, all of them working fine.

[2020-09-02 07:22] 1runeberg commented on #156
great! thanks.

a few additional things to check:

(1) Remove any other Motion Controller other than Specials 1-8 in your pawn if you haven't already
(2) Double-check that you do NOT have a Tracker setup as Handed: Right Hand Raw in your pawn or any other object in the scene
(3) Try setting "Display Device Model" for MC_Special2

Failing this, can you post please, directly from your project, the f

[2020-09-02 07:37] chengnay commented on #156
@1runeberg

Sorry for mistaken the question on this part. I found the root cause is that I accidentally set MC_Special2's Motion Source to Special1. @@

Everything works perfectly now.

Thanks for your great support!!

[2020-09-02 07:40] 1runeberg commented on #156
ah, that'll explain it. No prob at all @chengnay . Glad it's all sorted now :) Enjoy!

Cheers,
Rune

[2020-09-02 08:54] Gapus opened #159 "4.22.3 During the production of multi-content using engine code, questions arose regarding index controllers."
Hello
It is currently producing multi-content using 4.22.3 engine code.
Also, VR index controller is in use.
I want to show you moving your fingers by passing on each index finger value to the other player.
Index Each finger value can be obtained from which code?Can you tell which code you put the obtained value in to change your finger?
This article was translated using Papago.
Please understand

[2020-09-02 11:02] kisak-valve commented on #156
Closing per the last couple comments.

[2020-09-02 11:02] #156 closed, assigned to 1runeberg

[2020-09-02 18:36] 1runeberg commented on #159
Hi @Gapus - Let me know if I got your question right:

Q: You're trying to get the full-finger tracking in index in a multi-player game/project and wanting to know how this can be done?

A: There's no native network streaming support in the plugin to handle full finger tracking. You need to implement this yourself using Unreal's network support and compression techniques. It may be better to use t

[2020-09-12 21:05] equalent commented on #151
Hi!

Similar problem here: ABPs with SteamVR Skeletal Anim Pose work correctly but SteamVR nodes are removed from the graph after the engine is restarted (with and without the editor).

Log:
[code]

[2020-09-14 10:59] BonzoMartini opened #160 "How do i uninstall SteamVrInput"
I updated my project from 4.22 to 4.24. I believe StreamVR Input is causing problems. How do i uninstall it

thanks

[2020-09-14 16:55] BonzoMartini commented on #160
SteamVrInput only becomes active in one project -so it seems tied to the project

[2020-09-15 17:43] BonzoMartini commented on #160
An Unreal Process has crashed: UE4-SteamVRInputPlugin

[2020-09-15 19:27] 1runeberg commented on #160
Hi @BonzoMartini - In 4.24, the SteamVRInput plugin was integrated to the engine.

For the GitHub version, this shouldn't compile for 4.24, but you can easily remove it from your project via unticking it in the plugins menu before the upgrade or deleting the plugin from the Plugins folder. You should also remove any individual controller key mappings as the controller definitions were moved from t

[2020-09-15 21:56] BonzoMartini commented on #160
Thanks for getting back. So I did not compile for 4.24. I added via marketplace to a project and later updated the project from 4.22 to 4.24
Where is it in plugins menu? I guess you mean under the UE/Edit/Plugins window - it's not under VR. It's not searchable? It does not show up in the Plugins folder.
What does "untick it in the project settings" mean ? Where do I untick it? This must very obvio

[2020-09-15 22:03] 1runeberg commented on #160
Hi @BonzoMartini - You need to do it from the original project in 4.22

Go to Project Settings > Plugins > Virtual Reality and look for SteamVR Input. Untick this plugin to disable/remove it from your project.

[2020-09-15 22:04] BonzoMartini commented on #160
Hi as i said it is not showing up in the plugins list under Virtual reality

[2020-09-15 22:05] BonzoMartini commented on #160
From: Rune Berg <notifications@github.com>
Sent: 15 September 2020 23:04
To: ValveSoftware/steamvr_unreal_plugin <steamvr_unreal_plugin@noreply.github.com>
Cc: BonzoMartini <info@gibsonmartelli.com>; Mention <mention@noreply.github.com>
Subject: Re: [ValveSoftware/steamvr_unreal_plugin] How do i uninstall SteamVrInput (#160)

Hi @BonzoMartini <https://github.com/BonzoMartini>  - You need to do it

[2020-09-15 22:05] 1runeberg commented on #160
Was the plugin installed? If it doesnt show up in the list, that means the plugin isn't installed and isn't running.

[2020-09-15 22:06] BonzoMartini commented on #160
on the UE toolbar i see 'SteamVrInput' button on this project

[2020-09-15 22:09] BonzoMartini commented on #160
The plugin wasnt installed to this engine version.

[2020-09-15 22:15] BonzoMartini commented on #160
or is that button part of SteamVR?

[2020-09-15 22:17] 1runeberg commented on #160
Hi @BonzoMartini -

Are you trying to disable the plugin from 4.24 or 4.22?

For an upgraded project WITH a Marketplace version of the plugin in UE4.22, you need to do the following as I mentioned on my first response:

Disable the plugin from your UE4.22 project not in the UE4.24 project, via the Plugins list and you need to REMOVE the Input bindings for all controllers in Project Settings > Inpu

[2020-09-15 22:21] BonzoMartini commented on #160
I was trying to disable the plugin in 4.24. Ok so that makes sense if "the plugin is already part of the official engine code" Thankyou for your help!

[2020-09-15 22:21] #160 closed, assigned to 1runeberg

[2020-09-22 15:20] simongloor commented on #138
Yes, the problem still exists in 4.25.3.

I've had this issue in a side project for almost about a year now. It seems to be caused by the loading order of the SteamVR plugin and my own plugin, as I managed to fix it in some versions that had a different loading order.

My last, incomplete attempt on solving this was to create my own AnimGraphNode. That still seems to be unnecessary complicated tho

[2020-09-29 15:44] chunfinplos opened #161 ""bTracked" member on MotionControllerComponent is allways true"
--- Testing in UE4 4.25.3 with vive controllers and HTC vive ---

In order to avoid this bug, you can use "CurrentTrackingStatus" member.

Log with Motion controllers turned off:
    **CurrentTrackingStatus= ETrackingStatus::NotTracked | bTracked= TRUE**

Log with Motion Controllers turned on:
    **CurrentTrackingStatus= ETrackingStatus::Tracked | bTracked= TRUE**

I hope this helps!

[2020-09-30 08:26] FabulousPotato opened #162 "SteamVR Hand skeleton in UE4"
Hello,
I'm quite new to steamVR and this is my first time using this. I'm using a steamVR skeleton (on UE4) for hands. It works fine with knucles on vive etc, but on oculus when touching the trigger the index finger "hides". This also happens in some poses designed in blender. While in blender everything looks fine, in ue4 I get this:
![image](https://user-images.githubusercontent.com/72128357/946

[2020-10-01 10:37] FabulousPotato commented on #162
I solved it, it was a Blender problem after all, can be closed.

[2020-10-01 10:37] #162 closed, assigned to nobody

[2020-10-15 21:22] 1runeberg commented on #161
@chunfinplos can you point me to the specific code line you're referring to?

[2020-10-20 00:54] #130 closed, assigned to 1runeberg

[2020-10-20 19:52] chunfinplos commented on #161
Hi, is not in your plugin. Is in UMotionControllerComponent class. But is related with VR interface input. File MotionControllerComponent.h in line 132 (UE4_4.25.3)

[2020-10-21 19:36] 1runeberg commented on #161
Hi @chunfinplos if you are reporting a fix or a bug with the engine itself, it would be more appropriate to create a Pull Request with EpicGames:

https://github.com/EpicGames
https://www.unrealengine.com/en-US/ue4-on-github

MotionController Component affects all XR Platforms.

[2020-10-22 09:05] #161 closed, assigned to 1runeberg

[2020-10-23 22:24] BreakMaker opened #163 "Input issues on UE 4.25"
Hi Valve Team,

I want to add support for the Index Knuckles in my VR interaction system "Realistic VR Doors" (https://www.unrealengine.com/marketplace/en-US/product/realistic-vr-doors-physics-based-parameterised?sessionInvalidated=true) but I am running into an input-related issue. I tried to follow the Quickstart guide and I checked the example project thoroughly.

Now first of all I want to add

[2020-10-24 01:44] 1runeberg commented on #163
Hi @BreakMaker - thanks for the video, helped clarify a few things.

It looks like the updated action manifest isn't registering properly to SteamVR for some reason in your project, can you please try:

(1) Close the Editor
(2) Delete steamvr_ue_editor_app.json under the Config folder. This is the application manifest that identifies your UE project to SteamVR and points to the location of the act

[2020-10-25 21:20] BreakMaker commented on #163
Hi Rune,
this worked like a charm! Actually, one more step needed was re-activating the bindings in SteamVR dashboard! (otherwise after removing the files even hand tracking was dead).
Also, great to know the Steam VR Input Plugin menu was simply hidden... I started to wonder if it was not carried on to 4.25.

Now its all working, thanks a lot!!!

[2020-10-27 03:29] 1runeberg commented on #163
No prob @BreakMaker thanks!

[2020-10-27 03:29] #163 closed, assigned to 1runeberg

[2020-10-30 14:37] #110 closed, assigned to 1runeberg

[2020-10-30 14:38] insanepure commented on #110
I just closed this as it was fixed here: https://github.com/EpicGames/UnrealEngine/commit/15be362d03e2a21a82d290d64dc5e7ac60dccfda

[2020-11-01 13:38] badVibes-- commented on #97
Could you guys please solve this in a more elegant way. What am I supposed to do until the user touches the selected axis? I have to change the controller mesh depending on which controller the user has and not displaying anything until they touch something feels like a bug. I haven't seen one game that starts with 'please press a button so we know what controller you have'.  It just seems silly.

[2020-11-02 18:52] 1runeberg commented on #97
Hi @badVibes-- Have you tried the FindSteamVR_InputBindingInfo and GetSteamVR_InputBindingInfo nodes? They don't require a prior input.

SteamVRInput is an actions-based system and isn't controller-based, ideally applications shouldn't need the controller type so there's no direct way to query a controller type.

But the above nodes should report information about the action and which controller t

[2020-11-02 23:32] BreakMaker opened #164 "How to use with UE mannequin left hand?"
Hi Rune,
I wonder what would be the best approach to use the Knuckles / Steam VR anim nodes with the left hand of the standard mannequin. I could not find an example implementation in the example project and the video tutorial is focused on the moondust and robo recall hands, the latter having a custom left hand already created.
However, the UE4 VR template just uses the right hand, and inverts th

[2020-11-02 23:48] BreakMaker commented on #120
Did this work out for you?

[2020-11-03 03:52] 1runeberg commented on #164
Hi @BreakMaker - We do have a sample where we show how to use the Animation Nodes for the standard UE Mannequin hand, including how set it up for the Left Hand.

If you open the UEHands_SampleMap, you should be able to try it out.

UEHand_AnimBP will have these core nodes that handles the left hand (scaled right hand mesh):

![image](https://user-images.githubusercontent.com/17371351/97948228-0ba4

[2020-11-03 14:23] badVibes-- commented on #97
I looked at the nodes you mentioned and do not understand how exactly I am supposed to extract the needed information from the output they give. Some kind of dummy action definition?

"ideally applications shouldn't need the controller type so there's no direct way to query a controller type"   I need it to display a mesh of the controller (with tooltips). Its a drawing app and just displaying ani

[2020-11-03 16:04] badVibes-- commented on #97
Well, in the end i was able to get the info from bindings to axis inputs fast enough. Thank you for your suggestions.

[2020-11-03 17:18] badVibes-- opened #165 "What approach for left handed people?"
Are there any best practices when it comes to adding support for left handed people? Cant seem to come up with a good solution besides naming the actions by their position on the controller, which kind of goes against the whole action thing. Ideally we should be able to provide two maps and be able to switch between them. Do you have any suggestions what would be a good way of approaching this pro

[2020-11-03 21:55] BreakMaker commented on #164
Hello  @1runeberg ,
yes, this is exactly what I had done.

I inverted the hand in the hand actor bp (y world scale -1.0), and used the SteamVR Skeletal Anim Pose to apply mirroring if it is the left hand (see screenshots below)
![Screen2020-11-03 22 46 20](https://user-images.githubusercontent.com/30862875/98044187-c81f0a00-1e26-11eb-9854-dcd7c999feba.png)

I have figured out a solution, though I

[2020-11-03 22:01] 1runeberg commented on #164
Not sure why you would need a delay there @BreakMaker, not sure if that's a localized version of the engine but the commas in place of the period in your float values seem a bit odd.

Not clear on why a custom socket would impact flipping a mesh scale, I don't think we have this in our sample project and inverts just fine, but glad you got it all working! :thumbsup:

[2020-11-03 22:01] #164 closed, assigned to 1runeberg

[2020-11-03 22:11] 1runeberg commented on #165
Hi @badVibes-- Unfortunately the engine's input system is built on using "Left" and "Right" controller values so it's a bit difficult to have a solution that'll work well with the normal engine workflow.

As a lefthanded person myself, I do understand the concern, but potentially the best solution at the moment is to publish custom Left Handed Bindings via Steam and have your users opt for those.

[2020-11-03 22:11] BreakMaker commented on #164
I did not notice it, but you are right: I have commata instead of periods everywhere . Maybe the engine reads the region settings from the OS (I am based in Germany whe have comma instead of period) (see the image below for an example)
![Screen2020-11-03 23 04 03](https://user-images.githubusercontent.com/30862875/98045912-893e8380-1e29-11eb-8055-75afee0599e6.png)

Regarding the pawn: But you do h

[2020-11-04 14:08] badVibes-- commented on #165
@1runeberg Thank you for your fast response. Your suggestion would work but it would not be the best user experience. I have no way of knowing if the change happened during game play. Because of this, it would be a two step process for the user. First change the bindings and then switch the setting in game (its a drawing app and I need to switch the tool position and place icons).
One idea that se

[2020-11-04 22:38] 1runeberg commented on #165
@badVibes-- you shouldnt need to know the user preference on your app as the runtime and the plugin handles this via actions, regardless of developer's original bindings. this allows a more flexible option for your users past left handed vs right handed (e.g. single handed, personal preference, etc).

if you wish to still provide options to swap to in-game, creating mirrored actions with L/R names

[2020-11-05 16:12] OptimisticMonkey opened #166 "Where is SteamVR Input Toolbar in 4.25+"
Need to regenerate action manifest and its not showing up on toolbar?

[2020-11-05 16:28] OptimisticMonkey commented on #166
![image](https://user-images.githubusercontent.com/7347/98267983-352ac080-1f49-11eb-8397-f7cd2afc1958.png)
Found the buttons in Project Settings now

[2020-11-05 19:30] 1runeberg commented on #166
Cheers @OptimisticMonkey ! By ticking the "Show Steam VR Input Toolbar Button" you can also have the SteamVR button in the main toolbar for easy access to those functions (putting numbered screenshot here for others):

![image](https://user-images.githubusercontent.com/17371351/98287507-914d1d80-1ff9-11eb-8288-7859e9957e6b.png)

[2020-11-06 19:48] #166 closed, assigned to 1runeberg

[2020-11-06 19:49] OptimisticMonkey opened #167 "How to include correct manifest when packaging...."
So when I play in VR preview, and configure using steamvr ui - everything works great.

But when I package, it doesnt include the changes I made in the ui?

[2020-11-09 09:31] Dual-Perception-Games opened #168 "Updating end users input.ini file"
I have a game on both Steam and Viveport. The latest update includes changes to the games controls using SteamVrInput (inside 4.25 so native to the engine).

However, apart from when it is first created to on first run of the game, the input.ini file refuses to update. This means that if I publish my update I have to ask players to manually delete this file from their appdata local folder which is

[2020-11-09 13:58] dslnc commented on #163
I have issues packaging a project to an .exe file and maintain vive tracker functionality with ue.4.25.4 - exporting the vivetrackers fails to register no matter what. In the editor all works fine.

[2020-11-09 19:52] 1runeberg commented on #168
Not from within our control in the plugin itself as far as I'm aware as it's a general engine behaviour. You may be able to override this with engine modifs however.

Renaming the  project will also work but that's impractical for published titles.

[2020-11-09 19:54] 1runeberg commented on #167
Hi @OptimisticMonkey - Are you saving over the default bindings?

![image](https://user-images.githubusercontent.com/17371351/98589657-b6a39980-2321-11eb-960d-6abc02ddff42.png)

[2020-11-09 20:52] Dual-Perception-Games commented on #168
Thanks for getting back to me runeberg. Quick follow up question then... is there a best practice for dealing with controls and Their updates? I can’t believe that I’m the first person to have encountered this but by all accounts I am.

Is there a way to assign the steam vr input controls in engine at runtime? So to ignore input.ini altogether and use bindings from inside a blueprint for example?

[2020-11-09 22:44] 1runeberg commented on #168
The input.ini is the engine's way of storing input mappings so I don't think that's possible. but this is potentially a better question to send to Epic as this can affect more than SteamVR Input.

There are a number of long running forum threads on this in the Epic Forums if you search for game settings, reset, ini

[2020-11-16 15:48] Rectus opened #169 "Using the same action for both hands"
Looking at the input bindings for games like Half-Life: Alyx, and for every action that can be triggered by both hands, the same action is bound to both hands instead of having separate left/right actions.

Is it possible to set up actions the same way with the current UE4 implementation using Blueprint? Most actions would require you to know which motion controller triggered the action, but there

[2020-11-18 09:44] xavier150 opened #170 "Add action_sets"
Hello,
I edited the generated steamvr_manifest.json and knuckles.json for add more action_sets for Steam VR.
"/actions/move", "/actions/menu", "/actions/interact", [...] In Steam VR that work good, buttons are sorted and displayed correctly.

But the building of the the new action_sets does not work in game. When I use "Get Steam VR Action Set Array" [Doc](https://docs.unrealengine.com/en-US/Bluep

[2020-11-18 16:44] Rectus commented on #170
According to the wiki, multiple action sets are not implemented yet.

https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/Not-Yet-Implemented

[2020-11-18 17:03] xavier150 commented on #170
Oh I see. When do you think this will be implemented ?
There maybe a way to have Action Sets in Steam VR building but read action in Unreal Engine as "main" action?

[2020-11-18 18:54] 1runeberg commented on #170
Hi @xavier150 - Unfortunately, at the moment, there is no clean way of implementing action sets with the current UE UI. Potentially, this option should be available in the Input mappings section, but afaict there's no way to easily extend this area from a plugin so it has to be done on the engine level.

It may be good to also provide direct user feedback to Epic via the official UE Forums and UDN

[2020-11-18 18:58] 1runeberg commented on #169
Hi @Rectus - You should be able to just map both the left and right motion controller inputs to the same action in the Key or Axis bindings and that'd produce the same "mirrored" result. Or were you thinking of a different use case?

[2020-11-18 20:05] Rectus commented on #169
The issue I have with this is how to identify which motion controller performed the action. For example if you have an action to teleport, you need to know which hand to project the teleport beam from.

[2020-11-19 14:07] Rectus commented on #169
If I understand you correctly, the inputs should be set up like this:
![bild](https://user-images.githubusercontent.com/4642151/99675759-e5cfae80-2a77-11eb-8779-e19bc87851f8.png)

This results in SteamVR triggering the input events, but I can't see any way of telling which controller triggered it.

My motivation with this is to present a uncluttered set of controls in the SteamVR binding interface

[2020-11-22 18:34] Rectus commented on #169
I ended up writing a library that gets the hand for the action origin directly from the OpenVR API.

The code is here in case anyone needs it:
https://gist.github.com/Rectus/9cc3ae996df5b4549a287a37af260674

Unfortunately this has exposed another issue. It's not possible for a single action to be active for both hands simultaneously. So if you have a single grab action that's active while holding

[2020-11-30 16:11] alxslr opened #171 "Input in VR template does not seem to work when packaged (4.25, Valve Index)"
Hi
When I package a project for W10, even the plain VR template, the controller input buttons don't seem to work (at least Valve Index's)
Everything works fine in VR preview mode
Specifically:
-In preview mode, I can grab the cubes, in packaged project, no.
-'A' button for teleport works fine in preview mode, but does not respond when I package the project.
-If I add the trigger button to the "Tel

[2020-12-04 22:07] 1runeberg commented on #171
hi @alxslr - are there any errors in the log? can you post them here?

[2020-12-04 22:08] 1runeberg commented on #159
Hi @Gapus - do you need more info on this?

[2020-12-04 22:10] 1runeberg commented on #152
This is now fixed in 4.26, thanks for reporting!

[2020-12-04 22:10] #152 closed, assigned to 1runeberg

[2020-12-04 22:10] 1runeberg commented on #115
This is now fixed in 4.26, thanks for reporting!

[2020-12-04 22:10] #115 closed, assigned to 1runeberg

[2020-12-04 22:12] 1runeberg commented on #100
Fixed in latest engine release, thanks for reporting!

[2020-12-04 22:12] #100 closed, assigned to 1runeberg

[2020-12-04 22:13] 1runeberg commented on #149
Thanks @RDTG - glad it all worked out. Closing this then :)

[2020-12-04 22:13] #149 closed, assigned to 1runeberg

[2020-12-04 22:14] 1runeberg commented on #167
Hi @OptimisticMonkey - do you still need help on this?

[2020-12-04 22:17] 1runeberg commented on #119
Hi @nx306 - we've added new features in 4.26 to automate this, do you want to try them and let me know if you have any issues?

[2020-12-04 22:19] 1runeberg commented on #136
Stale issue, closing for now. Please open a new Issue if you still need help on this. Thanks!

[2020-12-04 22:19] #136 closed, assigned to 1runeberg

[2020-12-04 22:20] 1runeberg commented on #114
Fixed in 4.26, thanks for reporting!

[2020-12-04 22:20] #114 closed, assigned to 1runeberg

[2020-12-04 22:21] 1runeberg commented on #117
Hi @Gitschi - Do you need any further assistance on this?

[2020-12-04 22:22] 1runeberg commented on #140
This has been fixed in 4.26, thanks for reporting!

[2020-12-04 22:22] #140 closed, assigned to 1runeberg

[2020-12-04 22:41] nx306 commented on #119
@1runeberg we actually did something in previews and my colleague said that the Unreal support works quite well, however he has few suggestions mostly on SteamVR part. First is that you need to go to legacy binding UI and set tracker on camera as camera pose. Secondary SteamVR needs to be switched to work without HMD and the driver needs to be set manually in .vrsettings files to work without HMD.

[2020-12-05 10:40] alxslr commented on #171
Some warnings, (no errors). I attach the log
Thanks
Alex
[log.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5646893/log.txt)

[2020-12-05 12:22] alxslr commented on #171
I've also just installed 4.26 and tested the plain VR template there (Have not upgraded the 4.25 project but created a new project from scratch from 4.26).

Results are here consistent between editor version and packaged version, but behaviour is still not 100% ok.

- Button A for teleport works fine, in editor and packaged project.
- Grip does not seem to work (I can't grab the cubes anymore, nei

[2020-12-05 12:27] alxslr commented on #171
Here is the log for this last one (4.26)
[log4-26.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5647034/log4-26.txt)

[2020-12-05 18:48] 1runeberg commented on #171
Hi @alxslr - can you send the debug log - the logs generated by the executable. It should be generated under a "Saved" directory if you make a debug build.

[2020-12-06 00:29] rproepp commented on #148
I've upgraded to 4.25.4 now, but the issue persists. There are a couple of issues and PRs here and on the Unreal Engine repo, so I'm not sure what the status is.

https://github.com/EpicGames/UnrealEngine/pull/6582 looks like it should fix the issue? But https://github.com/EpicGames/UnrealEngine/pull/6980 is still open. Does that mean it is still not fixed in master (and the launcher version), but

[2020-12-06 02:28] 1runeberg commented on #148
Hi @rproepp - unfortunately as mentioned in #106, we dont have any control on this, our PRs were added on 4.26, not 4.25  but they only cover input and doesnt have any relation to the hmd/xr boot up process in the engine. please report this  issuedirectly via official Epic channels.

[2020-12-06 02:56] 1runeberg commented on #148
@rproepp - please see Issues #157  and #106 for more info

[2020-12-12 17:50] rproepp opened #172 "Button press calls actions multiple times (UE 4.25)"
I'm using a complex action binding with many different actions mappings and multiple keys for each to support various controllers. All controls are also duplicated for both hands to allow switching between left-handed and right-handed within the game.

This setup worked fine with the plugin in 4.21, but since migrating to 4.25 I've noticed strange behavior for some of the actions. I've tried to na

[2020-12-14 05:05] 1runeberg commented on #172
Hi @rproepp - thanks for the report.

For multiple actions on a single key, with the integrated version we don't have the luxury of unique temporary keys which we autogenerate in the Marketplace version. So you will need to keep track of handedness state in your project unfortunately to gate the input events.

In saying that, we've added a feature in the plugin to look for a unique key in tke Key

[2020-12-14 11:05] rproepp commented on #172
Hi, thanks for the quick response! Gating based on handedness is not an issue, I'm already doing that. But I don't quite understand what will change with the fix: will actions for keys that are configured in multiple actions only be triggered once, and does that require to map an additional unique key from an unused SteamVR device?

[2020-12-14 20:30] 1runeberg commented on #172
Hi @rproepp - no prob. Ideally we'll have Action Sets to handle this, but we don't have a means at the moment to plumb that in UE.

So yes, gating via project code or by adding a unique key to actions are the options (Magic Leap keys for instance). I don't think we can pass the Temporary Key solution we had similar to the Marketplace version in the Engine Integrated version.

[2020-12-15 01:22] 1runeberg commented on #172
Hi @rproepp - sorry it seems I got this confused with another issue. I've traced the code and the feature to use a unique key from the list is indeed working (just not for Magic Leap as a pseudo temporary/unique key).

we could add those in to be recognized, but for your use case however, even if you place unique keys on each of your actions, it will still be triggered multiple times. The runtime

[2020-12-15 01:41] Blofd opened #173 "A way to test UE4 and vive tracker/Steam connection?"
Trying to follow this tutorial, (and also trying using vivemocapkit) but there seems to be something broken (for me) in the connection between UE4 and vivetracker/SteamVR. Trackers and stations are showing up fine on SteamVR

https://www.youtube.com/watch?v=LiV8RhzvUHI

Also, when I go to "Steam VR Binding Dashboard" and try editing "current binding" or "create new bingin" after selecting the appr

[2020-12-15 03:22] 1runeberg commented on #173
Hi @Blofd I'm not sure which engine version the tutorial is on, but the official way of using the trackers would be via the SteamVR Input system.

For version 4.19 to 4.23, have a look at the following issue:
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/89

And for 4.24 and above:
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/126
https://github.com/ValveSoftware/st

[2020-12-15 03:58] Blofd commented on #173
Hi 1runeberg,

      Thanks! I tried the demo video until 0:57 mark. After that when I click on Edit Current Binding or Create New Binding, nothing happens.

Tried using both "Show Old Binding UI" from SteamVR and "SteamVR Input" > "Launch..." from UE4.

[2020-12-15 04:08] 1runeberg commented on #173
Can you send a screenshot from your end for steps in 0:46 and 0:56?

[2020-12-15 04:17] Blofd commented on #173
https://imgur.com/a/gkExbfw

Really appreciate your quick responses, been struggling with this for a while!

[2020-12-15 04:26] 1runeberg commented on #173
That seems fine to me, not sure why its not opening up the menu... can you try controller bindings? Otherwise can you send the SteamVR Report?
![image](https://user-images.githubusercontent.com/17371351/102171127-ee39ce80-3ee9-11eb-8e26-4cb9cb4997c7.png)

[2020-12-15 04:29] Blofd commented on #173
[SteamVR-2020-12-15-AM_09_58_31.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5693342/SteamVR-2020-12-15-AM_09_58_31.txt)

I'm only using trackers and no hmd or controllers. Attaching the report.

[2020-12-15 04:34] 1runeberg commented on #173
Oh, we don't officially support a headless configuration for the UE plugin. So this configuration isn't valid.

[2020-12-15 04:37] Blofd commented on #173
Are there any suggestions to how to fix this though? Primarily I'm trying to use vivemocapkit in UE4 and also a tracker for camera.

[2020-12-15 05:18] 1runeberg commented on #173
are you unable to attach a headset? not sure if the engine's tracking and XR init will kick in anyways without one at any rate.

there is also Epic's new Live Link XR Plugin in 4.26, which in my understanding supports trackers and can try if it supports headless.

[2020-12-15 06:01] Blofd commented on #173
A few people have been doing mocap using just trackers and "ViveMocapKit" plugin on UE4 markerplace. That is what I intend to follow.

BTW, Vive Trackers aren't linking even while using Epic's Link XR in 4.26, following this https://www.youtube.com/watch?v=UexGZ08goEU

At ~3:30 mark he adds the Vive tracker and it shows up with a green light. For me "Subject Name" "role" columns remained empty eve

[2020-12-15 06:50] 1runeberg commented on #173
As mentioned, unfortunately a headless setup isn't something we officially support in the steamvr plugin - it was designed for use in a VR setup with headset and controllers.

If the mocap plugin you are using guarantees it supports this type of setup, then you'd have to contact them directly for support.

[2020-12-16 20:00] rproepp commented on #172
Ok, I've added a second gate on all actions and everything seems to work again like in 4.21. To be clear on what the setup looks like now: For every pressed and released on every action, first there's a gate that depends on handedness, and then another gate that ensures that the action is not called more than once between ticks. Is it safe to assume that all duplicate action triggers will happen i

[2020-12-16 21:37] 1runeberg commented on #172
yes, they'll all happen on the same tick... the plugin goes through all actions in a tick and checks with the steamvr runtime if it has been triggered or not.

[2020-12-18 18:30] alxslr commented on #171
Sorry for the late answer.

You mean in a C++ project? Sorry I've never used a C++ project before.

[2020-12-18 18:40] alxslr commented on #171
What I can give you is the editor log (before Play), since I see there is a warning related with the VR motion controller that could be relevant. Hope it sends any clue.

[editorlog.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5717501/editorlog.txt)

[2020-12-18 18:41] 1runeberg commented on #171
When you make a build in Unreal, the default is usually Development (or Debug in some versions of the engine):
![image](https://user-images.githubusercontent.com/17371351/102648590-de590d80-41bb-11eb-9bb4-01fbb847a9a7.png)

Now on your build, if you run the executable file (.exe), a "{ProjectName}/Saved/Logs" directory will be generated *in your build* (where the executable file is not where the u

[2021-01-03 01:52] protowlf opened #175 "SteamVR loading resources after level change"
This is partially a question on how this part of the plugin works, partially a concern that SteamVR may be causing issues with async package loading. (I don't compile engine so I unfortunately can't breakpoint this logic myself)

When running package builds, in output logs, SteamVR plugin appears to re-load meshes when changing levels sometimes. I see output like this after calling GameplayStatics

[2021-01-03 20:53] protowlf commented on #175
Here's a longer log isolating the steamvr plugin output after OpenLevel.

This is a development package build, engine version 4.24, on an Index:

[code]

Regarding the hitch on flush async loaders, it seems that if I wait a full second between OpenLevel and running new AsyncPackageLoad() calls, I don't get my hitch. Again, not 100% sure SteamVR plugin is responsible for the hitch, but the output s

[2021-01-05 02:52] 1runeberg commented on #175
Hi @drspud - thanks for the report. not exactly sure what's going on there, but this seems something Epic Games should look at in the first instance as the model loader is just an implementation of the engine's overall XR archi so this can be a more general issue. In addition, model loaders and hmd module of the plugin was developed exclusively by Epic so they may be the best to judge root cause a

[2021-01-05 02:52] #175 closed, assigned to 1runeberg

[2021-01-13 17:03] RepublicofNumbers opened #176 "Why is there no analog value from thumbstick on the index?"
I am trying to get the value of the thumbstick but it does output any value.  The gamepad does return a value.

<details><summary>Here is my code:</summary><p>

[code]

[code]

[code]

[code]

</p></details>

![bind_Index](https://user-images.githubusercontent.com/75226636/104484363-373b7c00-5597-11eb-80b8-c948ca0e0f2a.jpg)

Thanks!

[2021-01-13 19:00] 1runeberg commented on #176
Hi @RepublicofNumbers - As the engine doesn't support Vector2 input in the Input UI, the plugin needs two axis mappings mapped to the X and Y axis of the individual controller's thumbstick.

Here's our instructions from the Quickstart in this repo's wiki:

`Vector2 Actions - As Unreal doesn't have a concept of a Vector2 action we auto group two vector1 actions with names that end with _X and _Y. F

[2021-01-13 19:15] RepublicofNumbers commented on #176
I had looked at the closed issue #142 but I did not realize it needed both Axis mapped, thank you so much Rune!

I'm eagerly looking forward to the next chapter in you Unreal Education VR Series !!  it's pure gold.

Thanks again !

[2021-01-13 19:15] #176 closed, assigned to 1runeberg

[2021-01-13 20:11] alxslr commented on #171
Hi
I've attached you the log as you asked.

About this question you made:

In fact, as I pointed in last messages, that was what was happenning when I posted the issue initially: that the template did not work, only in the packaged versions. There were different inputs that worked in editor but not in packaged: teleport (A button or tumbstick), grip action (to grab the cubes) and also teleport uss

[2021-01-13 21:28] 1runeberg commented on #171
Thanks for the extra info @alxslr. It seems that the final/release 4.26 engine VR template is missing Index mappings for Grab. Have reported to Epic.

You can manually add the input mappings though, I've tested and Trigger and GripGrab, but we suggest GripGrab:
![image](https://user-images.githubusercontent.com/17371351/104512514-71ae2300-5642-11eb-82d0-284f3cc95ba2.png)

[2021-01-14 00:49] 1runeberg commented on #171
FYI - just discussed with Epic, it appears that the key the binding refers to in the vr template (Grip click) was accidentally deleted in 4.26. Epic is adding it back in 4.27 and also fixing the default VR template. Unfortunately since the code change is in a public header, the fixes cant be added on a Hotfix so must wait for the full qa cycle in the next full version release.

Will keep this open

[2021-01-14 09:53] alxslr commented on #171
Ok good to know, Rune,
Thanks for the update.

We'll wait till 4.27, then :-)

[2021-01-14 21:58] rproepp commented on #172
After testing with more headsets, I found that on the Vive actions are not only called multiple times, but some buttons also call actions that are not configured for them. In the cases I've seen, the correct action was triggered first so it was possible to do another workaround and stop the additional actions from getting executed in the same tick.

I don't have a minimal example this time, the be

[2021-01-15 05:18] 1runeberg commented on #172
Hi @rproepp - there shouldnt be any buttons that gets triggered if the action that was triggered isnt bound to it. My guess is that the manifest hasnt been updated or steamvr is picking up an older version some reason. Yeah it would be great if you can send a minimal example as it'll be easier to test or repro steps.

[2021-01-17 15:33] Rectus opened #177 "Getting the SteamVR Device ID from the device role"
The USteamVRFunctionLibrary::GetTrackedDevicePositionAndOrientation function requires the SteamVR device ID as an input, but the only way to get the ID I can find is from USteamVRFunctionLibrary::GetValidTrackedDeviceIds which only outputs devices with a valid pose and doesn't output any further information about what device maps to what ID.

Is there any way of either getting the device ID from a

[2021-01-18 23:40] 1runeberg commented on #177
Hi @Rectus - Can you clarify what you plan to use the DeviceIDs for? The input system is designed to abstract away from developers the need to query devices manually.

[2021-01-19 12:47] Rectus commented on #177
I'm trying use GetTrackedDevicePositionAndOrientation to check if the controller is turned on, tracked and has a valid pose.

As per https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/161 the IsTracked method in the motion controller component to check tracking status doesn't return anything useful. The method documentation is also very ambiguous on what it is supposed to return, so I'm

[2021-01-21 21:41] 1runeberg commented on #177
Gotcha. We could potentially expose this on our end but the proper way to get the tracked bit is via the engine provided way. In #161 it seems to be broken on the engine side so this needs to be raised with Epic directly.

If you're using C++, you can check out commented portions in the SteamVRTrackingRefComponent.cpp

[2021-01-22 13:47] Rectus commented on #177
Thanks for the help.

It's not an ideal solution, but I guess I could iterate through the controllers though OpenVR and match the controller role property with the motion controller component hand.

As a side note, the engine XR system doesn't seem to have any way of differentiating the motion controller being turned off and not having a correct tracked pose. It goes into the zero transform in bot

[2021-01-22 19:30] 1runeberg commented on #177
jitter? is the controller still moving in your scene when it's turned off? if it is, then that'll be a bug that needs actioning so I think this feedback is better communicated with Epic directly.

[2021-01-22 19:42] Rectus commented on #177
I have to double check that I haven't set things up wrong, but the controller component always spawns at the world origin and returns there when losing tracking. I'll be sure to send a bug report to Epic.

[2021-01-23 13:15] Rectus commented on #177
I checked it and the controller returns to the tracking space origin whenever it's not tracked.

Looking though the code, the problem seems to lie with `SteamVRInputDevice::GetControllerOrientationAndPosition` in the SteamVR plugin. It will always update the position and orientation as long as a `GetPoseActionData` returns without error, whereas the versions for the other runtimes have checks for

[2021-01-24 13:02] Rectus commented on #177
I tested the behavior with the OpenXR runtime, and there is seems to work correctly. The controller pose freezes to the last position when the tracking stops updating, and the tracking status can be read from the XR system.

[2021-01-25 18:53] JoachimHolseter opened #178 "4.25.4 Controller inputs not firing in packaged build"
I know there are multiple threads on this issue, and I have tried the solutions from those threads already.

Mainly, I tried the solutions from #163 without luck.

Every input action is working fine in the editor, but once the game has been packaged, the controller inputs no longer work.

One thing to note, the "Launch SteamVR bindings dashboard" button either does nothing when pressed or opens a

[2021-01-25 20:18] 1runeberg commented on #178
Hi @JoachimHolseter - can you check if the config/SteamVRBindings folder is included in the packaged build?

there's a known engine issue that broke this a while back as these files should have been part of the pak during packaging.

[2021-01-25 20:51] JoachimHolseter commented on #178
Hi there! Thanks for the quick reply! Yes, the folder is indeed there.

[2021-01-25 20:59] 1runeberg commented on #178
Thanks. Can you send me the logs then please from the build (Saved/Logs) ?

[2021-01-25 21:01] JoachimHolseter commented on #178
Yep!
[CaveRails.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/5869645/CaveRails.log)

[2021-01-25 22:04] 1runeberg commented on #178
Thanks for that. The plugin looks like it's loading the manifests fine and functioning properly. There's an issue however with one of your BP's with a divide by zero:

[2021.01.25-18.08.47:491][821]LogScript: Warning: Script Msg: Divide by zero detected: 0.000000 / 0

Might be stopping the app from running properly? Otherwise If you send us a SteamVR system report as well, I can validate the end t

[2021-01-25 23:10] 1runeberg commented on #177
HI @Rectus - for the specific behaviour you're wanting (motion controller pose to be retained in the last known valid tracking frame), I've traced in the SteamVRHMD and it seems the engine isn't calling:
ETrackingStatus FSteamVRHMD::GetControllerTrackingStatus(int32 DeviceId) const

The trackignframe does get updated from OpenVR with the correct tracking status, but the engine just doesn't seem to

[2021-01-25 23:55] Rectus commented on #177
I already filed the bug report, but I'll be sure to provide it if they ask for more info. Thanks!

[2021-01-26 00:07] JoachimHolseter commented on #178
A bit of speculation here; When I open the "Manage controller bindings" menu in the UE4 editor the application is called "UE4Editor" and when I'm playing the compiled game the application's name is "UE4Game". Does it know that these applications are the same?

[2021-01-26 00:22] 1runeberg commented on #163
afaik that's the name for a standalone preview not a proper build. the build should be reporting as the project name.

[2021-01-26 00:32] 1runeberg commented on #178
afaik that's the name for a standalone preview not a proper build. the build should be reporting as the project name.

They are and should be treated differently. The Editor version should also have the name of the project as well as a uniquue engine build number.

If you've tried a standalone run before, it may be picking up an old config. You can try deleting any config remnants in %APPDATA%/Loc

[2021-01-28 18:47] rproepp commented on #172
Ok, here's a somewhat minimal example: it works in the same way as the one from my original post, but the input mapping is a lot more complex. When you press the menu button on the right Vive wand, you should see three prints, indicating that three actions have been triggered (see the MotionControllerPawn Blueprint for the event and print nodes). But only two actions are configured on that button,

[2021-01-29 15:53] JoachimHolseter commented on #178
Hello again.
I just created a brand new project using the SteamVR Template in 4.25.4 and the issue persists!
Although, it just seems to be the triggers that are the issue!
The trackpad inputs work just fine in the packaged build. but I receive no input from the triggers.

In my actual project, I'm only using the triggers as input, so I didn't notice at the time that those were the only ones not wo

[2021-01-29 16:25] JoachimHolseter commented on #178
Using the OG Vive btw. I don't have any other headsets to try on.

[2021-01-29 16:40] JoachimHolseter commented on #178
Is there any way to delete all custom saved input profiles? Or even disable SteamVR Input in 4.25.4 altogether and use the old Input system?

[2021-01-29 19:52] 1runeberg commented on #178
Can you clarify which "SteamVR Template" you're referring to? Can you check the input mappings from the UE ui and see if the Vive trigger is properly mapped?

We have a sample project for 4.24 and above here:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlugin_UEIntegrated.7z

I also highly recommend having a look at our quickstart guide to get a better understand

[2021-01-29 19:55] 1runeberg commented on #178
The input profiles are stored as json files, not sure what you mean by custom, is it the personal bindings in the dashboard ui? If so, there should be a delete button right in the ui.

The legacy input system isn't supported in UE4.24 and above. And our legacy input system also doesn't support any newer controllers such as the Index.

[2021-01-29 21:58] JoachimHolseter commented on #178
When you first create a project and select "Virtual Reality" in there there is a map called MotionControllerMap.

I'm downloading the sample project now to see if it works there,
Thanks.

[2021-01-30 00:01] JoachimHolseter commented on #178
I managed to fix the problem by migrating all of my files to the sample project you provided!
Weird issue, but thanks for the help.

[2021-01-30 00:02] JoachimHolseter commented on #178
I managed to fix the problem by migrating all of my files to the sample project you provided!
Weird issue, but thanks for the help.

[2021-01-30 00:02] #178 closed, assigned to 1runeberg

[2021-01-30 00:27] 1runeberg commented on #178
fwiw the main difference with the standard template with regards to builds is the "Project Name" in UE's Project Settings. Which could be causing your issue in the other project.

All UE Games with no project name set may look alike to the SteamVR runtime. These can be reset/deleted from the following directory: %APPDATA%/Local/   You can delete the UE or ProjectName folder under here which holds

[2021-01-30 01:59] JoachimHolseter commented on #178
Good to know. Thanks, Rune!

[2021-02-04 02:10] RobH22 commented on #125
I'm now seeing this issue on all the VR files I  have. I'm getting this in 4.24.3 as well in 4.25 and 4.26. Anyone else having the issue?

[2021-02-04 02:51] 1runeberg commented on #125
That's an issue with the outdated VR template, not with the input plugin. You need to delete the chaperone component and all the nodes relating to it as that doesn't exist anymore in the newer versions of the engine.

This should be communicated directly with Epic, but we have already raised this before to them.

[2021-02-04 03:35] RobH22 commented on #125
I appreciate the feedback. Thank you.

I realize it's an Epic issue but this is the only place my searches turned up as threads discussing it. So, pardon my intrusion but thanks for the confirmation. :)

[2021-02-15 18:06] EMDO81 commented on #173
Hi Rune, I've been having the same issue in 4.26 with a setup including the Index (with two Knuckles) and 3 Vive trackers set to Left Foot, Right Foot, and Waist within SteamVR controller settings.  Points of note:

- Similar to OP, I can't create or edit bindings for the trackers consistently.  When I can, I don't have Special1 or other actions to set, I see "right pose" or "left pose" selections

[2021-02-16 03:00] 1runeberg opened #179 "4.26 with a setup including the Index (with two Knuckles) and 3 Vive trackers set to Left Foot, Right Foot, and Waist within SteamVR controller settings. Points of note:"
Hi Rune, I've been having the same issue in 4.26 with a setup including the Index (with two Knuckles) and 3 Vive trackers set to Left Foot, Right Foot, and Waist within SteamVR controller settings.  Points of note:

- Similar to OP, I can't create or edit bindings for the trackers consistently.  When I can, I don't have Special1 or other actions to set, I see "right pose" or "left pose" selections

[2021-02-16 03:05] 1runeberg commented on #179
Hi @EMDO81 - with 4.26, you need to use the new motion sources which correspond to the tracker roles that you've setup in SteamVR. The Specialx generic motion sources arent used anymore by the plugin.

Can you also try on a simple project (without the third party plugin)?

[2021-02-17 13:41] EMDO81 commented on #179
Yes, sorry, I came across the Specialx discontinuation shortly after (facepalm).

I created a simple project with a basic pawn, added motion controllers for knuckles and tracker (tracker_waist in UE4 to correspond to Waist setting in SteamVR).  I can see the knuckles but not the trackers in UE4, SteamVR is picking up all.

[2021-02-18 04:20] 1runeberg commented on #179
Can you send UE log file over to me as well as a SteamVR system Report so I can review?

![image](https://user-images.githubusercontent.com/17371351/108304786-e0ac0800-71fc-11eb-9792-c4c6d96ec2b9.png)

[2021-02-19 20:53] EMDO81 commented on #179
[MyProject.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/6012866/MyProject.log)
[SteamVR-2021-02-19-PM_12_47_39.txt](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/6012867/SteamVR-2021-02-19-PM_12_47_39.txt)

Sorry for the delay, I decided to reinstall everything again and start from scratch.

[2021-02-19 22:33] 1runeberg commented on #179
[TrackerTest.zip](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/6013308/TrackerTest.zip)

Thanks for that @EMDO81

The setup seems ok, though in your UE logs it seems the engine is not spawning the motioncontroller pawn, not sure if the pawn has things that are colliding with the environment. So you may not actually be possessing the correct pawn in-between editor sessions. You can

[2021-02-21 20:28] EMDO81 commented on #179
Thanks for the tip and pardon some of my novice-ness if it comes out as I'm about one month into UE4.

I set the Spawn parameter as suggested but no effect.  I can move and see the two knuckles controllers for which I'm assuming is confirmation that the correct pawn was spawned...?  For my project, it was a blank template and the pawn was the only thing created for testing the controller connectio

[2021-02-22 01:03] 1runeberg commented on #179
What was your result on the bare minimum sample project I sent using SteamVR beta? You shouldnt need to create any pose bindings in 4.26 though, they're auto generated for all possible tracker config unlike in 4.25.

One thing to try on the sample project is to delete the  Steamvr app manifest file in the config directory and the steamvrbindings folder and all files in it.

The project I sent you

[2021-02-22 03:39] EMDO81 commented on #179
Very much thanks, Rune.

I got the TrackerTest you sent me to work and I can see the pyramids associated with trackers bouncing around ( I won't get into why I couldn't get it to work on the initial try this morning - I'm embarrassed).  I understand now - the trackers were there but because I cheated in my blueprint by relying on "Display Device Model" rather than assigning a mesh manually, I coul

[2021-02-22 19:34] 1runeberg commented on #179
No prob @EMDO81 Glad you got it all sorted.

It's unfortunate that current limitation didn't make the release notes and it's certainly not your fault. This is one of the reasons why I sent a test project with a custom mesh attached to the motion controller component.

Good luck with your Virt prod adventures!

[2021-02-22 19:34] #179 closed, assigned to 1runeberg

[2021-03-02 20:35] BreakMaker opened #180 "SteamVR Nodes keep disappearing from Anim graph of Anim BP"
Hi Rune,

Hope you are doing fine.
Recently I ran into an issue where the SteamVR nodes, particularly the 'SteamVR Set Wrist Transform' and the 'SteamVR Skeletal Anim Pose' nodes disappear from the Anim BP every time I close / reopen the project. As a result, of course, the AnimBP breaks and the hand does not animate. I can recreate the nodes in the AnimBP, and if I test it immediately without clo

[2021-03-02 22:50] 1runeberg commented on #180
Hi @BreakMaker - which version of the engine is this?

[2021-03-02 23:02] BreakMaker commented on #180
Forgot to mention. 4.25.

[2021-03-03 22:55] 1runeberg commented on #180
Thanks @BreakMaker - tested in the latest UE 4.25.4 with this project:
https://raw.githubusercontent.com/wiki/ValveSoftware/steamvr_unreal_plugin/sample/SteamVRInputPlugin_UEIntegrated.7z

I'm unable to repro however. Was the project upgraded from a lower version and perhaps used the marketplace version of the plugin at some point? I do recall issues with upgraded projects from the marketplace plu

[2021-03-03 23:38] BreakMaker commented on #180
Thank you. I checked it, and the function library is where it is supposed to.
![image](https://user-images.githubusercontent.com/30862875/109886843-fdc2eb00-7c80-11eb-930e-47584f14d71d.png)

I think I started using the plugin at 4.25 but I will double check my change log first thing in the morning.

Also, I do have an earlier version of my project, which is not affected by this problem, and that v

[2021-03-04 02:04] 1runeberg commented on #180
if there were renames involved in your refactor, that might be another thing so cleaning up redirectors if you havent already might help.

you can try recreating the anim bps (copy paste nodes to a new anim bp) and see if that helps.

[2021-03-04 08:26] BreakMaker commented on #180
Hi, Thanks!
yes, the redirectors were already fixed (in the past I had learned my lesson the hard way to fix up redirectors everytime, I rename or move something: -) )

Following on the other lead, I managed to keep the node from disappearing when I added the node to a brand new anim BP!!!

 I will now try and recreate the entire animation blueprint and establish the needed communication from othe

[2021-03-04 09:39] BreakMaker commented on #180
Hi Rune,
interesting new insights:

So I recreated the AnimBP by just copypasting everything from the  old anim BP. After that I restarted the project and the SteamVR nodes were there. So everything was fine until this point.

Then I went on to replace the references to this asset in the one and only asset that referenced this anim BP, which is an actor component BP. In this actor component, there

[2021-03-04 10:19] BreakMaker commented on #180
Addition:

Alongside the casting above, I also found a second cause: When the class reference is hardcoded like this:

![image](https://user-images.githubusercontent.com/30862875/109948508-b10bfe00-7cda-11eb-8b40-b91ba747297d.png)

Essentially: I set the anim instance class of the skeletal mesh hand using a class selector based on whether or not the user declares to use the valve index (since I co

[2021-03-04 10:32] BreakMaker commented on #180
This is what I got in the message log after restarting

![image](https://user-images.githubusercontent.com/30862875/109950782-3d1f2500-7cdd-11eb-9ad5-e7ab0dca5806.png)

[2021-03-04 16:57] Rectus commented on #169
I tried making a thread on the UE4 forums about this, but not sure if anyone from Epic read it.

It would be nice to have this working in UE4 since it seems like a good fit for the level of abstraction used the XR system, especially if it can be made to support an arbitrary number of inputs instead of just the left and right hand. Considering the input system in OpenXR is so similar to SteamVR Inp

[2021-03-05 01:54] 1runeberg commented on #180
Did you mean cast a anim instance var to the new "anim instance" (the class not the BP)? that should be right, not sure why it would break your BP by simply referring to it. I did try though just to be sure in a clean sample project to double check and am unable to repro.

its sounding really like something's gone wrong with your project during an upgrade or perhaps moving BPs from one project to

[2021-03-05 02:32] 1runeberg commented on #169
Hi @Rectus - sorry, i lost track of this ticket. But we do already have nodes for this in the SteamVR Function Library that comes with the marketplace plugin (and with the engine from 4.24 and above). Such as:

![image](https://user-images.githubusercontent.com/17371351/110057959-9e1a2c00-7db5-11eb-92ff-4569d2ee61f4.png)

You can use the node right after the action is called (event) and you should

[2021-03-05 04:05] 1runeberg commented on #169
There is an OpenXR call for this `xrGetInputSourceLocalizedName`, the Epic plugin isn't production ready yet so there's a bunch of BP nodes that are still missing. Have passed your feedback on and it looks like this is in their radar :)

[2021-03-05 08:51] Rectus commented on #169
Thanks!

I think the ideal solution would be something that's more device agnostic though, like passing the Motion Source name or a EControllerHand Enum. Something that lets you do a select statement for devices, or on the motion controller side check if _this_ component is the one that sent the input.

There is also still the issue of overlapping inputs being blocked. I've looked at the code for

[2021-03-05 17:09] BreakMaker commented on #180
I managed to find a solution to both of my problems. For good measure (for anyone else finding themselves in the same situation) here is what I found out:

This is how the cast was  implemented, I did not store the anim instance in a variable, I used the out object of "Get anim instance" cast it to the Anim BP. For the top part (where the anim BP is just a generic one without SteamVR nodes), all w

[2021-03-05 18:55] 1runeberg commented on #180
Thanks for the feedback. I mentioned an issue with the project itself as it's not cleanly reproducible in my understanding of the steps you've taken and tests of those steps in a clean project. Casting on a different BP and have that affect another BP shouldn't happen.

The anim nodes are native to the engine in 4.25, so them disappearing on Editor restart is terribly unusual. It would seem the pl

[2021-03-06 18:40] rproepp opened #181 "Using the plugin in a multiplatform project"
Hi, I'm trying to port my project which uses SteamVR input to more platforms that don't support SteamVR (Mac for now). Mostly this seems to work, but I have issues with a few functions I'm calling in my Blueprints, such as PlaySteamVR_HapticFeedback. These don't exist on unsupported platforms, breaking the Blueprint compile.
What is the best practice to deal with these Blueprint nodes? As far as I

[2021-03-08 22:11] 1runeberg commented on #181
Hi @rproepp - unfortunately we can't provide any support for OS platforms we haven't whitelisted in the plugin at this time.

Sorry we can't help on this further.

[2021-03-08 22:11] #181 closed, assigned to 1runeberg

[2021-03-22 11:51] iMaciaP opened #182 "[4.25] Controller material "M_DefaultDevice" loses textures in packaged game"
In editor is working fine, i can edit this material and see the changes working.

![image](https://user-images.githubusercontent.com/47883521/111984538-c622c280-8b0b-11eb-86be-477fc6e457bb.png)

But,
I'm working with this motion controller config, and i see a grid material when game is packaged.

[2021-03-22 19:13] 1runeberg commented on #182
I believe this was a known engine issue that was fixed in 4.23. I'm unsure if there was a regression.

That material and its packaging is general to the engine XR architecture, so I suggest bringing this up directly to Epic Games:
https://answers.unrealengine.com/

[2021-03-22 19:13] #182 closed, assigned to 1runeberg

[2021-03-24 16:58] Rectus opened #183 "[Question] Game pose updating"
I noticed that when the SteamVR plugin calls VRCompositor->GetLastPoses() in SteamVRHMD.cpp:730 to retrieve the poses used for the game thread, it uses the first two parameters in the function instead of the last two.

According to the API header, the last two parameters retrieve poses with further prediction applied to them, meant for game simulation of the next frame. Shouldn't it use those inst

[2021-03-24 20:14] 1runeberg commented on #183
That looks right since UE blocks on WaitGetPoses() in the render thread, so they should use the renderPoses retrieved from this call instead of the gamePoses (second set of params) which is predicted further out.

[2021-03-24 20:53] Rectus commented on #183
Thanks for clearing that up. The documentation for GetLastPoses() is a bit ambiguous on what it's supposed to do. From the description, I was under the impression that it would return a set of cached poses from the previous call to WaitGetPoses().

[2021-03-24 20:53] #183 closed, assigned to 1runeberg

[2021-04-27 03:27] spencerparkin opened #184 "Callstack corruption in FSteamVRInputDevice::ProcessActionEvents(...)"
Hi.  I'm getting the following crash...

`Unhandled exception at 0x06E6556A in Driver-Win32-DebugGame.exe: Stack cookie instrumentation code detected a stack-based buffer overrun.`

...with the following callstack...

`Driver-Win32-DebugGame.exe!__report_gsfailure(...) Line 220	C
Driver-Win32-DebugGame.exe!FSteamVRInputDevice::ProcessActionEvents(FSteamVRInputActionSet SteamVRInputActionSet) Line

[2021-04-27 05:08] 1runeberg commented on #184
Hi @spencerparkin - can you send over the crashdump so i can investigate?

thanks,
Rune

[2021-04-27 07:45] wayne-wwwTW opened #185 "4.22 UE4 ,Valve Index make my game error."
Before pakage,I test in project , is work.
![](https://user-images.githubusercontent.com/77315720/116204266-2e01a400-a76f-11eb-9e6c-277f83c78e75.png)
After Pakage, error.
![](https://user-images.githubusercontent.com/77315720/116203991-debb7380-a76e-11eb-80e4-923ed1fa6e61.png)

I use 4.22 ,and have same problem like him.
Link answers is work, But my game VR hands will not be work.
That is not I wa

[2021-04-27 07:46] wayne-wwwTW commented on #185
answers.unrealengine.com/questions/940461/view.html

Link is here!

[2021-04-27 20:01] 1runeberg commented on #185
Hi Wayne - can you package a Debug build:

![image](https://user-images.githubusercontent.com/17371351/116305109-6f3d9680-a7f7-11eb-8967-ebf482ef5de6.png)

Run to reproduce the issue and send us over the resulting logs:

![image](https://user-images.githubusercontent.com/17371351/116305388-d22f2d80-a7f7-11eb-87bd-05bdab6c1e2a.png)

[2021-04-28 04:10] wayne-wwwTW commented on #185
Thanks for your reply!!

I couldn't find  **Package Project / Build Configuration / Debug**
![未命名](https://user-images.githubusercontent.com/77315720/116338963-33163000-a80f-11eb-872b-4af86b3c4de4.png)

So, I Package **Development** and run the game, I'm not sure if this is enough for you to find the problem. I still Looking for how to package **Debug**.
![Logs 2021_4_28 上午 10_43_38](https://user-

[2021-04-29 07:40] wayne-wwwTW commented on #185
Hi Rune berg - I have new progress.
I download the Sample Project , and package it, is working .

And I use my Project to package the Simple project Level 【UEHands_SampleMap】.
Is doesn't work in game.
In Simple Level (Simple Project Level) ,It didn't crash game ,Just only can't control VR hands (Valve index).
In my own project level , it always crash game, and didn't show anything about error.

An

[2021-05-03 03:43] wayne-wwwTW commented on #185
I package Debug build , and Hey! is work!
And I back to build Development and shipping, is always error and destroy my game.

Debug Build - Work.
[Work_0807.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/6412767/Work_0807.log)

Development Build - Not work.
[Work_0807.log](https://github.com/ValveSoftware/steamvr_unreal_plugin/files/6412771/Work_0807.log)

I will keep trying.

[2021-05-03 18:46] 1runeberg commented on #185
Hi @wayne-wwwTW. We need to generate the logs to see why the crash is happening. Include the debug files in your development build like so:

![image](https://user-images.githubusercontent.com/17371351/116918545-2593f680-aca4-11eb-9fcd-45d81edd954d.png)

Send us a copy of your packaged build AFTER running once and crashing in your system. Make sure to zip all directories.

Thanks,
Rune

[2021-05-04 03:59] spencerparkin commented on #184
I'm sorry, no crash dump is ever generated.  It just hangs.

[2021-05-04 05:07] wayne-wwwTW commented on #185
Hi
I follow your steps ,click 【Include Debug Files】, build Development.
And I run it once , make sure is still error and broke game.
Hope this is what you need.
 WindowsNoEditor.zip
<https://drive.google.com/file/d/1_UQYLalvZZ6Lbx2CNDu_YkUBHWZ97oH4/view?usp=drive_web>

Rune Berg ***@***.***> 於 2021年5月4日 週二 上午2:47寫道：

[2021-05-04 17:40] 1runeberg commented on #185
Hi @wayne-wwwTW - I cant seem to access that link, if you don't want to send a test build publicly, you can send a link to:
runeb@valvesoftware.com instead.

Cheers,
Rune

[2021-05-04 19:11] #112 closed, assigned to 1runeberg

[2021-05-04 19:12] #117 closed, assigned to 1runeberg

[2021-05-04 19:15] #133 closed, assigned to 1runeberg

[2021-05-05 04:03] wayne-wwwTW commented on #185
Oops!
Sorry, I forgot to set it public.
Try it again.
<https://drive.google.com/file/d/1_UQYLalvZZ6Lbx2CNDu_YkUBHWZ97oH4/view?usp=drive_web>

[2021-05-05 19:06] 1runeberg commented on #185
Hi @wayne-wwwTW -

Thanks for that - can you try removing on your project any haptic feedback for the controllers and let me know how that works for you in a packaged development build?

Also, is your project C++ or Blueprint only?

Thanks,
Rune

[2021-05-05 23:28] wayne-wwwTW commented on #185
Hi Rune Berg

I have to out of business these four days, and I will not develop projects
for the time being.

 Thank you for your positive response. I will come back soon and try again.

I’m not sure if I using Blueprint only?
I have some plug-in in project ,need create C++ class to rebuild it.

Thanks!

Rune Berg ***@***.***>於 2021年5月6日 週四，03:06寫道：

[2021-05-06 01:18] 1runeberg commented on #185
If you're building the plugin and not just using a pre-built binary, then your project is likely in C++. It seems your project uses invalid values for haptic feedback, so would be good to test on your end. I thought I made sure you cant feed the BP nodes and plugin functions invalid values but I could be mistaken or the offending values are coming from some project C++ code overriding the checks.

[2021-05-09 15:24] viridiancity commented on #180
@1runeberg @BreakMaker
Just dropping a note here that I've fixed a very similar issue with nodes and references for a specific plugin disappearing on engine restart in 4.26 by changing the "LoadingPhase" field for the related plugin's Editor Module from Default to PreDefault, in that plugin's .uplugin file.

In my case the plugin had to do with IK nodes in an AnimBP. I checked the issues list here

[2021-05-09 15:29] viridiancity commented on #180
Referencing what looks like a duplicate issue here. Again in my case the issue occurs in projects made with 4.26 and with the Built-In SteamVR + SteamVR Input plugins enabled.
https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/138

[2021-05-10 04:58] wayne-wwwTW commented on #185
Hi @1runeberg -

I removed the haptic feedback, and the game no longer crashes.
But the strange is that I can't track the position of my hand(No tracking), but I can use the Valve index button _(I use Left Thumbstick)_ to move my character(is work).

Also, everything is fine in Debug build.
Only Development and shipping build have this problem.

Here is Development build.
https://drive.google.com/

[2021-05-10 17:12] Monster1234 opened #186 "Any input that is not registered on dashboard not firing in UE4"
Any input that is not registered on dashboard are not firing in UE4. This prevents the ability to use Any Key input action. I guess this is done for OpenXR specifications you mentioned in other issues. Is there a way to get the state of any button without registering it on dashboard?

My usecase: I need to gather every input to animate fingers according to the state of the buttons. Currently, I ha

[2021-05-10 18:57] 1runeberg commented on #186
Hi @Monster1234 - By "dashboard" do you mean the Unreal Editor Input UI? Yes, you need to explicitly define every input binding.

You can have an "any" action defined but you must define which buttons and state (touch/press) triggers this action. there is no catch all key.

[2021-05-10 19:05] Monster1234 commented on #186
Hi @1runeberg, I meant SteamVR Bindings Dashboard. Btw, I can use "Any Key" action in BP to catch every button state on Oculus. But it doesn't work on SteamVR.

[2021-05-10 19:55] 1runeberg commented on #186
@Monster1234 - I suggest using Unreal's built-in Input UI if you're using UE4.24 and above. The "Any Key" is an engine convention afaik and not a vr platform-dependent one. We don't support it natively in SteamVR Input and the upcoming OpenXR standard unless Epic adds it in the engine input.

[2021-05-13 22:40] 1runeberg commented on #186
Thanks for the feedback, closing this now however as we're focusing on OpenXR and will not be releasing any major changes to the plugin.

This is however feedback that you bring up directly with Epic for potential inclusion in their OpenXR implementation.

[2021-05-13 22:40] #186 closed, assigned to 1runeberg

[2021-05-13 22:42] 1runeberg commented on #118
Closing this now as we don't have any direct influence on the VR Editor, but we do suggest UE Developers to follow it up directly with Epic.

[2021-05-13 22:42] #118 closed, assigned to 1runeberg

[2021-05-18 17:37] 1runeberg opened #187 "No tracking in Development build"
Hi @1runeberg -

I removed the haptic feedback, and the game no longer crashes.
But the strange is that I can't track the position of my hand(No tracking), but I can use the Valve index button _(I use Left Thumbstick)_ to move my character(is work).

Also, everything is fine in Debug build.
Only Development and shipping build have this problem.

Here is Development build.
https://drive.google.com/

[2021-05-18 17:37] 1runeberg commented on #185
Closing and creating new github issue for the missing tracking as they are completely different issues

[2021-05-18 17:37] #185 closed, assigned to 1runeberg

[2021-05-18 17:46] 1runeberg commented on #187
Hi @wayne-wwwTW - Inputs look good and tracking appear to be working, at least from what I can see in the SteamVR side.

You should check in your project:

(1) Make sure the Pawn or Character you are spawning in your "Default Game Level" is the correct VR Pawn/Character. In your build, it is loading up this level: Level_02_VR_Error which is different from the first build you sent.
(2) Make sure th

[2021-05-18 18:05] 1runeberg commented on #184
@spencerparkin  - sorry I missed your reply. I thought the game was crashing ? Can you let me know how you got the callstack and perhaps post the full one here?

[2021-05-18 18:08] 1runeberg commented on #180
Hi @viridiancity - the loading phase is intentional for this plugin. Any other plugins that need to consume this plugin or use it needs to load later. We can't load the plugin earlier due to engine xr architecture considerations.

[2021-05-18 18:08] #180 closed, assigned to 1runeberg

[2021-05-18 18:08] 1runeberg commented on #138
Hi @simongloor- the loading phase is intentional for this plugin. Any other plugins that need to consume this plugin or use it needs to load later. We can't load the plugin earlier due to engine xr achitecture considerations.

[2021-05-18 18:08] #138 closed, assigned to 1runeberg

[2021-05-18 18:09] 1runeberg commented on #177
Closing now as this would be an Epic decision/pre-rogative

[2021-05-18 18:09] #177 closed, assigned to 1runeberg

[2021-05-27 04:05] 1runeberg commented on #187
Hi @wayne-wwwTW - how did you go with this?

[2021-05-27 04:06] 1runeberg commented on #184
@spencerparkin - hi just checking if you've had a chance to grab the callstack ? Otherwise, can you provide a minimum repro project for me to look at? Thanks

[2021-05-27 06:53] wayne-wwwTW commented on #187
Hi Rune Berg - Sorry I'm forgot to reply you.

Thank you for your assistance this time, because of COVID-19, I cannot go
back to the studio for testing for the time being.
If I have new progress, I will reply to you as soon as possible!

Thank you

Rune Berg ***@***.***> 於 2021年5月27日 週四 下午12:05寫道：

[2021-05-27 20:02] Rectus opened #188 "Support for projected camera passthrough"
It would be nice to have access to the HMD passthough camera views, and be able to project them on the players view. UE4 already has AR systems that could be used for this. Alternatively, having support in SteamVR for overlaying the the game output onto the existing compositor passthough would be even better, like with the OpenXR XR_ENVIRONMENT_BLEND_MODE_ALPHA_BLEND mode.

I've been trying to imp

[2021-05-28 07:34] 1runeberg commented on #188
Thanks for the feedback! We've noted this request. Please note however that our focus is on OpenXR implementations of current extensions and won't be making any significant changes to the SteamVR plugin moving forward.

[2021-06-11 18:42] 1runeberg commented on #119
Thanks for the feedback.Will keep this in mind as we work on the OpenXR support. Cheers.

[2021-06-11 18:42] #119 closed, assigned to 1runeberg

[2021-06-11 18:43] 1runeberg commented on #120
@tedconry @BreakMaker  - let me know if you folks still have issues with this

[2021-06-11 18:44] 1runeberg commented on #122
@Ma8ter  - have you had a chance to check the standard template?

[2021-06-11 18:45] 1runeberg commented on #167
Closing, stale issue.

[2021-06-11 18:45] #167 closed, assigned to 1runeberg

[2021-06-11 18:49] 1runeberg commented on #184
closing, stale issue

[2021-06-11 18:49] #184 closed, assigned to 1runeberg

[2021-06-11 18:50] 1runeberg commented on #187
ok take care, will keep this issue open then for ya.

[2021-06-11 18:51] 1runeberg commented on #159
closing, stale issue

[2021-06-11 18:51] #159 closed, assigned to 1runeberg

[2021-06-22 01:25] #122 closed, assigned to 1runeberg

[2021-07-01 22:15] emretanirgan commented on #172
Hey @rproepp, I know this was a while ago but did you ever find a solution to this? We have a relatively complex input mapping in our app, and we're running into the exact same issue. We have the same key bound to multiple actions in some instances, or multiple keys bound to the same action, and we're running into issues where one key triggers an action for a completely different key. So we might

[2021-07-02 14:46] WaGi-Coding opened #189 "UE 4.26 | MoveLeft_X also fires MoveRight_X Event"
Hello, i've downloaded the testlevel content for from thge SteamVR integrated link.

Now i tried to do simple movement & snap turn. I wanted to use the left Valve Index Thumbstick for movement & the right Thumbsticks X axis for snap turn.

The problem is that the MoveLeft_X (left thumbsticks X axis event) also raises the MoveRight_X event. So when i want to move right/left, it will also snap turn,

[2021-07-02 21:13] 1runeberg commented on #189
Hi @WaGi-Coding - For thumbsticks, they need to be converted to Vector2 actions. As UE doesn't have native support for Vector2 in the input ui we auto-convert thumbstick X&Y axis mappings to a "joystick"/vector input using the following rules:

https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/107#issuecomment-570951816

You should see a demo of this in the test project:
![image](https

[2021-07-02 21:29] 1runeberg commented on #189
An important thing to note is that your players can  rebind input, so you need to account for this in your code.

Something like this should work (similar concept for Movement Input):
![image](https://user-images.githubusercontent.com/17371351/124330283-2cc27c80-dbe1-11eb-9743-8ecb234e4613.png)

[2021-07-03 02:42] WaGi-Coding commented on #189
Hi, thanks, but thats exactly what i already did. However, it turned out the "Cosmos" Bindings were causing it.

Only the Left Cosmos thumbstick was used for MoveLeft_X and MoveRight_X. However, i can't replace it with the correct cosmos side, as i can't find any cosmos binding at all. So i had to entirely remove cosmos bindings.

So i just removed Cosmos Bindings and it now works as expected with

[2021-07-03 06:16] 1runeberg commented on #189
InputAxis always triggers per frame but with 0 axis values,  so the sample I sent uses a key mapping instead of relying on axis mappings and a manual treshold.

But glad you got you're project working, so all's well I guess :)

[2021-07-03 06:16] #189 closed, assigned to 1runeberg

[2021-07-03 20:16] rproepp commented on #172
I haven't found a proper solution: for my particular mapping, the button combinations where this happens can be safely worked around, so I didn't look further into the underlying problem.

[2021-07-04 03:53] 1runeberg commented on #172
Hi @emretanirgan - have you seen this response in this thread:

https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/172#issuecomment-744168861

I had another look at your test project however, and yeah, the reason is as stated here is that since Action Sets isnt feasible in UE at the moment and since there's no way in UE's core input to trigger an action without a specific input key, san

[2021-07-05 19:37] emretanirgan commented on #172
Thanks for the in-depth explanation @1runeberg! This is very helpful, and I'll go with the workarounds you've suggested until action sets are hopefully implemented within the engine.

[2021-07-05 20:17] 1runeberg commented on #187
Hi @wayne-wwwTW - hope everything's better there now - any updates on this?

Cheers,
Rune

[2021-07-12 19:04] 1runeberg commented on #173
@EMDO81 - sorry I think this got mixed in with another issue - with 4.26, you should see specific motion sources for the trackers (Not the Specialx) and they should already be bound to the correct poses in SteamVR (you still need to bind the tracker to the role in SteamVR though as well). One thing to note is to see the trackers you need to attach a mesh as the visualization mesh doesn't appear in

[2021-07-12 19:06] #120 closed, assigned to 1runeberg

[2021-07-13 19:34] EMDO81 commented on #173
Thanks, Rune.  I believe we resolved this and the other issue concurrently at the time.  Everything is working as it should - thanks for putting me on track on this

[2021-07-14 02:47] 1runeberg commented on #173
Nice! Really glad to hear that!

[2021-07-14 02:47] #173 closed, assigned to 1runeberg

[2021-08-04 14:18] Gnimmel1979 opened #190 "Oculus Quest has a delay on the grip buttons"
I'm developing a VR game with Unreal 4.26 using a Valve Index on my development machine and everything works great.

However, if I create a build and test it on a Oculus Quest with a Link cable, their seems to be a delay in the grip buttons which I use for picking up and throwing objects.

I have 2 events set up on them, one as a button for actually picking something up and another as the axis so

[2021-08-05 17:31] 1runeberg commented on #190
Hi @Gnimmel1979 - I just tried to repro with the VR Template in 4.26.2 which has Action Mappings for grabbing and axis mappings for the hand animation. I'm unable to see any delays with both SteamVR 1.18.7 and SteamVR Beta.

Are you seeing the delays on the UE VR Template as well on your end? One thing to check is if you've set any custom thresholds on the SteamVR Binding interface (although the p

[2021-08-06 15:28] Gnimmel1979 commented on #190
Hello @1runeberg, thanks for taking a look at this.

I just tried a brand new project with the VR template and my Oculus Quest 2 directly connected through the official link cable and got the same results, so I know it's not only my project.

This time I made a screen recording so you can see exactly what I'm getting. This is from inside UE4.26.2 using VR preview, but I get the same lag if I make

[2021-08-06 21:55] 1runeberg commented on #190
can you print out the axis values of the grip and trigger and check how the response is?

[2021-08-07 20:08] Gnimmel1979 commented on #190
I just did this in my game (I'm not too familiar with blue prints to add to the VR template) and it's surprising how slow the values are.

This is on an oculus quest 2 with link cable, pressing in the grip button fully each time, I'm not slowly pressing it in like the values suggest.

If I run this on my Index with either a Vive wand or the Knuckles controllers, the value is not slow at all and wo

[2021-08-09 18:00] 1runeberg commented on #190
You can get axis values from the standard template by adding this in the input mapping:
![image](https://user-images.githubusercontent.com/17371351/128751516-73c76f81-eaa2-40fe-be75-4203658e9db9.png)

and in BP_MotionController the following nodes:
![image](https://user-images.githubusercontent.com/17371351/128751579-fad6c4d7-c8ca-4576-83e0-98c3e4caaf77.png)

I've tested on my end and you can see

[2021-08-12 14:20] Gnimmel1979 commented on #190
I'm sorry for the late replay, I didn't get a notification about your last reply.

I just tried printing out the Axis value in the BP template and for some reason I couldn't get anything to print even after add it to the input axis and blue print as you described.

![GrabAxis](https://user-images.githubusercontent.com/56843270/129211955-febeceac-122e-497e-ab84-667adb06091f.JPG)

I did do a little

[2021-08-12 20:26] 1runeberg commented on #190
You can try regenerating the bindings for the test template:
![image](https://user-images.githubusercontent.com/17371351/129264535-8b9aeedd-c9b4-49a1-ad9d-22c4cdd45356.png)

The fact that your axis is not registering to 1.0 immediately seem indicative there's something else wrong somewhere. I cant reproduce this error on my end in two  different machines with two different quests, so im not sure i

[2021-08-12 20:49] Gnimmel1979 commented on #190
Thanks for taking another look.

Good to know it might only be my end, although I've tested this on 2 different computers here, both with the same results.

Saying that, it was the same Oculus Quest 2 on both computers. I will have to find someone with another quest to test my build on and see if it's my Quest.

I did recently fire up Half Life Alex and Saints and Sinners on the Quest 2 and didn't

[2021-10-15 18:57] Rectus commented on #188
Managed to implement it myself.
https://github.com/Rectus/UE4SteamVRPassthrough

[2021-10-15 18:57] #188 closed, assigned to 1runeberg

[2021-10-29 11:34] andlxsen opened #191 "How can I add a new action mapping item whick likes demo ValveIndex_Left_Trackpad_Click in UE427"
How can I add a new action mapping item whick likes demo ValveIndex_Left_Trackpad_Click in UE427.
when I add new action drop down list don't have the item likes steam vr valve index(L) trackpad click.

[2021-11-01 11:15] andlxsen commented on #191
ValveIndex_Left_Trackpad_Click which is In the demo project action mapping action can be executed.How can I add custom event and binding corresponding valve index button? Please sir

[2021-11-01 20:04] 1runeberg commented on #191
Hi @andlxsen - Sorry somehow missed this last week.

In 4.27, you can use "Valve Index Thumbstick Up/Down/Left/Right" (SteamVR) or "Valve Index Thumbstick X/Y" (OpenXR) as an "Action Binding" to get dpad behavior:

![image](https://user-images.githubusercontent.com/17371351/139734316-da8e48d3-cecf-4272-8c51-ac5c63f811cd.png)

[2021-11-02 03:55] andlxsen commented on #191
![1635825130](https://user-images.githubusercontent.com/7390637/139784485-c2b7004b-1e5c-4514-a206-9f34265b3f51.png)

[2021-11-03 01:32] andlxsen commented on #191
It should be solved.Thanks a lot!

[2021-11-03 05:27] 1runeberg commented on #191
Great! Glad you got it sorted. Cheers!

[2021-11-03 05:27] #191 closed, assigned to 1runeberg

[2022-01-10 19:29] 1runeberg commented on #190
Hi - Just double checking if you've managed to test a vanilla UE in a different machine? I'd also test by disabling other plugins that might be using steamvrinput if you have any.

[2022-01-23 23:43] thejturner opened #192 "Grip input not working suddenly. Seems to be an issue with "Mismatched Action Manifest" [UE 4.25]"
I'm stumped.  I'm having strange input issues that seem related to SteamVR input. All of the inputs work except the Grip input (assigned to the Vive MC triggers). However I'm getting different results from different builds and configurations:

Editor -  Everything works as expected
Development - Grip doesn't work.
Shipping - Grip works as longs as I DON'T include the "steam_appid" file in "PROJECT

[2022-01-23 23:52] thejturner commented on #192
So if I change the "Grip" naming convention back to "Grab" then it works again. This is good but I have no idea why and would like to know how to make changes like that to the input naming convention. If I could only determine where these input names are being referenced...it seems to be completely ignoring the SteamVRBindings folder in the built project.

[2022-01-26 11:20] hhorstm commented on #180
Sadly, this issue popped up in our project over the past weeks and we are not able to track down the source of the problem. We're on 4.27.2 and none of the files related our index controller hand tracking have changed. I tried the workaround from  @BreakMaker of asynchronously loading the classes, but without success. The nodes still go missing when restarting the editor.
Changing the loading phas

[2022-01-26 21:14] 1runeberg commented on #192
It looks like the bindings are being loaded from two different paths. Try in  your ...\AppData\Local (%APPDATA%../local) directory check for the name of your project and delete the  Saved directory there as the engine uses that cache configs. For editor runs, you can try removing the ../../../EB_APT/Config/steamvr_ue_editor_app.json file.

[2022-01-31 16:45] thejturner commented on #192
Thanks @1runeberg.

So when I look inside this "Saved/Config" folder I don't see any reference to a "SteamVRBindings" folder. Is that expected? Just wondering where this "other" binding data is being cached/referenced?

Either way I'll be testing your recommendation of deleting the folder for future updates.

[2022-01-31 19:39] 1runeberg commented on #192
For local builds you need to manually copy the binding files or use the "Additional Non-Asset Directories to Package" in Project Settings. You only need the SteamVRBindings folder, the steamvr_ue_editor_app.json is only used by the editor.

 ...\AppData\Local\{ProjectName} (%APPDATA%../local) directory is where UE caches its config so its likely getting it fromt here.

[2022-04-11 14:09] weisserHase commented on #171
Hello Everybody,

i try it in UE4.27, in the Editor it runs allright, but in the packaged Game the controllers are not even recognized.
(means the VR Hands are lying dead on the ground and no controller input do any change.
Only open steamVR Menue with the "Start" Button works.
I only use the standart template so no changes by myself.

If any body can help or has any other resources, how I bring "

[2022-05-02 00:19] psykoloGG opened #193 "SteamVR animation blueprint node disappearing when assigned trough c++"
Version 5.0
No marketplace Plugin has been installed,
Fresh installation of UE5 from epic launcher.

These nodes in particular:
![image](https://user-images.githubusercontent.com/64527965/166170506-a1dab6b8-2cc2-4902-a8e1-d6a6f6e4992c.png)

When being accessed by FObjectFinder, the nodes disappear (On editor relaunch).
![image](https://user-images.githubusercontent.com/64527965/166170584-fa349cfe-

[2022-05-02 00:22] psykoloGG commented on #193
Also tried moving to a fresh anim_BP but no luck :(

[2022-05-24 19:52] shh1v opened #194 "Unable to rebuild project after extracting plugin files in PATH/TO/PROJECT/Plugins"
I am working on [Carla 0.9.13 build](https://carla.readthedocs.io/en/0.9.13/#building-carla). I have [Unreal Engine 4.26 (Carla)](https://github.com/carlaunreal/unrealengine) installed and running.

When I extract the [steamvr_unreal_plugin-master](https://github.com/ValveSoftware/steamvr_unreal_plugin) and place the SteamVRInput folder into PATH/TO/PROJECT/Plugins/, right-click on the *.uporject

[2022-05-24 22:35] 1runeberg commented on #194
UE 4.26 already has this plugin built-in to the engine, so you don't need to build or add it separately. It's part of the official SteamVR engine plugin.

[2022-05-24 23:35] shh1v commented on #194
Oh, I See. I don't know what made me led to think that I need to install the plugin. Thank you :)

[2022-05-27 20:01] 1runeberg commented on #194
No prob 👍

[2022-05-27 20:01] #194 closed, assigned to nobody

[2022-09-11 15:55] OKgamedev opened #195 "Errors when rebuilding plugin to 4.26"
![steamVRinputError](https://user-images.githubusercontent.com/83257600/189537056-7ac45258-67d5-4bcc-a2ac-a3e1c5d9b5f5.png)

Whenever I try to rebuild the plugin to 4.26, I get these errors. Any way to fix it?

[2022-09-13 21:34] 1runeberg commented on #195
Hi @OKgamedev - for UE4.26, the plugin is already built-in to the engine. If you want/need to create any modifications, you need to make a custom engine build instead.

[2022-09-13 21:41] OKgamedev commented on #195
I'm not sure I understand what you mean?

[2022-09-14 00:41] 1runeberg commented on #195
You don’t need to add this plug-in to your projects if you are using UE 4.26. The engine itself already includes this plug-in.

[2022-09-21 02:35] 1runeberg commented on #195
Closing this one for now, but feel free to open an issue if you have any issues on using the plugin in UE4.26 (Enable Project Settings > Plugins > VR (category) > SteamVR

You can also try our sample project:
https://github.com/ValveSoftware/steamvr_unreal_plugin/wiki/sample/SteamVRInputPlugin_UEIntegrated.7z

[2022-09-21 02:35] #195 closed, assigned to nobody

[2022-09-21 02:43] 1runeberg commented on #193
Do you need to hardcode BP custom assets in your C++ code? This is probably safer to do within BP :)

I've taken a note of this however but please note the SteamVR plugin is deprecated in UE5 so Im not sure if I can get any changes up. Our focus as well is for OpenXR, so if possible I highly suggest using OpenXR and the Handdtracking plugin for your project instead.

[2022-11-01 07:39] aadeshrao123 commented on #113
<h2>I get this error when I try to play my unreal packaged build with my oculus in SteamVR</h2>
<h3>How can I fix this I am using unreal engine 5 I get this error when I try to play with steam VR</h3>

![com oculus xrstreamingclient-20221101-114158](https://user-images.githubusercontent.com/55663044/199182526-7babe622-52b2-44f3-8cef-cc0478c3cd9c.jpg)
![com oculus xrstreamingclient-20221031-174101]

[2022-11-01 18:40] 1runeberg opened #196 "I get this error when I try to play my unreal packaged build with my oculus in SteamVR"
<h2>I get this error when I try to play my unreal packaged build with my oculus in SteamVR</h2>
<h3>How can I fix this I am using unreal engine 5 I get this error when I try to play with steam VR</h3>

![com oculus xrstreamingclient-20221101-114158](https://user-images.githubusercontent.com/55663044/199182526-7babe622-52b2-44f3-8cef-cc0478c3cd9c.jpg)
![com oculus xrstreamingclient-20221031-174101]

[2022-11-01 18:42] 1runeberg commented on #196
Hi @aadeshrao123 - I opened a new issue for this:

https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/196

[2022-11-01 18:44] 1runeberg commented on #113
Hi @aadeshrao123 - I opened a new issue for this:

https://github.com/ValveSoftware/steamvr_unreal_plugin/issues/196

[2022-11-01 18:44] #113 closed, assigned to 1runeberg

[2022-11-01 18:45] 1runeberg commented on #196
Can you share your steamvr_ue_editor_app.json file please (in your project's config directories) and all files under "SteamVRBindings".

[2022-11-02 04:57] aadeshrao123 commented on #196
https://drive.google.com/file/d/1rwRyBPg8_o0FV458jW6_CeSY2Iiznzfr/view?usp=sharing

[2022-11-03 00:06] 1runeberg commented on #196
Thanks for that. You have some action names with special characters on them (/). The plugin normally would automatically remove these before generating the json files, but not sure why it's getting through in your case.

Can you first try removing any special characters on your action names (other than underscore)?

[2022-11-21 13:30] Azool2 opened #197 "Axis binding SteamVr"
Here are my issues with Steam VR Axis binding:
https://youtu.be/JSdHVT8JOEI

Thank you for your time.

[2022-11-30 17:25] 1runeberg commented on #197
Hi @Azool2 - sorry about the delayed response, I somehow missed the github notification for this issue.

Anyways, really appreciate the detailed report you sent. In the video, at 1:42, it seems like you've got your personal input bindings enabled and not the default one that the engine is sending:

![image](https://user-images.githubusercontent.com/17371351/204865777-5e0a975e-d9ec-4488-827c-40891a